@import "../../layouts/CoreLayout/CoreLayout";

.open-content-list{
  @include clx;
  li{
    float: left;
    margin-right: 17px;
    position: relative;
    margin-bottom: 14px;
    width: 279px;
    text-align: center;
    background: $white-color;
    border-radius: 3px;
    overflow: hidden;
    &:hover{
      box-shadow: 0 0 8px rgba(187,187,187,0.9);
    }
  }
  li:nth-child(3n){
    margin-right: 0;
  }
}
.open-content-info{
  display: block;
  .sizeTxt{
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
    i{
      font-style: normal;
    }
  }
  .open-info-name{
      padding: 13px 34px 0px;
      height: 38px;
      font-size: 18px;
      color: $black-color;
      @include font-hidden;
      white-space:nowrap;
  }
  .open-user-name{
    display: block;
    padding: 0 14px;
    font-size: 12px;
    color: $gray6-color;
    @include font-hidden;
    white-space:nowrap;
    .user-img {
      display: inline-block;
    }
  }
  .open-list-img{
    display: inline-block;
    margin: 18px 0 14px;
    width: 96px;
    height: 96px;
    border-radius: 6px;
    overflow: hidden;
    background: #eee;
  }
  .open-info-introduce{
    padding: 0 14px;
    height:  58px;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    color: $gray6-color;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include font-hidden;
  }
}
.open-list-show{
  a{
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 13px;
    color: $gray9-color;
    line-height: 38px;
    background: #dde1e7;
    border-right : 1px solid $graye-color;
    border-color: $white-color;
    cursor: default;
    }
  a:last-of-type{
    border: none;
  }
}

.open-list-price{
  display: block;
  margin: 8px 6px 0 6px;
  font-size: 18px;
  color: $blue-color;
  font-weight: bold;
  line-height: 40px;
  border-top : 1px solid $graye-color;
  i{
    font-size: 16px;
    font-style: normal;
  }
  a {
    color: #2692fb;
  }
}
.user-img{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../../routes/Home/assets/data-logo.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.open-list-start{
  position: absolute;
  top: 4px;
  right: 28px;
  i{
    position: absolute;
    font-size: 22px;
    cursor: pointer;
  }
}
.icon-uncollected1{
  color: #d2d2d2;
  background: $white-color;
  &:hover{
    opacity: 0;
  }
}
.icon-start-hover{
  color: #2692fb;
}
