@import "../../layouts/CoreLayout/CoreLayout";

.sub-container{
  @include sub-container;
}
.open-content-list{
  @include clx;
  li{
    float: left;
    margin-right: 17px;
    position: relative;
    margin-bottom: 14px;
    width: 279px;
    text-align: center;
    background: $white-color;
    border-radius: 4px;
    overflow: hidden;
    &:hover{
      box-shadow: 0 0 8px rgba(187,187,187,0.9);
    }
    img{
      margin: 20px 0;
      width: 96px;
      height: 96px;
      border-radius: 6px;
      overflow: hidden;
    }
  }
  li:nth-child(3n){
    margin-right: 0;
  }
}
.open-content-info{
  display: block;
  .open-info-name{
      padding: 16px 34px 0px;
      height: 40px;
      font-size: 18px;
      color: $black-color;
      @include font-hidden;
      @include font-nowrap;
  }
  .open-user-name{
    display: block;
    margin-top: 4px;
    padding: 0 14px;
    font-size: 12px;
    color: $gray6-color;
    @include font-hidden;
    @include font-nowrap;
    .user-img{
      margin-right: 4px;
    }
  }
  .open-info-introduce{
    padding: 0 14px;
    height:  58px;
    font-size: 13px;
    line-height: 20px;
    color: $gray6-color;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include font-hidden;
  }
}
.open-list-show{
  a{
    display: inline-block;
    width: 93px;
    text-align: center;
    font-size: 16px;
    color: $gray9-color;
    line-height: 38px;
    background: #dde1e7;
    @include border-right;
    border-color: $white-color;
    }
  a:last-of-type{
    border: none;
  }
}

.sub-container-banner{
  width: 100%;
  height: 276px;
  background: url(../../routes/Home/assets/sub-container-banner1.jpg) no-repeat;
  background-size: 100%;
}
.open-content-nav{
  @include clx;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  color: $black-color;
  form{
    @include float-right;
    font-size: 14px;
    color: $gray9-color;
    p{
      @include float-left;
      padding: 0 4px;
    }
    select{
      display: inline-block;
      padding-left: 10px;
      width: 110px;
      height: 29px;
      color: $gray9-color;
      font-size: 14px;
      background: #fff url(../../routes/Home/assets/arrD.png) no-repeat 86px center;
      background-size: 14px 8px;
      border: 1px solid $gray9-color;
      border-radius: 5px;
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
      outline: none;
    }
  }
}
.icon-hot-control{
  font-size: 16px;
  margin-right: 2px;
  color: $gray6-color;
}
.open-list-price{
  display: block;
  margin: 8px 6px 0 6px;
  font-size: 18px;
  color: $blue-color;
  line-height: 40px;
  @include border-top;
}
.user-img{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../../routes/Home/assets/data-logo.png) no-repeat;
  background-size: 100%;
  vertical-align: sub;
}
.open-list-start{
  position: absolute;
  top: 6px;
  right: 36px;
  i{
    position: absolute;
    font-size: 22px;
    cursor: pointer;
  }
}
.icon-uncollected{
  color: #d2d2d2;
  background: $white-color;
  &:hover{
    opacity: 0;
  }
}
.icon-start-hover{
  color: #2692fb;
}
