@import "../../routes/Open/index";

.sub-container{
  @include sub-container;
}
.open-content-list{
  @include open-content-list;
}
.sub-container-banner{
  @include sub-container-banner;
  background: url(../../routes/Home/assets/sub-container-banner1.jpg) no-repeat;
  background-size: 100%;
}
.open-content-nav{
  @include open-content-nav;
}
.icon-hot-control{
  font-size: $text-font-size - 2px;
}
.open-list-price{
  @include open-list-price;
}
.user-img{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../../routes/Home/assets/nav_logo.png) no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.open-list-start{
  position: absolute;
  top: 6px;
  right: 36px;
  i{
    position: absolute;
    font-size: $text-font-size + 2px;
  }
}
.icon-uncollected{
  background: $white-color;
  &:hover{
    opacity: 0;
  }
}
.icon-start-hover{
  color: #2692fb;
}
