@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
.step_form{
    width: 100%; 
    @include float-right; 
    padding: 0 $default-padding-left - 25px;
    background: $white-color;
    &_row{
        margin: $default-margin-top - 12px 0 $default-margin-bottom + 5px; 
        @include clx;
        overflow: hidden;
        &_label{ 
            width: $default-width - 22px; 
            font-size: $text-font-size - 4px; 
            color: $black-color; 
            padding-left: $default-padding-left - 29px; 
            margin-right: $default-margin-right + 5px; 
            line-height: 30px; 
            @include float-left; 
            text-align: right;
            &_icon{
                position: relative;
                i{
                    position: absolute;
                    top: 1px;
                    left: 548px;
                }
            }
        }
        &_right{
            margin: 0;
            @include float-left; 
            &_inputT{
                width: $default-width + 349px; 
                height: $default-height - 71px; 
                font-size: $text-font-size - 5px; 
                color: #020202; 
                border: 1px solid #dddddd; 
                padding-left: $default-padding-left - 31px;
                outline: none;
                &::selection{
                    background: #ace4fe;
                }
            }
            &_textarea{
                width: $default-width + 349px; 
                height: $default-height + 40px; 
                border: 2px solid #dddddd; 
                resize: none;
                outline: none;
                padding: $default-padding-left - 30px;
            }
            &_select{
                 width: $default-width + 272px; 
                 height: $default-height - 72px; 
                 font-size: $text-font-size - 7px;  
                 padding: 0 $default-padding-left - 32px; 
                 outline: none;
                 appearance:none;
                 -moz-appearance:none;
                 -webkit-appearance:none;
                 background: url(../../../../Home/assets/arrD.png) no-repeat 352px center;
                 background-size: 12px 6px;
                 cursor: pointer;
            }
            &_p{
                font-size: $text-font-size - 7px; 
                color: $gray9-color; 
                line-height: 24px;
            }
            &_file{
                display: block;
                position: relative;
                cursor: pointer;
                &_btn{
                    width: $default-width + 30px; 
                    height: $default-height - 67px; 
                    line-height: 30px; 
                    text-align: center; 
                    font-size: $text-font-size - 6px; 
                    color: $black-color; 
                    display: block; 
                    border: 1px solid #dddddd; 
                    border-radius: 2px; 
                    background: $white-color; 
                    position: relative; 
                    margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                    cursor: pointer;
                }
                &_upload{
                    width: $default-width + 30px; 
                    height: $default-height - 67px; 
                    position: absolute; 
                    left: 0; 
                    top: 0; 
                    opacity: 0; 
                    filter: alpha(opacity=0); 
                    cursor: pointer;
                }
            }
            &_img{
                width: $default-width;
                height: $default-height;
                margin-right:5px;
            }
            &_ul{
                width: $default-width + 450px;
            }
            &_li{
                width: $default-width - 26px;
                height: $default-height - 71px;
                line-height: 29px;
                font-size: $text-font-size - 7px;
                color: #aaaaaa;
                text-align: center;
                border: 1px solid #a0a0a0;
                border-radius: 2px;
                float: left;
                margin: 0 $default-margin-right - 25px $default-margin-bottom - 20px 0;
                cursor: pointer;
                &.active,&:hover{
                    background-color: dodgerblue;
                    color: $white-color;
                    border-color: dodgerblue;
                }
            }
            /*第二步应用文件样式start*/
            &_browse{
                position: relative;
            }
            &_inputName{
                width:$default-width + 100px;
                height: $default-height - 71px; 
                font-size: $text-font-size - 5px; 
                color: #020202; 
                border: 1px solid #dddddd; 
                padding-left: $default-padding-left - 31px;
                outline: none;
                margin-right: $default-margin-right - 30px;
            }
            &_inputB{
                width: 48px;
                height: $default-height - 71px; 
                cursor: pointer;
            }
            &_inputF{
                width: 48px;
                height: $default-height - 71px;
                position: absolute;
                left:210px;
                top: 0;
                filter: alpha(opacity=0);
                opacity: 0;
                cursor: pointer;
            }
            /*第二步应用文件样式end*/
        }
    }
    &_btn{
        height: $default-height + 29px;
        border-top: 1px solid #ededed;
        text-align: center;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #1a8ffe;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: 35px;
            margin-top: $default-margin-top - 10px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
    } 
}
