<<<<<<< HEAD:src/routes/Developer/routes/Apps/components/step.scss
@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
$step_background:#eff3f3;
$step_rotate_background:#c2c6d0;
$branch_line_background:#bbbfca;

.step{
    width: 100%;
    background: $white-color; 
    padding: 0 $default-padding-left - 25px;
    & &_h2{
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        height: $default-height - 51px; 
        line-height: $default-height - 51px; 
        padding-left: $default-padding-left - 29px;
    }
    &_branchBox{
        background: $step_background; 
        padding: $default-padding-top - 15px $default-padding-left + 12px  $default-padding-bottom - 28px; 
        @include clx;
    }
    &_branch{
        @include float-left; 
        text-align: center;
        &_num{
            width: $default-width - 33px; 
            height: $default-height - 33px; 
            display: block;
            border-radius: 50%; 
            background: $step_rotate_background; 
            box-shadow: 5px 5px 5px rgba(209,211,218,0.23) inset;
            font-size: $text-font-size + 15px; 
            color: $white-color; 
            line-height: $default-height - 33px; 
            text-align: center; 
            margin: 0 $default-padding-left - 13px $default-padding-bottom - 30px;
        }
        &_text{
            font-size: $text-font-size - 6px; 
            color: $gray6-color;
        }
    }
    &_branch.active{
      .step_branch_num{
       background: -webkit-linear-gradient(#57acff,$blue-color);
      }
      .step_branch_text{
        color: $blue-color;
      }
    }
    &_branch_line{
        width: $default-width + 80px; 
        height: $default-height - 98px; 
        background: $branch_line_background; 
        @include float-left;
        margin-top: $default-margin-top - 8px;
    }
}
=======
@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
$step_background:#eff3f3;
$step_rotate_background:#c2c6d0;
$branch_line_background:#bbbfca;

.step{
    width: 100%;
    background: $white-color; 
    padding: 0 $default-padding-left - 25px;
    & &_h2{
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        height: $default-height - 51px; 
        line-height: $default-height - 51px; 
        padding-left: $default-padding-left - 29px;
    }
    &_branchBox{
        background: $step_background; 
        padding: $default-padding-top - 15px $default-padding-left + 12px  $default-padding-bottom - 28px; 
        @include clx;
    }
    &_branch{
        @include float-left; 
        text-align: center;
        &_num{
            width: $default-width - 33px; 
            height: $default-height - 33px; 
            display: block;
            border-radius: 50%; 
            background: $step_rotate_background; 
            box-shadow: 5px 5px 5px rgba(209,211,218,0.23) inset;
            font-size: $text-font-size + 15px; 
            color: $white-color; 
            line-height: $default-height - 33px; 
            text-align: center; 
            margin: 0 $default-padding-left - 13px $default-padding-bottom - 30px;
        }
        &_text{
            font-size: $text-font-size - 6px; 
            color: $gray6-color;
        }
    }
    &_branch.active{
      .step_branch_num{
       background: -webkit-linear-gradient(#57acff,$blue-color);
      }
      .step_branch_text{
        color: $blue-color;
      }
    }
    &_branch_line{
        width: $default-width + 80px; 
        height: $default-height - 98px; 
        background: $branch_line_background; 
        @include float-left;
        margin-top: $default-margin-top - 8px;
    }
}
>>>>>>> 62371ad650e83311b495accde46d174fc01520be:src/routes/Developer/routes/Apps/components/create.scss
