@import 'src/styles/v/base.scss';
.main {
	color: #333;
	font-size: 14px;
	padding: 20px;
	.detail-wrapper {
		.img {
			width: 140px;
			height: 140px;
			display: block;
			float: left;
			border-radius: 14px;
			margin-right:30px;
		}
		.appInfo {
			overflow: hidden;
			.title {
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 20px;
				word-break: break-all;
				text-align: justify;
			}
		}
	}
	.publish-wrapper{
		.list{
			margin-top: 10px;
			.item{
				width: 80px;
			}
		}
	}
}
.list-wrapper {
	margin-bottom: 20px;
	.list-title {
		font-size: 16px;
		line-height: 24px;
	}
	.con-wrapper {
		color: #666;
		line-height: 22px;
		word-break: break-all;
		text-align: justify;
		.list {
			display: flex;
			.item {
				color: #999;
			}
			.text {
				flex: 1;
				color: $site-blue;
				margin-left: 10px;
				word-break: break-all;
				text-align: justify;
			}
			.publish-text{
				width: 100%;
				color: #333;
			}
		}
	}
}
