@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
$border-color:#dddddd;
$text-color:#020202;
.form-row{
    width: $sub-container-width;
    padding: $default-margin-top - 12px $default-padding-left - 25px $default-margin-bottom + 5px; 
    @include clx;
    overflow: hidden;
    background: $white-color;
    label{ 
        width: $default-width - 22px; 
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        padding-left: $default-padding-left - 29px; 
        margin-right: $default-margin-right + 5px; 
        line-height: $text-line-height - 10px; 
        @include float-left; 
        text-align: right;
        position: relative;
        i{
            position: absolute;
            top: 1px;
            left: 548px;
        }
    }
    .row-right{
        margin: 0;
        @include float-left; 
        input[type="text"]{
            width: $default-width + 349px; 
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            input[type="text"]::selection{
                background: #ace4fe;
            }
        }
        textarea{
            width: $default-width + 349px; 
            height: $default-height + 40px; 
            border: 2px solid $border-color; 
            resize: none;
            outline: none;
            padding: $default-padding-left - 30px;
        }
        select{
             width: $default-width + 272px; 
             height: $default-height - 72px; 
             font-size: $text-font-size - 7px;  
             padding: 0 $default-padding-left - 32px; 
             outline: none;
             appearance:none;
             -moz-appearance:none;
             -webkit-appearance:none;
             background: url(../../../../Home/assets/arrD.png) no-repeat 352px center;
             background-size: 12px 6px;
             cursor: pointer;
             border-color: $border-color;
        }
        p{
            font-size: $text-font-size - 7px; 
            color: $gray9-color; 
            line-height: $text-line-height - 16px;
        }
        span{
            display: block;
            position: relative;
            cursor: pointer;
            input[type="button"]{
                width: $default-width + 30px; 
                height: $default-height - 67px; 
                line-height: $text-line-height - 10px; 
                text-align: center; 
                font-size: $text-font-size - 6px; 
                color: $black-color; 
                display: block; 
                border: 1px solid $border-color; 
                border-radius: 2px; 
                background: $white-color; 
                position: relative; 
                margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                cursor: pointer;
            }
            input[type="file"]{
                width: $default-width + 30px; 
                height: $default-height - 67px; 
                position: absolute; 
                left: 0; 
                top: 0; 
                opacity: 0; 
                filter: alpha(opacity=0); 
                cursor: pointer;
            }
        }
        img{
            width: $default-width;
            height: $default-height;
            margin-right:$default-margin-right - 35px;
        }
        
        li{
            width: $default-width - 26px;
            height: $default-height - 71px;
            line-height: $text-line-height - 11px;
            font-size: $text-font-size - 7px;
            color: $graya-color;
            text-align: center;
            border: 1px solid $border-color;
            border-radius: 2px;
            float: left;
            margin: 0 $default-margin-right - 25px $default-margin-bottom - 20px 0;
            cursor: pointer;
            &.active,&:hover{
                background-color: dodgerblue;
                color: $white-color;
                border-color: dodgerblue;
            }
        }
        /*第二步应用文件样式start*/
        
        .file-name{
            width:$default-width + 100px;
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            margin-right: $default-margin-right - 30px;
            float: left;
        }
        .file-btn{
            width: $default-width - 52px;
            height: $default-height - 71px; 
            line-height:$text-line-height - 11px;
            font-size: $text-font-size - 5px;
            border: 1px solid $border-color; 
            text-align: center;
            cursor: pointer;
            float: left;
        }

        /*第二步应用文件样式end*/
    }
    .row-right.max-width{
        width: $default-width + 450px;
    }
}
.form-row.file-position{
    position: relative;
}
.form-btn{
    width: $sub-container-width;
    background: $white-color;
    padding: 0 $default-padding-left - 25px;
    height: $default-height + 29px;
    text-align: center;
    div{
        border-top: 1px solid #ededed;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #1a8ffe;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: $text-line-height - 5px;
            margin-top: $default-margin-top - 10px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
    }
} 

