@import "../../../layouts/CoreLayout/CoreLayout";

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.home-banner{
  height: $default-height + 350px;
  background: url(../assets/banner-bg1.jpg) no-repeat;
  background-size: 100%;
  text-align: center;
  dl{
    padding-top: $default-padding-top + 70px;
    color: $white-color;
    line-height: $text-line-height + 20px;
    text-shadow: 1px 0 2px rgba(72,70,134,0.6);
    dt{
      font-size: $text-font-size + 30px;
    }
    dd{
      font-size: $text-font-size + 12px;
    }
  }
  p{
    color: $white-color;
    a{
      margin: 10px;
    }
    a:last-of-type{
      background: rgba(255,255,255,0.3);
    }
  }
  
}
.home_reminder{
  height: $default-height - 60px;
  line-height: $text-line-height;
  color: $gray6-color;
  font-size: $text-font-size + 4px;
  background: $grayf-color;
  div{
    span:nth-of-type(1){
      padding-left: 24px;
      background: url(../assets/remind_trumpet.png) no-repeat left center;
      background-size: 18px 16px;
      i{
        width: 24px; height: 14px;
        background: url(../assets/remind_newicon.png) no-repeat;
        background-size: 100%;
      }
    }
    span:nth-of-type(2){
      @include float-right;
      padding-right: 14px;
      background: url(../assets/more_into_gray.png) no-repeat right center;
      background-size: 8px 16px;
    }
  }
}
.home_f{
  margin: 19px auto;
  overflow:hidden;
  border: 1px solid $graye-color;
  .developer_width{
    width:25%;
  }
  li{
    @include float-left;
    @include border-right;
    margin: 27px 0;
    padding: 0 43px; 
    text-align: center;
    a{
      display: block;
    }
    h3{
      color: $gray3-color;
      font-size: $text-font-size + 4px;
      line-height: 44px;
    }
    p,span{
      color: $gray6-color;
      font-size: $text-font-size + 4px;
      line-height: 26px;
    }
    span{
      text-decoration: underline;
    }
    i{
      width: 80px; height: 80px;
      background: url(../assets/home_f.png) no-repeat;
    }
    .homef-business{
      background-position: 0 0;
    }
    .homef-developer{
      background-position: -80px 0;
    }
    .homef-openmarket{
      background-position: -160px 0;
    }
  }
  li:nth-last-child(1){
    border-right: none;
  }
}
.clx{overflow:auto;zoom:1;width:100%;}
