@import "../../../layouts/CoreLayout/CoreLayout";

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.banner{
  height:505px;
  background: url(../assets/home_bannerbg.jpg) no-repeat;
  .view-width{
    width: $view-width;
    margin: $view-margin;
  }
}
.login_in{
  @include float-right;
  margin: 28px 0px;
  width: 400px; height: 330px;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  form{
    padding: 20px 40px;
    input{
      border-radius: 0;
    }
    input:nth-of-type(2){
      border-top: none;
    }
  }
}
.loginin_top{
  height: 66px;
  line-height: 66px;
  @include line-bottom;
  h5{
    @include float-left;
    width: 49%;
    font-size: 18px;
    line-height: 66px;
    text-align: center;
  }
  span{
    @include float-left;
    width: 2%;
    color: $text-bggray-color;
  }
}
.home_reminder{
  height: $reminder-height;
  line-height: $reminder-height;
  color: $text-gray6-color;
  font-size: $homefpSize;
  background: $bg-gray-color;
  div{
    span:nth-of-type(1){
      padding-left: 24px;
      background: url(../assets/remind_trumpet.png) no-repeat left center;
      background-size: 18px 16px;
      i{
        width: 24px; height: 14px;
        background: url(../assets/remind_newicon.png) no-repeat;
        background-size: 100%;
      }
    }
    span:nth-of-type(2){
      @include float-right;
      padding-right: 14px;
      background: url(../assets/more_into_gray.png) no-repeat right center;
      background-size: 8px 16px;
    }
  }
}
.home_f{
  margin: 19px auto;
  overflow:hidden;
  border: 1px solid $navsecond-bg;
  .developer_width{
    width:25%;
  }
  li{
    @include float-left;
    @include line-right;
    margin: 27px 0;
    padding: 0 43px; 
    text-align: center;
    a{
      display: block;
    }
    h3{
      color: $text-gray3-color;
      font-size: $homefhSize;
      line-height: 44px;
    }
    p,span{
      color: $text-gray6-color;
      font-size: $homefpSize;
      line-height: 26px;
    }
    span{
      text-decoration: underline;
    }
    i{
      width: 80px; height: 80px;
      background: url(../assets/home_f.png) no-repeat;
    }
    .homef-business{
      background-position: 0 0;
    }
    .homef-developer{
      background-position: -80px 0;
    }
    .homef-openmarket{
      background-position: -160px 0;
    }
  }
  li:nth-last-child(1){
    border-right: none;
  }
}
.clx{overflow:auto;zoom:1;width:100%;}
