@import "../../../layouts/CoreLayout/CoreLayout";

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.home-banner{
  position: relative;
  min-width: 1100px;
  height: 450px;
  text-align: center;
  background-size: 100%;
  background-size: cover;
  dl{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
//  padding-top: 130px;
    color: $white-color;
    line-height: 60px;
    text-shadow: 1px 0 2px rgba(72,70,134,0.6);
    dt{
      font-size: $text-font-size + 30px;
    }
    dd{
      font-size: $text-font-size + 12px;
    }
  }
  p{
    position: absolute;
    top: 275px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .btn-left,.btn-right{
    margin: 0 10px;
    height: 45px;
    width: 140px;
    font-size: 22px;
    color: $white-color;
    box-shadow: 0 1px 4px rgba(20,137,74,0.5);
  }
  .btn-right{
    color: #fff;
    background: rgba(255,255,255,0.3);
    &:hover{
      background: rgba(255,255,255,0.4);
    }
  }
  .banner1,.banner2,.banner3,.banner4{
    height: 450px;
    position: relative;
  }
}
.banner-img{
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 450px;
  img{
    width: 100%;
    height: 450px;
  }
}
.home-reminder{
  min-width: 1100px;
  height: $default-height - 60px;
  line-height: $text-line-height;
  color: $gray6-color;
  font-size: $text-font-size - 6px;
  span{
    font-size: 14px;
    color: $gray3-color;
    .icon-laba{
      font-size: 18px;
      color: $gray9-color;
      vertical-align: middle;
    }
    i:nth-of-type(2){
      margin-left: 5px;
      width: 24px; height: 14px;
      background: url(../assets/remind_newicon.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  a{
    @include float-right;
    padding-right: 14px;
    color: $gray6-color;
    font-size: 12px;
    background: url(../assets/more_into_gray.png) no-repeat right center;
    background-size: 8px 16px;
  }
}
.home-market{
  @include clx;
  padding-top: $default-padding-top;
  padding-bottom: $default-padding-bottom;
  min-width: 1100px;
  text-align: center;
  background: $white-color;
  h3{
    font-size: $text-font-size + 16px;
    color: $black-color;
    line-height: $text-line-height + 10px;
    span{
      font-size: $text-font-size + 18px;
    }
  }
  p{
    font-size: $text-font-size - 6px;
    color: $gray9-color;
    line-height: $text-line-height;
  }
  ul{
    padding-top: $default-padding-top - 24px;
    li{
      @include float-left;
      padding-left: $default-padding-left - 20;
      padding-right: $default-padding-right - 20;
      width: 25%;
      &:hover{
        opacity: 0.8;
      }
      a{
        display: block;
        height: $default-height + 200px;
        p{
          padding-top: $default-padding-top - 30px;
          font-size: $text-font-size + 4px;
          color: $white-color;
          line-height: $text-line-height + 20px;
        }
        i{
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          font-size: $text-font-size + 30px;
          line-height: $text-line-height + 60px;
          text-align: center;
          background: $white-color;
          border-radius: 50%;
        }
        .market-text{
          height: 68px;
          margin-bottom: 28px;
          padding: 20px 16px 0;
          color: $white-color;
          line-height: $text-line-height - 16px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          @include font-hidden;
        }
        .market-more{
          font-size: 12px;
          color: $white-color;
          opacity: 0.7;
        }
      }
    }
  }
  .a-bg1,.i-color1{
    background: #2a89dd;
    i{
      color: #2a89dd;
    }
  }
  .a-bg1{
    background: #2a89dd;
    i{
      color: #2a89dd;
    }
  }
  .a-bg2{
    background: #6189d8;
    i{
      color: #6189d8;
    }
  }
  .a-bg3{
    background: #42a7bd;
    i{
      color: #42a7bd;
    }
  }
  .a-bg4{
    background: #5ac49d;
    i{
      color: #5ac49d;
    }
  }
}
.home-casus{
  padding-top: $default-padding-top - 30px;
  padding-bottom: $default-padding-bottom - 20px;
  min-width: 1100px;
  background: $white-color;
  a{
    cursor: default;
  }
  ul{
    padding-top: $default-padding-top;
    text-align: center;
    li{
      padding-bottom: $default-padding-bottom;
      @include float-left;
      position: relative;
      padding-left: $default-padding-left - 30;
      padding-right: $default-padding-right - 30;
      width: 25%;
      a{
        display: block;
        padding: 34px 20px;
        height: $default-height + 220px;
        border: 1px solid $graye-color;
      }
      a:hover{
        border-color: $blue-color;
        p{
          color: $blue-color;
        }
      }
      h3{
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -35px;
        width: 70px;
        color: $blue-color;
        font-size: $text-font-size - 2px;
        background: $white-color;
      }
      p{
        padding-top: $default-padding-top + 30px;
        color: $gray9-color;
        font-size: $text-font-size - 6px;
        line-height: $text-line-height - 16px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include font-hidden;
      }
    }
  }
  .home-casus-img1,.home-casus-img2,.home-casus-img3,.home-casus-img4,{
    i{
      display: block;
    }
    .casus-img1{
      width: 100%;
      height: $default-height + 30px;
    }
    .casus-img2{
      position: absolute;
      left: 50%;
      top: 142px;
      margin-left: -25px;
      width: $default-width - 50px;
      height: $default-height - 50px;
      border-radius: 50%;
      border: 1px solid $gray9-color;
    }
  }
  .home-casus-img1{
    .casus-img1{
      background: #eee url(../assets/temp-img1-1.jpg) no-repeat;
      background-size: 100%;
    }
    .casus-img2{
      background: #eee url(../assets/temp-img1-2.jpg) no-repeat;
      background-size: 100%;
    }
  }
  .home-casus-img2{
    .casus-img1{
      background: #eee url(../assets/temp-img2-1.jpg) no-repeat;
      background-size: 100%;
    }
    .casus-img2{
      background: #eee url(../assets/temp-img2-2.jpg) no-repeat;
      background-size: 100%;
    }
  }
  .home-casus-img3{
    .casus-img1{
      background: #eee url(../assets/temp-img3-1.jpg) no-repeat;
      background-size: 100%;
    }
    .casus-img2{
      background: #eee url(../assets/temp-img3-2.jpg) no-repeat;
      background-size: 100%;
    }
  }
  .home-casus-img4{
    .casus-img1{
      background: #eee url(../assets/temp-img4-1.jpg) no-repeat;
      background-size: 100%;
    }
    .casus-img2{
      background: #eee url(../assets/temp-img4-2.jpg) no-repeat;
      background-size: 100%;
    }
  }
}
.home-casus-header{
  position: relative;
  padding-bottom: $default-padding-bottom - 20px;
  text-align: center;
  z-index: 1;
  h3{
    width: 160px;
    margin: 0 auto;
    font-size: $text-font-size + 10px;
    background: $white-color;
  }
  i{
    display: block;
    position: absolute;
    top: 16px;
    width: 100%;
    height: 1px;
    background: $grayf-color;
    z-index: -1;
  }
}
.footer{
  min-width: 1100px;
  height: $default-height + 20;
  font-size: $text-font-size - 4;
  color: $white-color;
  line-height: $text-line-height + 20;
  background: #333639;
}
