.content{
	margin-top: 16px;
 	width: 874px;
 	padding:0 12px 24px;
 	margin-left: 220px;
  	background: #fff;
 	.header{
		line-height: 72px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid #999999;
		.return{
			padding-left: 14px;
			font-size: 16px;
			color: #2692fb;
			i{
				vertical-align: middle;
			}
		}
		.tab{
			overflow: hidden;
			display: none;
			li{
				margin: 0 16px;
				padding: 0 14px;
				float: left;
				color: #333;
				&.active{
					border-bottom: 2px solid #2692fb;
				}
			}
		}
	}
	.tab-box{
		.box-content{
			overflow: hidden;
			&.active{
				display:block
			}
			.detail-content{
				display: flex;
				padding: 20px 0 25px;
				img{
					width: 140px;
					height: 140px;
					margin-right: 24px;
				}
				.detail{
					flex: 1;
					dt{
						font-size: 24px;
						color: #000;
					  line-height: 28px;
					}
					dd{
						margin-top: 8px;
					  font-size: 12px;
					  line-height: 18px;
					  color: #666;
					  overflow: hidden;
					  .user-img {
							float: left;
						    margin-right: 5px;
						    width: 20px;
						    height: 20px;
						    border-radius: 50%;
						    overflow: hidden;
						    background: url(http://timg.ffan.com/convert/resize/url_T13TWTBXAy1RCvBVdK/tfs/1.png) no-repeat;
						    background-size: 100% 100%;
						    vertical-align: middle;
						}
						span{
							width: 594px;
						  float: left;
						  padding-top: 2px;
						}
					}
					.app-title{
						margin-top: 30px;
					  font-size: 18px;
					  color: #000;
					}
					.app-text{
						  margin-top: 4px;
					    font-size: 14px;
					    line-height: 24px;
					    color: #000;
					    word-break: break-all;
					}
				}
			}
			.content-title{
				line-height: 50px;
				background: #eee;
				padding-left: 20px;
				font-weight: normal;
				color: #666666;
				text-align: left;
			}
			.yesterday-business{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 20px;
				.common{
					.item-name{
						display: block;
						margin-bottom: 15px;
					  	font-size: 16px;
					  	color: #aaaaaa;
					}
					.item-num{
						font-size: 25px;
						color: #000000;
						font-weight: bold;
						display: inline-block;
						word-break: break-all;
					}
				}
				.yesterday{
					flex: 4;
					.list{
						.item{
							width: 25%;
							float: left;
							padding: 20px 20px 28px;
							text-align: center;
						}
					}
				}
				.business{
					flex: 1;
					margin-left: 12px;
					text-align: center;
					border: 1px solid #eeeeee;
					.no-name{
						margin: 52px 0 20px;
					}
				}
			}
			.chart-show{
				.chart-title{
					line-height: 30px;
					margin-bottom: 16px;
					overflow: hidden;
					.chart-tab{
						float: left;
						text-align: center;
						margin-right: 10px;
						li{
							width: 88px;
							line-height: 25px;
							font-size: 14px;
							color: #666666;
							float: left;
							border: 1px solid #b5b5b5;;
							margin-left: -1px;
							cursor: pointer;
							background: #eeeeee;
							&:first-child{
								border-radius: 5px 0 0 5px;
							}
							&:last-child{
								border-radius: 0 5px 5px 0 ;
							}
							&.active{
								background: #2692FB;
								color: #fff;
								border-color: #2692fb;
								&+li{
									border-left-color: #2692fb;
								}
							}
						}
					}
				}
				.chart-content{
					.chart{
						height: 200px;
						margin-bottom: 20px;
						border: 1px solid #eee;
					}
				}
				.chart-table{
					.table{
						width: 100%;
						border-collapse: collapse;
						line-height: 44px;
						border: 1px solid #eeeeee;
						text-align: left;
						th{
							height:35px;
							font-size: 14px;
							color: #000000;
							padding-left: 10px;
							background: rgba(238,238,238,0.35);
						}
						td{
							border-bottom: 1px dashed #dbdbdb;
							word-break: break-all;
							padding-left: 10px;
						}
					}
				}
			}
		}
	}
}