@import 'src/styles/v/base.scss';
.alert-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	z-index: 999;
	.content {
		width: 860px;
		padding: 20px 20px 40px;
		background: #fff;
		border-radius: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		.title {
			font-size: 16px;
			padding: 0 20px;
			line-height: 50px;
			border-bottom: 1px solid $site-border-gray;
			display: flex;
			justify-content: space-between;
			.name {
				font-size: 16px;
			}
			.close{
				cursor: pointer;
				&:hover{
					color: $site-red;
				}
			}
		}
		.search {
			margin: 10px 20px 14px;
			position: relative;
			.input-search {
				width: 380px;
				height: 34px;
				padding-left: 28px;
				border-radius: 4px;
			}
			& > i {
				color: #ccc;
				position: absolute;
				left: 7px;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 2px;
			}
		}
		.alert-table {
			.table-thead{
				border-bottom: 1px solid #e7e7e7;
				th{
					&:first-child{
						width: 122px;
					}
					&:nth-child(2){
						width: 300px;
					}
					&:nth-child(3){
						width: 88px;
					}
					&:last-child{
						width: 112px;
					}
				}
			}
			.table-tbody{
				height: 288px;
				overflow-x: hidden;
				border: 1px solid #eee;
				border-top: 0;
			}
			.tableWrapper {
				color: #000;
				th {
					color: #666;
					border-right: 1px solid #fff;
					&:last-child {
						border: 0;
					}
				}
				tbody {
					tr {
						border-bottom: 1px solid $table-gray;
						td {
							text-align: center;
							&.imgWrap {
								width: 122px;
								img {
									width: 100px;
									height: 100px;
									display: block;
									margin: auto;
									overflow: hidden;
									border-radius: 8px;
								}
							}
							&.appInfo {
								width: 300px;
								text-align: left;
								.name {
									color: #000;
									width: 240px;
									display: inline-block;
									vertical-align: middle;
									@include text-overflow;
								}
								& > i {
									display: inline-block;
									vertical-align: middle;
								}
								.desc {
									color: #666;
									width: 290px;
									max-height: 35px;
									font-size: 12px;
									line-height: 1.5;
									margin-top: 10px;
									text-align: justify;
									@include multiple-text-overflow;
								}
								.link {
									color: #999;
									font-size: 12px;
									width: 290px;
									margin-top: 10px;
									display: block;
									@include text-overflow;
									& > i{
										color: #b3b3b3;
								    font-size: 13px;
								    vertical-align: -1px;
									}
								}
							}
							&.price {
								width: 88px;
								.name {
									font-size: 14px;
								}
							}
							.vStatus {
								margin-top: 8px;
								font-size: 14px;
								&:first-child {
									margin-top: 0;
								}
								.version,
								.text {
									display: inline-block;
									vertical-align: middle;
								}
								.version {
									margin-right: 10px;
								}
								.round {
									width: 8px;
									height: 8px;
									margin: 0 5px;
									border-radius: 50%;
									display: inline-block;
									vertical-align: middle;
								}
							}
							&.actions {
								width: 112px;
								.tableBtn {
									color: #666;
									width: 85px;
									height: 30px;
									display: block;
									font-size: 12px;
									margin: 5px auto;
									line-height: 28px;
								}
							}
						}
					}
				}
			}
		}
	}
}