@import 'src/styles/v/base.scss';

.upload-btn {
  width: 200px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-align: center;
  line-height: 33px;
  border-radius: 2px;
  cursor: pointer;
  .text {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid $site-border-gray;
    &:hover {
      border-color: $site-blue;
      color: $site-blue;
    }
  }
  .upload-file {
    display: none;
  }
}
.item-rule {
  margin-bottom: 20px;
}
.img-item {
  margin-top: 14px;
  display: none;
  &.active {
    display: block!important;
  }
  .upload-img {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    display: inline-block;
    border: 1px solid $site-border-gray;
    & > img{
    	width: 98px;
    	height: 98px;
    }
  }
}
