@import 'src/styles/v/base.scss';

.upload-btn {
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  .btn {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    border: 1px solid $site-border-gray;
    &:hover {
      border-color: $site-blue;
      color: $site-blue;
    }
  }
  .exist {
    margin-left: 20px;
  }
  .upload-file {
    display: none;
  }
}
.item-rule {
  margin-bottom: 20px;
}
.img-item {
  margin-top: 14px;
  display: none;
  &.active {
    display: block!important;
  }
  .upload-img {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    display: inline-block;
    border: 1px solid $site-border-gray;
    & > img{
    	width: 98px;
    	height: 98px;
    }
  }
}
