
.editor-left {
  float: left;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 180px;
}

.editor-view {
  background: #cccccc;
  height: 100%;
  left: 180px;
  position: absolute;
  right: 320px;
}

.editor-right {
  border-left: 1px solid #E9E9E9;
  float: right;
  height: 100%;
  width: 320px;
}

.sub-nav {
  height: 34px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 98;
}

.sub-nav li:first-child {
  border-right: solid 1px #1A1A1A;
}
.sub-nav>li {
  border-top: solid 1px #757575;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-align: center;
  width: 50%;
}
.sub-nav-active {
  border-bottom: 0 !important;
  opacity: 1 !important;
  filter: alpha(opacity=100)!important;
}

.sub-content {
  padding-top: 34px;
}
