@import "~layouts/CoreLayout/CoreLayout.scss";
$step_background:#eff3f3;
$step_rotate_background:#c2c6d0;
$branch_line_background:#bbbfca;

.step{
    background: $white-color; 
    padding: 0 $default-padding-left - 25px;
    .step-smallnav{
      padding: 10px 0;
      font-size: 14px;
      color: #666;
      border-bottom: 1px solid #eee;
      a{
        font-size: 14px;
        vertical-align: middle;
        padding-right: 4px;
        cursor: pointer;
      }
      .step-smallnav-arrow{
        padding: 0 4px;
      }
    }
}