.config-box{
    width: 874px;
    padding: 0 93px 45px 80px;
    overflow: hidden;
    background: #fff;
    margin-top: -45px;
    .config-contain{
        border-radius: 2px;
        border: 1px solid #ddd;
        overflow: hidden;
        margin-left: 109px;
        padding-top: 36px;
        .config-btn{
            width: 100px;
            height: 30px;
            background: #9bcd65;
            border: 1px solid #89ab62;
            border-radius: 2px;
            margin: 10px 12px 22px 0;
            float: right;
            cursor: pointer;
            display: none;
        }
        .config-clx{
            clear: both;
        }
        .config-item{
            position: relative;
            padding: 0 20px;
            overflow: hidden;
            .icon-close{
                font-size: 28px;
                color: #fc5c63;
                position: absolute;
                right: 22px;
            }
            .form-row{
                padding: 0;
                width:110px;
                float: left;
                label{
                    float: left;
                }
                select{
                    width: 110px;
                    height: 34px;
                    border-radius: 2px;
                    border: 1px solid #ddd;
                    color: #999999;
                    outline: none;
                    appearance:none;
                    -moz-appearance:none;
                    -webkit-appearance:none;
                    background: url(../../Home/assets/arrD.png) no-repeat 90px center;
                    background-size: 12px 6px;
                }
            }
            .config-textBox{
                float:left;
                margin: 0 0 34px 16px;
                .form-row{
                    float: none;
                    margin-bottom:12px;
                    width:380px;
                    padding-left: 0;
                    input{
                        width:380px;
                        height:34px;
                        border-radius: 2px;
                        border: 1px solid #ddd;
                        color: #999999;
                        padding-left: 10px;
                        outline: none;
                    }
                }
            }
        }
        .config-edit{
            margin: 0 20px 20px;
            border-radius: 2px;
            border: 1px dashed #ddd;
            height: 34px;
            line-height: 34px;
            text-align: center;
            color: #999999;
            i{
                margin-right: 2px;
            }
        }
    }
}