@import "../../../../../layouts/CoreLayout/CoreLayout";

.ccContentBtn{
      display: block;
      margin-bottom: 20px;
      overflow: hidden;
    }
.list-title {
  height: 48px;
  line-height: 48px;
  background: $grayf-color;
  @include border-top;
}
.no-padding-left {
  padding-left: 0px;
}