/*
 * Variables
 */

$white : #fff !default;
$black : #000 !default;
$red : #d9534f !default;
$orange : #f0ad4e !default;
$yellow : #ffd500 !default;
$green : #5cb85c !default;
//$blue : #0275d8 !default;
$blue : lightblue !default;
$teal : #5bc0de !default;
$pink : #ff5b77 !default;
$purple : #613d7c !default;
$nav-link-padding : .5em 1em !default;
$gray-light : #636c72 !default;

$brand-primary : $blue !default;

$border-radius : .25rem !default;
$component-active-color : $white !default;
$component-active-bg : $brand-primary !default;
$nav-disabled-link-color : $gray-light !default;

$nav-pills-border-radius : $border-radius !default;
$nav-pills-active-link-color : $component-active-color !default;
$nav-pills-active-link-bg : $component-active-bg !default;

$border-radius : .25rem !default;
$border-radius-lg : .3rem !default;
$border-radius-sm : .2rem !default;

$cursor-disabled : not-allowed !default;

/*
 * mixin
 */

@mixin border-radius($radius: $border-radius) {
  border-radius : $radius;
}

#clock-detail-container {
  h3{
    padding:10px 5px;
  }
  .nav {
    //display       : flex;
    padding-left  : 0;
    margin-bottom : 0;
    list-style    : none;
  }

  .nav-link {
    display : block;
    padding : $nav-link-padding;

    // Disabled state lightens text and removes hover/tab effects
    &.disabled {
      color  : $nav-disabled-link-color;
      cursor : $cursor-disabled;
    }
  }

  .nav-pills {
    .nav-link {
      @include border-radius($nav-pills-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color            : $nav-pills-active-link-color;
      cursor           : default;
      background-color : $nav-pills-active-link-bg;
    }
  }

}
