@import "../../../../layouts/CoreLayout/CoreLayout";

.sub-container{
  @include sub-container;
}
.plf{
  padding: 24px 12px;
}
.list-title {
  margin-top: $default-margin-top - 10;
  height: $default-height - 50;
  color: $gray6-color;
  line-height: $text-line-height + 10;
  background: $graye-color;
  @include border-top;
  li{
    @include float-left;
    text-align: center;
    border-right: 1px solid $white-color;
  }
  li:last-of-type{
    border: none;
  }
}
.no-padding-left {
  padding-left: 0px;
}

.list-header-nav{
  overflow: hidden;
}
.list-header-search{
  float: right;
  display: block;
  margin-top: 6px;
  padding: 0 6px;
  width: 300px;
  height: 30px;
  background: $graye-color;
  border-radius: 14px;
  overflow: hidden;
  .icon-search{
    float: left;
    margin-top: 2px;
    font-size: 24px;
    color: #8a8a8a;
  }
  .icon-close{
    float: right;
    margin-top: 6px;
    font-size: 18px;
  }
  input{
    padding-left: 4px;
    width: 240px;
    height: 30px; 
    font-size: 14px;
    color: $black-color;
    background: $graye-color;
    border:0;
    outline: none;
    &::-webkit-input-placeholder{
      color: $gray9-color;
    }
  }
}