@import "../../../../layouts/CoreLayout/CoreLayout";

.sub-container{
  @include sub-container;
}
.plf{
  padding: 24px 12px;
}
.list-title {
  margin-top: $default-margin-top - 10;
  height: $default-height - 50;
  color: $gray6-color;
  line-height: $text-line-height + 10;
  background: $graye-color;
  @include border-top;
  li{
    @include float-left;
    text-align: center;
    border-right: 1px solid $white-color;
  }
  li:last-of-type{
    border: none;
  }
}
.no-padding-left {
  padding-left: 0px;
}