.gui-wrap {
  position: relative;

  .slider-wrap {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0;
    bottom: 0;
  }

  .rangeslider {
    position: relative;
    background: #e6e6e6;
  }

  .rangeslider .rangeslider__fill,.rangeslider .rangeslider__handle {
    position: absolute
  }

  .rangeslider .rangeslider__handle {
      background: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
      display: inline-block;
      position: absolute
  }
  .rangeslider-vertical {
    height: 100%;
      width: 12px;
      border-radius: 10px;
      background: #555;
  }

  .rangeslider-vertical .rangeslider__fill {
      width: 100%;
      border-radius: 0 0 6px 6px;
      box-shadow: none;
      bottom: 0
  }

  .rangeslider-vertical .rangeslider__handle {
      width: 12px;
      height: 30px;
      border-radius: 6px;
      left: 0px;
      background: #3fa7ff;
      border: 1px solid #3fa7ff;
  }
}
.gui-container{
  background: #262c31;
  height: 278px;
  overflow: hidden;
  // overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    background: #444;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3fa7ff;
    border-radius: 5px;
  }

}

.gui-title {
  color: #4c627e;
  margin: 7px 0 0 20px;
  font-size: 11px;
  padding-left: 5px;
  border-left : #4c627e 3px solid;
}

.gui-list {
  overflow: hidden;
  border-bottom:1px solid #1a1e2a;
  &:last-child {
    border-bottom:none;
  }
  .items {
    float: left;
    width: 70px;
    margin: 10px 0 10px 10px;
    text-align: center;
  }
  .component {
    text-align: center;
    img {
      width: 50px;
      height: 50px;
      background: #97d6fe;
      border-radius: 4px;
      user-select: none;
    }
    .text {
      display: inline-block;
      width: 100%;
      margin-top: 5px;
      font-size: 12px;
      color: #758b9d;
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}