$scroll-width: 14px;

.gui-wrap {
  position: relative;
  .slider-wrap {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0;
    bottom: 0;
  }
  .rangeslider {
    position: relative;
    background: #e6e6e6;
  }
  .rangeslider .rangeslider__fill,
  .rangeslider .rangeslider__handle {
    position: absolute
  }
  .rangeslider .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute
  }
  .rangeslider-vertical {
    height: 100%;
    width: $scroll-width;
    border-radius: $scroll-width;
    background: #1a1e21;
  }
  .rangeslider-vertical .rangeslider__fill {
    width: 100%;
    border-radius: 0 0 6px 6px;
    box-shadow: none;
    bottom: 0
  }
  .rangeslider-vertical .rangeslider__handle {
    width: $scroll-width;
    height: 80px;
    border-radius: 6px;
    left: 0px;
    background: #8ca2bd;
    border: none;
  }
}

.gui-container {
  background: #262c31;
  height: 278px;
  overflow: hidden;
  // overflow-y: scroll;
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   background: #444;
  //   border-radius: 5px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: #3fa7ff;
  //   border-radius: 5px;
  // }
}

.gui-title {
  color: #4c627e;
  margin: 7px 0 7px 20px;
  font-size: 11px;
  padding-left: 5px;
  border-left: #4c627e 3px solid;
}

.gui-list {
  border-bottom: 1px solid #1a1e2a;
  &:last-child {
    border-bottom: none;
  }
  .items {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    margin: 5px 0 5px 10px;
    text-align: center;
  }
  .component {
    img {
      display: block;
      margin: 0 auto 5px;
      width: 50px;
      height: 50px;
      background: #97d6fe;
      border-radius: 4px;
      user-select: none;
    }
    .text {
      display: block;
      height: 14px;
      text-align: center;
      font-size: 12px;
      color: #758b9d;
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:last-child {
        margin-top: 2px;
        transform: scale(.9);
      }
    }
  }
}
