.content {
  margin-top: 10px;
  padding: 0 10px;
  margin-left: 220px;
  background: #fff;
  .pageTitle {
    line-height: 50px;
    background: #eee;
    padding-left: 20px;
    font-weight: normal;
    color: #666666;
    text-align: left;
  }
  .header {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #dedede;
    .back {
      padding-left: 14px;
      font-size: 16px;
      color: #2692fb;
      cursor: pointer;
      i {
        vertical-align: middle;
      }
    }
    .tabList {
      overflow: hidden;
      display: none;
      li {
        margin: 0 16px;
        padding: 0 14px;
        float: left;
        color: #333;
        &.active {
          border-bottom: 2px solid #2692fb;
        }
      }
    }
  }
  .panels {
    .panel {
      overflow: hidden;
      &.active {
        display: block
      }
      .detailBox {
        padding: 20px 0 25px;
        overflow: hidden;
        img {
          width: 140px;
          height: 140px;
          margin-right: 24px;
          float: left;
        }
        .info {
          overflow: hidden;
          & > h2 {
            font-size: 24px;
            color: #000;
            font-style: normal;
          }

          .type {
            margin-top: 8px;
            font-size: 12px;
            line-height: 18px;
            color: #666;
            overflow: hidden;
            .img {
              float: left;
              margin-right: 5px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              overflow: hidden;
              background: url(http://timg.ffan.com/convert/resize/url_T13TWTBXAy1RCvBVdK/tfs/1.png) no-repeat;
              background-size: 100% 100%;
              vertical-align: middle;
            }
            span {
              width: 594px;
              float: left;
              padding-top: 2px;
            }
          }
          .title {
            margin-top: 30px;
            font-size: 18px;
            color: #000;
          }
          .text {
            margin-top: 4px;
            font-size: 14px;
            line-height: 24px;
            color: #000;
            word-break: break-all;
          }
        }
      }
      .yesterdayWrap {
        margin-bottom: 20px;
        display: flex;
        .name {
          display: block;
          margin-bottom: 15px;
          font-size: 16px;
          color: #aaa;
        }
        .num {
          font-size: 25px;
          color: #000;
          display: inline-block;
          word-break: break-all;
        }
        .yesterday {
          flex: 4;
          border: 1px solid #eee;
          .list {
            .item {
              width: 25%;
              float: left;
              padding: 20px 20px 28px;
              text-align: center;
            }
          }
        }
        .business {
          flex: 1;
          margin-left: 12px;
          text-align: center;
          border: 1px solid #eee;
          .num {
            margin: 52px 0 20px;
          }
        }
      }
      .chart {
        ul.list {
          text-align: center;
          margin-right: 10px;
          margin-bottom: 16px;
          font-size: 0;
          display: inline-block;
          li {
            display: inline-block;
            width: 88px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #666666;
            border: 1px solid #b5b5b5;
            border-left: 0;
            cursor: pointer;
            background: #eeeeee;
            &:first-child {
              border: 1px solid #b5b5b5;
              border-radius: 5px 0 0 5px;
            }
            &:last-child {
              border-radius: 0 5px 5px 0;
            }
            &:hover,
            &.active {
              background: #2692FB;
              color: #fff;
              border-color: #2692fb;
              &+li {
                border-left-color: #2692fb;
              }
            }
          }
        }
        .chartCanvas {
          height: 200px;
          margin-bottom: 20px;
          border: 1px solid #eee;
        }
        .table {
          width: 100%;
          border-collapse: collapse;
          line-height: 44px;
          border: 1px solid #eeeeee;
          text-align: left;
          th {
            height: 35px;
            font-size: 14px;
            color: #000000;
            padding-left: 10px;
            background: rgba(238, 238, 238, 0.35);
          }
          td {
            border-bottom: 1px dashed #dbdbdb;
            word-break: break-all;
            padding-left: 10px;
          }
        }
      }
    }
  }
}
