@import "~layouts/CoreLayout/CoreLayout.scss";
$border-color:#dddddd;
$text-color:#020202;
.row-size .row-rotate{position:relative; text-align: center; }
i.icon-radio{display:none;font-size:32px;color:#cdd4dc;}
i.icon-radio1{display:inline-block;font-size:32px;color:#cdd4dc;}
input[type="radio"]{position:absolute;top:5px;left:23px;width:26px;height:28px;opacity:0;cursor:pointer; z-index: 1;}
input[type="radio"]:checked + span i.icon-radio{display: inline-block; color: #2692fb;}
input[type="radio"]:checked + span i.icon-radio1{display: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.row-rotate{ width:100%;}
.form-row{
    width: $sub-container-width;
    padding: $default-margin-top - 12px 93px $default-margin-bottom + 5px 80px; 
    @include clx;
    overflow: hidden;
    background: $white-color;
    &:not(:first-child){
        padding-top: 0;
    }
    label{ 
        width: $default-width - 22px; 
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        padding-left: $default-padding-left - 29px; 
        margin-right: 31px; 
        line-height: $text-line-height - 10px; 
        @include float-left; 
        text-align: right;
        position: relative;
        i{
            position: absolute;
            top: 1px;
            left: 657px;
        }
    }
    .row-right{
        margin: 0;
        @include float-left;
        input[type="text"]{
            width: 574px; 
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding: 0 30px 0 $default-padding-left - 31px;
            outline: none;
        }
        input[type="text"]::selection{
            background: #ace4fe;
        }
        textarea{
            width: 574px; 
            height: $default-height + 40px; 
            border: 1px solid $border-color; 
            resize: none;
            outline: none;
            padding: $default-padding-left - 30px;
            line-height: 24px;
            font-size: 16px;
            color: #000;
        }
        select{
             width: 199px; 
             height: $default-height - 72px; 
             font-size: $text-font-size - 7px;  
             padding: 0 $default-padding-left - 32px; 
             outline: none;
             appearance:none;
             -moz-appearance:none;
             -webkit-appearance:none;
             background: url(../../../../Home/assets/arrD.png) no-repeat 178px center;
             background-size: 12px 6px;
             cursor: pointer;
             border:1px solid $border-color;
        }
        p{
            font-size: $text-font-size - 7px; 
            color: $gray9-color; 
            line-height: $text-line-height - 16px;
        }
        span{
            display: block;
            position: relative;
            cursor: pointer;
            input[type="button"]{
                width: 199px; 
                height: $default-height - 67px; 
                line-height: $text-line-height - 10px; 
                text-align: center; 
                font-size: $text-font-size - 6px; 
                color: $black-color; 
                display: block; 
                border: 1px solid $border-color; 
                border-radius: 2px; 
                background: $white-color; 
                position: relative; 
                margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                cursor: pointer;
            }
            input[type="file"]{
                width: 199px; 
                height: $default-height - 67px; 
                position: absolute; 
                left: 0; 
                top: 0; 
                opacity: 0; 
                filter: alpha(opacity=0); 
                cursor: pointer;
            }
        }
        &>span{
            cursor: default!important;
        }
        .right-upload{
            input[type="button"]{
                margin:0 10px 0 0;
                display: inline-block;
            }
        }
        img{
            width: $default-width;
            height: $default-height;
            margin-right:$default-margin-right - 35px;
        }
        ul{
            overflow: hidden;
        }
        li{
            width: $default-width - 26px;
            height: $default-height - 71px;
            line-height: 25px;
            font-size: $text-font-size - 7px;
            color: $graya-color;
            text-align: center;
            border: 1px solid $border-color;
            border-radius: 2px;
            float: left;
            margin: 0 $default-margin-right - 20px $default-margin-bottom - 20px 0;
            cursor: pointer;
            &.active,&:hover{
                background-color: #7dbefd;
                color: $white-color;
                border-color: #7dbefd;
            }
        }
        .label-message{
            margin-top: -20px;
        }
        /*第二步应用文件样式start*/
        
        .file-name{
            width:$default-width + 100px;
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            margin-right: $default-margin-right - 30px;
            float: left;
        }
        .file-btn{
            width: $default-width - 52px;
            height: $default-height - 71px; 
            line-height:$text-line-height - 11px;
            font-size: $text-font-size - 5px;
            border: 1px solid $border-color; 
            text-align: center;
            cursor: pointer;
            float: left;
            background: #efefef;
        }
        /*第二步应用文件样式end*/
    }
    .row-right.max-width{
        width: 574px;
        overflow: hidden;
        div:last-of-type{
            margin-right: 0;
        }
    }
    &.code-desc {
        position: relative;
        .font-count{
            position: absolute;
            bottom: 25px;
            right: 110px;
            font-size: 13px;
            color: #999;
        }
    }
}
.form-btn{
    width: $sub-container-width;
    background: $white-color;
    padding: 0 93px 0 80px;
    height: 110px;
    text-align: center;
    div{
        border-top: 1px solid #ededed;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #1a8ffe;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: $text-line-height - 5px;
            margin-top: 31px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
        .previous{
            background: $white-color;
            border: 1px solid $gray6-color ;
            color: $black-color;
            line-height: 29px;
        } 
    }
} 
.row-size{
    @include float-left;
    margin:15px 79px 0 0;
    .row-img{
        width: 78px;
        height: 150px;
        margin-bottom: 8px;
    }
    .img1{
        background: url(../../../../Home/assets/size1.png) no-repeat;
        background-size: 100%;
    }
    .img2{
        background: url(../../../../Home/assets/size2.png) no-repeat;
        background-size: 100%;
    }
    .img3{
        background: url(../../../../Home/assets/size3.png) no-repeat;
        background-size: 100%;
    }
    .img4{
        background: url(../../../../Home/assets/size4.png) no-repeat;
        background-size: 100%;
    }
}
.clearF{
    @include clx;
}
/*新增样式*/
.form-rowM{
    margin-top: -45px;
}
.labelH{
  height:30px;
}
.form-rowM{
    .row-right {
        float: none;
        .right-info{
            width: inherit;
            float: none;
            font-size: 13px;
            color: #999;
            padding: 0px;
            margin: 0px;
            cursor: pointer;
        }
    }
}
.form-row .row-right .row-sizeB{
    float: none;
    margin:14px 0;
    span{
        display: inline-block;
    }
    &.version {
      margin: 5px 0;
    }
}
.row-radio{position:relative; display: inline-block; vertical-align: -3px; margin-right: 4px; }
i.icon-radio1V,i.icon-radioV{ font-size: 23px!important;}
i.icon-publish{font-size:18px!important;}
input[type="checkbox"],.row-sizeB input[type="radio"]{position:absolute;top:-2px;left:-3px;width:20px;opacity:0;height:28px;cursor:pointer; z-index: 1;}
input[type="checkbox"]:checked + span i.icon-radio{display: inline-block; color: #2692fb;}
input[type="checkbox"]:checked + span i.icon-radio1{display: none;}
.row-right.max-width{
    width: 574px;
}
/*create页面新添样式*/
.create-choice-block{
  position: fixed;
  bottom: 0px;
  top: 93px;
  padding:0 10px;
  width:874px;
  background: #fff;
  .create-choice-title{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
  }
  .create-form-btn{
    width: 395px;
    margin: 0 auto;
    .iconfont{
      font-size: 30px;
      vertical-align: middle;
    }
    .title{
      padding:20px;
      font-size:20px;
      color:#000;
      text-align:center;
    }
    .next{
      width: 150px;
      height: 145px;
      margin: 0 23px;
      font-size: 30px;
      cursor: pointer;
      border-radius: 4px;
      border: 2px solid #eee;
      background: #fff;
    }
    .h5-btn{
      color: #607d8b;
      &:hover{
        color:#fff;
        background:#607d8b
      }
    }
    .rn-btn{
      color: #2e8fff;
       &:hover{
        color:#fff;
        background:#2e8fff
      }
    }
    .apk-btn{
      color: #97c03d;
       &:hover{
        color:#fff;
        background:#97c03d
      }
    }
  }
}