@import "~layouts/CoreLayout/CoreLayout.scss";
$border-color:#dddddd;
$text-color:#020202;
.row-size .row-rotate{ width:100%; position:relative; text-align: center; }
i.icon-radio{display:none;font-size:32px;color:#cdd4dc;}
i.icon-radio1{display:inline-block;font-size:32px;color:#cdd4dc;}
input[type="radio"]{position:absolute;top:5px;left:23px;width:26px;height:28px;opacity:0;cursor:pointer; z-index: 1;}
input[type="radio"]:checked + span i.icon-radio{display: inline-block; color: #2692fb;}
input[type="radio"]:checked + span i.icon-radio1{display: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.header-title {
  background-color: #fff;
  padding: 0 15px;
  .step-tittle{
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
  }
}
.form-row{
    width: $sub-container-width;
    padding: $default-margin-top - 12px 80px $default-margin-bottom + 5px 80px; 
    @include clx;
    overflow: hidden;
    background: $white-color;
    &:not(:first-child){
        padding-top: 0;
    }
    label{ 
        width: $default-width - 22px; 
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        padding-left: $default-padding-left - 29px; 
        margin-right: 31px; 
        line-height: $text-line-height - 10px; 
        @include float-left; 
        text-align: right;
        position: relative;
        .diff{
            position: absolute;
            top: 1px;
            left: 534px;
        }
    }
    .label-type{
        line-height:20px;
        span{
            font-size: 12px;
        }
    }
    .row-right{
        margin: 0;
        @include float-left;
        input[type="text"]{
            width: 450px!important;  
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding: 0 30px 0 $default-padding-left - 31px;
            outline: none;
        }
        input[type="text"]::selection{
            background: #ace4fe;
        }
        textarea{
            width: 450px!important;  
            height: $default-height + 40px; 
            border: 1px solid $border-color; 
            resize: none;
            outline: none;
            padding: $default-padding-left - 30px;
            line-height: 24px;
            font-size: 16px;
            color: #000;
        }
        select{
             width: 199px; 
             height: $default-height - 72px; 
             font-size: $text-font-size - 7px;  
             padding: 0 $default-padding-left - 32px; 
             outline: none;
             appearance:none;
             -moz-appearance:none;
             -webkit-appearance:none;
             background: url(../../../../Home/assets/arrD.png) no-repeat 178px center;
             background-size: 12px 6px;
             cursor: pointer;
             border:1px solid $border-color;
        }
        p{
            font-size: $text-font-size - 7px; 
            color: $gray9-color; 
            line-height: $text-line-height - 16px;
        }
        .icon-miashu{
            vertical-align: -2px;
            margin-right: 2px;
        }
        span{
            display: block;
            position: relative;
            cursor: pointer;
            input[type="button"]{
                width: 199px; 
                height: $default-height - 67px; 
                line-height: $text-line-height - 10px; 
                text-align: center; 
                font-size: $text-font-size - 6px; 
                color: $black-color; 
                display: block; 
                border: 1px solid $border-color; 
                border-radius: 2px; 
                background: $white-color; 
                position: relative; 
                margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                cursor: pointer;
            }
            input[type="file"]{
                width: 199px; 
                height: $default-height - 67px; 
                position: absolute; 
                left: 0; 
                top: 0; 
                opacity: 0; 
                filter: alpha(opacity=0); 
                cursor: pointer;
            }
        }
        &>span{
            cursor: default!important;
        }
        .right-upload{
            input[type="button"]{
                margin:0 10px 0 0;
                display: inline-block;
            }
            .progress-box{
               display: block;
               width: 574px;
               margin-top: 10px;
              .progress-num{
                  font-weight: normal;
                  font-size: 12px;
                  color:#999;
                  float:right;
                  margin-top: 4px;
              }
              .progress-stoke{
                position: relative;
                display: inline-block;
                height: 6px;
                border: 1px solid #eee;
    
                .progress-fill{
                  position: absolute;
                  left:1;
                  background: #fff;
                  display: inline-block;
                  height: 4px;
                }
                .progressed-fill{
                  position: absolute;
                  left:1;
                  background: -webkit-linear-gradient(#57acff,#2692fb);
                  display: inline-block;
                  height: 4px;
                }
              }
            }
        }
        img{
            width: $default-width;
            height: $default-height;
            margin-right:$default-margin-right - 35px;
        }
        ul{
            overflow: hidden;
        }
        li{
            width: $default-width - 26px;
            height: $default-height - 71px;
            line-height: 25px;
            font-size: $text-font-size - 7px;
            color: $graya-color;
            text-align: center;
            border: 1px solid $border-color;
            border-radius: 2px;
            float: left;
            margin: 0 $default-margin-right - 20px $default-margin-bottom - 20px 0;
            cursor: pointer;
            &.active,&:hover{
                background-color: #7dbefd;
                color: $white-color;
                border-color: #7dbefd;
            }
        }
        .label-message{
            margin-top: -20px;
        }
        /*第二步应用文件样式start*/
        
        .file-name{
            width:$default-width + 100px;
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            margin-right: $default-margin-right - 30px;
            float: left;
        }
        .file-btn{
            width: $default-width - 52px;
            height: $default-height - 71px; 
            line-height:$text-line-height - 11px;
            font-size: $text-font-size - 5px;
            border: 1px solid $border-color; 
            text-align: center;
            cursor: pointer;
            float: left;
            background: #efefef;
        }
        /*第二步应用文件样式end*/
    }
        .row-right.size-width{
        width: 574px;
        overflow: hidden;
        div:last-of-type{
            margin-right: 0;
        }
    }
    &.code-desc {
        position: relative;
        .font-count{
            position: absolute;
            bottom: 25px;
            right: 110px;
            font-size: 13px;
            color: #999;
        }
    }
}
.form-btn{
    width: $sub-container-width;
    background: $white-color;
    padding: 0 93px 0 80px;
    height: 110px;
    text-align: center;
    div{
        border-top: 1px solid #ededed;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #1a8ffe;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: $text-line-height - 5px;
            margin-top: 31px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
        .previous{
            background: $white-color;
            border: 1px solid $gray6-color ;
            color: $black-color;
            line-height: 29px;
        } 
    }
} 
.row-size{
    @include float-left;
    margin:15px 79px 0 0;
    .row-img{
        width: 78px;
        height: 150px;
        margin-bottom: 8px;
    }
    .img1{
        background: url(../../../../Home/assets/size1.png) no-repeat;
        background-size: 100%;
    }
    .img2{
        background: url(../../../../Home/assets/size2.png) no-repeat;
        background-size: 100%;
    }
    .img3{
        background: url(../../../../Home/assets/size3.png) no-repeat;
        background-size: 100%;
    }
    .img4{
        background: url(../../../../Home/assets/size4.png) no-repeat;
        background-size: 100%;
    }
}
.clearF{
    @include clx;
}
/*新增样式*/
.form-rowM{
    margin-top: -45px;
}
.labelH{
  height:30px;
}
.form-rowM{
    .row-right {
        float: none;
        .right-info{
            width: inherit;
            float: none;
            font-size: 13px;
            color: #999;
            padding: 0px;
            margin: 0px;
            cursor: pointer;
        }
    }
}
.form-row .row-right .row-sizeB{
    float: none;
    margin:14px 0;
    span{
        display: inline-block;
    }
    &.version {
      margin: 5px 0;
    }
}
.row-radio{position:relative; display: inline-block; vertical-align: -3px; margin-right: 4px; }
i.icon-radio1V,i.icon-radioV{ font-size: 23px!important;}
i.icon-publish{font-size:18px!important;}
input[type="checkbox"],.row-sizeB input[type="radio"]{position:absolute;top:-2px;left:-3px;width:20px;opacity:0;height:28px;cursor:pointer; z-index: 1;}
input[type="checkbox"]:checked + span i.icon-radio{display: inline-block; color: #2692fb;}
input[type="checkbox"]:checked + span i.icon-radio1{display: none;}
.row-right.max-width{
    width: 470px!important;
}
.form-row.describe-tags {
  .describe-container {
    margin: 0px 0px 0px -9px;
  }
}
/*create页面新添样式*/
.create-choice-block{
  position: fixed;
  bottom: 0px;
  top: 93px;
  padding:0 10px;
  width:874px;
  background: #fff;
  .create-choice-title{
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
  }
  .create-form-btn{
    width: 395px;
    margin: 0 auto;
    .iconfont{
      font-size: 30px;
      vertical-align: middle;
    }
    .title{
      padding:20px;
      font-size:20px;
      color:#000;
      text-align:center;
    }
    .next{
      width: 150px;
      height: 145px;
      margin: 0 23px;
      font-size: 30px;
      cursor: pointer;
      border-radius: 4px;
      border: 2px solid #eee;
      background: #fff;
    }
    .h5-btn{
      color: #607d8b;
      &:hover{
        color:#fff;
        background:#607d8b
      }
    }
    .rn-btn{
      color: #2e8fff;
      font-size: 20px;
       &:hover{
        color:#fff;
        background:#2e8fff
      }
    }
    .apk-btn{
      color: #97c03d;
       &:hover{
        color:#fff;
        background:#97c03d
      }
    }
  }
}
.show-contain{
    padding-bottom:17px!important;
    img{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        float: left;
    }
    .show-text{
        float: left;
        line-height: 28px;
        padding: 8px 0;
        p{
            color: #666;
        }
        i{
            font-style: normal;
        }
    }
}
 .popup-title {
        padding: 20px;
        font-size: 16px;
        font-weight: normal;
        line-height: 12px;
        border-bottom: 1px solid #e7e7e7;
        .icon-turnoff {
          float: right;
          cursor: pointer;
        }
      }
     
      .popup-box {
        width: 800px;
        background: #fff;
        border-radius: 6px;
      .popup-search {
        margin: 0 10px 14px;
      }
      .popup-search input {
        padding: 0 10px 0 26px;
        width: 380px;
        height: 34px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        background: url(../../../../Home/assets/sousuo.png) no-repeat 6px center;
        background-size: 18px 18px;
      }
      .popup-list-title{
        margin: 10px 10px 0;
        height: 36px;
        font-size: 16px;
        color: #666;
        line-height: 36px;
        background: #eee;
        border-top: 1px solid #e7e7e7;
        overflow: hidden;
        li{
          float: left;
          text-align: center;
          border-right: 1px solid #fff;
        }
        li:last-of-type{
          border-right: none;
        }
      }
      .w116,.w320,.w78,.w140,.w104{
        float: left;
      }
      .w116{ width: 116px;}
      .w320{ width: 320px;}
      .w78{ width: 78px;}
      .w140{ width: 140px;}
      .w104{ width: 104px;}
      .listContent{
        margin: 0 10px;
        border: 1px solid #E7E7E7;
        height: 310px;
        overflow-x: hidden;
      }
      .popup-list-box{
        height:288px;
      }
      .popup-list-container{
        padding: 6px 0;
        overflow: hidden;
        border-bottom: 1px solid #E7E7E7;
      }
      .popup-list-container:last-of-type{
        border-bottom: none;
      }
      .popup-info-img-container{
        padding-left: 10px;
      }
      .popup-info-img{
        display: block;
        width: 90px;
        height: 90px;
        background: #eee;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .popup-info-content {
        position: relative;
        line-height: 20px;
      }
      .popup-info-name {
        display: inline-block;
        width: 268px;
        font-size: 16px;
        color: #000;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        .icon-rnpng,.icon-hpng,.icon-apkpng{
          position: absolute;
          top: 3px;
          right: 0;
          display: inline-block;
          width: 48px;
          height: 16px;
          vertical-align: middle;
        }
        .icon-rnpng{
          background: url('../../../../Home/assets/rn.png') no-repeat;
          background-size: 100% 100%;   
        }
        .icon-hpng{
          background: url('../../../../Home/assets/h5.png') no-repeat;
          background-size: 100% 100%;      
        }
        .icon-apkpng{
          background: url('../../../../Home/assets/apk.png') no-repeat;
          background-size: 100% 100%;      
        }
      }
      .popup-info-introduce {
        display: inline-block;
        margin-top: 4px;
        font-size: 14px;
        color: #999;
        height: 38px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .popup-info-link{
        display: block;
        margin-top: 6px;
        color: #999;
        font-size: 14px;
        a{
          color: #999;
        }
        .icon-categoryindi{
          font-size: 10px;
        }
      }
      .popup-info-price{
        font-size: 14px;
        text-align: center;
        line-height: 90px;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: elipsis;
        overflow: hidden;
      }
      .popup-info-status{
        padding-top: 24px;
        span{
          display: block;
        }
        .info-status-info1{
          font-size: 14px;
          i{
            display: inline-block;
            margin-right: 3px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ffe100;
            vertical-align: middle;
          }
          .color-red{
            background: #ff0000;
          }
          .color-green{
            background: #78d80e;
          }
        }
        .info-status-info2{
          padding-left: 9px;
          font-size: 12px;
        }
      }
      .popup-info-btn {
        margin-top: 10px;
        text-align: center;
      }
      .popup-info-btn .btn-cancel{
        width: 84px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        color: #333;
        background: white;
      }
      .popup-info-btn button{
        width: 84px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        color: #fff;
        background: #2692fb;
      }
      .null-box{
        height: 32px;
      }
      .popup-save{
        position: absolute;
        right: 36px;
        bottom: 12px;
        width: 90px;
        height: 32px;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        background: #2692fb;
      }
      }
  .show-contain{
    padding-bottom:17px!important;
    img{
        width: 100px;
        height: 100px;
        margin-right: 20px;
        float: left;
    }
    .show-text{
        float: left;
        line-height: 28px;
        padding: 8px 0;
        p{
            color: #666;
        }
        i{
            font-style: normal;
        }
    }
}
.update-msg{
  padding: 0 10px 40px 10px;
  color:#fff;
  font-size: 14px;
  background: #fff;
  p{
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    background:#78909c;
    border:1px solid #546e7a;
    i{
      font-size: 13px;
      padding-right: 4px;
    }
  }
}