.tags-container {
  li {
    height: 34px;
    line-height: 34px;
    padding: 0px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    float: left;
    cursor: pointer;
    &.active, &:hover {
      background-color: dodgerblue;
      color: #fff;
    }
  }
}