@import "../../../../../../layouts/CoreLayout/CoreLayout";

$bg-phone-width:354px;
$bg-phone-height:642px;


/**************************
 * mobile-editor-container
 **************************/


#mobile-editor-container .sub-nav-menu::-webkit-scrollbar-track,#mobile-editor-container .shop-info::-webkit-scrollbar-track
{
  background-color: #F2F2F2;
}

#mobile-editor-container .sub-nav-menu::-webkit-scrollbar-track,#mobile-editor-container .shop-info::-webkit-scrollbar-track
{
  background-color: #F2F2F2;
}

#mobile-editor-container .sub-nav-menu::-webkit-scrollbar
{
  width: 15px;
  background-color: #F2F2F2;
}

#mobile-editor-container .sub-nav-menu::-webkit-scrollbar-thumb
{
  background-color: #D7D7D7;
}
#mobile-editor-container .sub-nav-menu::-webkit-scrollbar
{
  width: 15px;
  background-color: #F2F2F2;
}

#mobile-editor-container .sub-nav-menu::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D7D7D7;
}
#mobile-editor-container {
  margin-top: -70px;
  padding-top:0;
  .cContent{
    padding-top:0px;
    min-height:0;
  }
  .cContent .navThird{
    min-height:0;
  }
  .cContent .navThird ul li{
    padding-left: 22px;
    height: 35px;
    line-height: 33px;
  }
  .preview{
    position: relative;
    width: 280px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom:7px;
  }
  .bg-phone{
    width: 280px;
    height: 507px;
    background-size: 100%;
    margin:0 auto;
    background-image:url(../../../../../Home/assets/bg_phone.png);
  }
  .shop-info{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -123px;
    margin-top: -194px;
    width: 248px;
    height: 368px;
    background: #f6f5f5;
    overflow-y: scroll;
  }
  .temp-img{
    background-image:url(../../../../../Home/assets/temp.jpg);
    width: $bg-phone-width - 40;
    height: $bg-phone-height - 418;
  }
  .preview .btn{
    margin-top:40px;
    padding:10px 12px;
  }
  .cContent .navThird .sub-content ul li{
    border-bottom: 0;
    padding-left: 0px;
    padding-bottom: 5px;
    height: auto;
    line-height: 40px;
    background: none;
    background-size: 6px;
    width: 46%;
    margin: 0 2%;
    float: left;
  }
  .cContent .navThird .sub-content{
    margin-top:10px;
  }
  .cContent .navThird .sub-content ul li img{
    //background:#e5e5e5;
    border:1px solid #a6a6a6;
    width:100%;
    height:88px;
  }
  .cContent .navThird .sub-content ul li span{
    display:block;
    color:#333;
    text-align:center;
  }
  .sub-banner{
    border:1px solid #333;
    margin:20px auto 0;
    background-image:url(../../../../../Home/assets/temp.jpg);
    width:97%;
    height:115px;
  }
  .sub-info{
    padding:17px 0 88px;
    font-size:13px;
    color:#999;
  }
  .btn-more{
    display:block;
    padding:11px 16px;
    font-size:15px;
    color:#434343;
    border-top:1px solid #dbdddf;
    border-bottom:1px solid #dbdddf;
  }

  .nav-fixed{
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .sub-nav-menu{
    height:95%;
    overflow-y:scroll;
  }
  .editor-right{}
}
@media (max-width:768px) {
  #mobile-editor-container {
    .shop-info{
      margin-top: -195px;
    }
    .preview{
      position: relative;
      width: 280px;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .cContent .navThird .sub-content ul li img{
      height:60px;
    }
  }

}
/**************************
 * editor-main
 **************************/

#editor-main {
  .editor-left {
    float    : left;
    height   : 100%;
    overflow : visible;
    position : relative;
    width    : 180px;
  }

  .editor-view {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: 26%;
      width: 74%;
      background: #fff;
  }

  .editor-right {
    border-left : 1px solid #E9E9E9;
    float       : right;
    height      : 100%;
    width       : 320px;
  }

  .sub-nav {
    height   : 34px;
    //position : absolute;
    top      : 0;
    width    : 100%;
    z-index  : 98;
  }

  //.sub-nav li:first-child {
  //  border-right : solid 1px #1A1A1A;
  //}
  //.sub-nav > li {
  //  border-top  : solid 1px #757575;
   // box-sizing  : border-box;
   // cursor      : pointer;
   // float       : left;
   // font-size   : 12px;
   // height      : 34px;
   // line-height : 34px;
  //  opacity     : 0.5;
   // filter      : alpha(opacity=50);
   // text-align  : center;
  //  width       : 50%;
  //}
  //.sub-nav-active {
  //  border-bottom : 0 !important;
  //  opacity       : 1 !important;
  //  filter        : alpha(opacity=100) !important;
  //}

  .sub-content {
    //padding-top : 34px;
  }
}
