@import "~layouts/CoreLayout/CoreLayout";
@import "./sidebarLeft.scss";
@import "./sidebarRight.scss";
@import "./slider.scss";

/**************************
 * new-mobile-editor-container
 **************************/
.editor-content {
  position: absolute;
  z-index: 5;
  left: 200px;
  right: 200px;
  height:475px;
  top:50%;
  margin-top:-238px;
  bottom: 0;
  overflow: hidden;
  .preview {
    position: relative;
    width: 249px;
    height: 475px;
    margin: 0 auto;
    .bg-phone {
      padding: 45px 19px 0 18px;
      width: 249px;
      height: 475px;
      margin: 0 auto;
      background-image: url(../../../../../Home/assets/bg_iphone6.png);
      background-size: 100%;
    }
    .scroll-wrap {
      position: relative;
      z-index: 10;
      // position: absolute;
      // z-index: 2;
      // top: 90px;
      // bottom: 50px;
      // left: 18px;
      // width: 300px;
      height: 340px;
      overflow: hidden;
      &::-webkit-scrollbar {
        width: 4px;
        background: #ddd;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: #3fa7ff;
        border-radius: 2px;
      }
    }
    .slider-wrap {
      position: absolute;
      width: 40px;
      height: 300px;
      right: -80px;
      top: 50%;
      margin-top: -150px;
      // transform: translate3d(0, -50%, 0);
    }
    .slide-text {
      position: absolute;
      z-index: 5;
      top: 50%;
      right: -40px;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      letter-spacing: 5px;
      color: #555;
      text-shadow: 1px 1px 1px #999;
      margin-top: -150px;
      display: inline-block;
      width: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
    }
    .mobile-header {
      .clock {
        display: block;
      }
      .mobile-headerInfo {
        font-size: 12px;
        color: #fff;
        padding: 8px;
        background: #17baff;
        overflow: hidden;
        position: relative;
        .icon-leftarrow {
          position: absolute;
          left: 5px;
          top: 8px;
        }
        .icon-search {
          position: absolute;
          right: 5px;
          top: 8px;
        }
        .title {
          text-align: center;
        }
      }
    }
    .shop-info {
      width: 212px;
      min-height: 100%;
    }
  }
  .text {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .sidebar-left {
    width: 100px;
  }
  .sidebar-right {
    display: none;
  }
  .editor-content {
    right: 0;
    left: 100px;
  }
}
.btn-block {
  position: absolute;
  bottom: 20px;
  width: 100%;
}