
.sidebar-right {
  // display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background: #fff;
  .widgets-btn-container {
    position: relative;
    height: 510px;
    font-size: 14px;
    color: #666;


    .btn-block {
      position: absolute;
      bottom: 20px;
      width: 100%;
    }
  }
  #detail-container {
    font-size: 14px;
    color: $gray6-color;
    .sidebar-right-title {
      padding: 15px 7px;
      font-size: 16px;
      border-bottom: 1px solid #ededed;
    }
    .icon-wechat {
      color: #05af10;
    }
    .share {
      width: 130px;
      margin: 10px auto;      
      .qr {
        width: 115px;
        height: 115px;
        margin: 5px auto;
        background-image: url(http://img1.ffan.com/T1FP_TBmd_1RCvBVdK);
        background-size: 100%;
      }
     }
    .qr-text {
      font-size: 13px;
      color: #c2c2c2;
      padding: 0 15px;
      text-align: center;
     }
    .btn {
      display: inline-block;
      width: 95.5%;
      height: 40px;
      margin: 0 5px;
      padding: 0;
      line-height: 36px;
      border-radius: 4px;
    }

    .btn-white {
      color: #3fa7ff;
      background: #fff;
      border: 2px solid #3fa7ff;
    }

  }
}