.sidebar-left {
  font-size: 12px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  // overflow-y: scroll;
  background: #262c31;
  .nav {
    .item {
      background:#2e363d;
      border-bottom:1px solid #1a1e2a;
      &.active .menu-cont {
        display: block;
      }
      .menu-cont {
        display: none;
      }
      .menu-title {
        align-items: center;
        overflow: hidden;
        padding: 8px;         
        color: #fff;
        overflow: hidden;
        .fr-icon{
            float: right;
            padding-right: 14px;
            color: #20262b;
        }
        .iconfont {
          background: #2e363d;
          margin-right: 0px;
          width: 20px;
          font-size: 16px;
          display: inline-block;
          vertical-align: middle;
        }
        
        word-wrap: break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .btn-more {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 7px;
    color: #748094;
    background: #2e363d;
    .text {
      padding-left: 25px;
    }
    .iconfont {
      position: absolute;
      top: 8px;
    }
    .icon-puzzle {
      left: 10px;
    }
    .icon-readMore {
      right: 10px;
      color: #f3f3f4;
    }
  }
}