
.rangeslider {
    // margin: 20px 0;
    position: relative;
    background: #e6e6e6
}

.rangeslider .rangeslider__fill,.rangeslider .rangeslider__handle {
    position: absolute
}

.rangeslider,.rangeslider .rangeslider__fill {
    display: block;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.rangeslider .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute
}

.rangeslider .rangeslider__handle:active {
    background: #999
}

.rangeslider-horizontal {
    height: 20px;
    border-radius: 10px
}

.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background: #3fa7ff;
    border-radius: 0 0 7px 7px;
    top: 0
}

.rangeslider-horizontal .rangeslider__handle {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: -10px
}

.rangeslider-vertical {
    margin: 20px auto;
    height: 180px;
    max-width: 20px;
    border-radius: 10px;
    background: none
}

.rangeslider-vertical .rangeslider__fill {
    width: 100%;
    border-radius: 0 0 12px 12px;
    // background: #3fa7ff;
    box-shadow: none;
    bottom: 0
}

.rangeslider-vertical .rangeslider__handle {
    width: 24px;
    height: 40px;
    border-radius: 12px;
    left: -2px;
}

.rangeslider-vertical .rangeslider__handle:active {
    // box-shadow: none
}
