@import "../../layouts/CoreLayout/CoreLayout";

.list-container {
  padding: 10px;
  clear: both;
  overflow: hidden;
  .list-item-center {
    height: 50px;
    line-height: 50px;
  }
  .info-img-container {
    div{
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        background: #eeeeee;
      }
    }
  }
  .info-content {
    line-height: $text-line-height - 16px;
    .info-name {
      font-size: $text-font-size - 4px;
      color: $black-color;
    }
    .info-introduce{
      font-size: $text-font-size - 6px;
      color: $gray9-color;
    }
    .info-link{
      font-size: $text-font-size - 4px;
      color: $black-color;
      text-decoration: underline;
    }
  }
  .info-status{
    font-size: $text-font-size - 6px;
    line-height: 100px;
    word-break:keep-all;white-space:nowrap;text-overflow:elipsis;
  }
  .info-btn{
    line-height: 100px;
  }
}
.list-none{
  text-align: center;
  padding: 40px 0;
}