@import "../../layouts/CoreLayout/CoreLayout";
@import "../../styles/_base.scss";

.list-container {
  padding: 10px 0;
  @include clx;
  .list-item-center {
    height: 50px;
    line-height: 50px;
  }
  .info-img-container {
    padding-left: $default-padding-left - 30;
    div{
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #eeeeee;
      }
    }
  }
  .info-content {
    padding-left: $default-padding-left - 34;
    line-height: $text-line-height - 16px;
    .info-name {
      font-size: $text-font-size - 4px;
      color: $black-color;
      @include font-nowrap;
      @include font-hidden;
    }
    .info-introduce{
      font-size: $text-font-size - 6px;
      color: $gray9-color;
      max-height: 70px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      @include font-hidden;
    }
  }
  .info-price,.info-status,.info-download{
    height: $default-height;
    font-size: $text-font-size - 6;
    text-align: center;
    line-height: $text-line-height + 60;
    word-break:keep-all;white-space:nowrap;text-overflow:elipsis;
  }
  .info-btn{
    text-align: center;
    line-height: $text-line-height + 46;
    a{
      display: block;
      margin: 6px 0;
      button{
        display: none;
        &:hover{
          color: $black-color;
          background-color: $white-color;
          border: 1px solid $black-color;
          cursor: not-allowed;
        }
      }
    }
    .active{
      display: block;
      button{
        width: 80px;
        @include btn;
        @include btn-default;
        @include btn-xs;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.list-none{
  text-align: center;
  padding: 40px 0;
}