@import "~layouts/CoreLayout/CoreLayout";
@import "~styles/_base.scss";

.sub-container{
  @include sub-container;
}
.plf{
  padding: 24px 12px;
}
.sub-content-tab{
  @include clx;
  border-bottom : 1px solid $graye-color;
  li{
    float: left;
    margin: 0 16px;
    font-size: $text-font-size - 4;
    color: $gray3-color;
    line-height: $text-line-height + 4;
    a{
      display: block;
      cursor: pointer;
      padding: 0 14px;
    }
  }
  .tab-active{
    color: $blue-color;
    border-bottom: 2px solid $blue-color;
  }
}
.list-title {
  margin-top: $default-margin-top - 10;
  height: $default-height - 50;
  color: $gray6-color;
  line-height: $text-line-height + 10;
  background: $graye-color;
  overflow: hidden;
  border-top : 1px solid $graye-color;
  li{
    @include float-left;
    text-align: center;
    border-right: 1px solid $white-color;
  }
  li:last-of-type{
    border: none;
  }
}
.no-padding-left {
  padding-left: 0px;
}

.listContent{
  border: 1px solid #eee;
}
.list-container {
  padding: 10px 0;
  @include clx;
  border-bottom : 1px solid $graye-color;
  .list-item-center {
    height: 50px;
    line-height: 50px;
  }
  .info-img-container {
    padding-left: $default-padding-left - 30;
    .info-img{
      display: block;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #eeeeee;
      }
    }
  }
  .info-content {
    padding-left: $default-padding-left - 34;
    line-height: $text-line-height - 16px;
    .info-name {
      display: block;
      position: relative;
      font-size: $text-font-size - 4px;
      color: $black-color;
      white-space:nowrap;
      @include font-hidden;
      span{
        display: block;
        width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon-rnpng,.icon-hpng,.icon-apkpng{
        position: absolute;
        top: 3px;
        right: 0;
        display: inline-block;
        width: 48px;
        height: 16px;
        vertical-align: middle;
      }
      .icon-rnpng{
        background: url('../../routes/Home/assets/rn.png') no-repeat;
        background-size: 100% 100%;   
      }
      .icon-hpng{
        background: url('../../routes/Home/assets/h5.png') no-repeat;
        background-size: 100% 100%;      
      }
      .icon-apkpng{
        background: url('../../routes/Home/assets/apk.png') no-repeat;
        background-size: 100% 100%;   
      }
    }
    .info-introduce{
      display: block;
      font-size: $text-font-size - 6px;
      color: $gray9-color;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include font-hidden;
    }
     .info-link{
        display: block;
        margin-top: 6px;
        color: #999;
        font-size: 14px;
        a{
          color: #999;
        }
        .icon-categoryindi{
          font-size: 10px;
        }
      }
  }
  .info-price,.info-download{
    height: $default-height;
    font-size: $text-font-size - 6;
    text-align: center;
    line-height: $text-line-height + 60;
    word-break:keep-all;white-space:nowrap;text-overflow:elipsis;
  }
  .info-status{
    text-align: center;
    padding-top: 15px;
    span{
      display: block;
    }
    .info-status-info1{
      font-size: 14px;
      i{
        display: inline-block;
        margin-right:4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ffe100;
        vertical-align: middle;
      }
      .color-red{
        background: #ff0000;
      }
      .color-green{
        background: #78d80e;
      }
    }
    .info-status-info2{
      padding-left: 11px;
      font-size: 12px;
    }
  }
  .info-btn{
    text-align: center;
    a{
      display: block;
      margin: 6px 0;
      filter:alpha(opacity=20);  
      opacity: 0.2;
      button{
        width: 80px;
        @include btn;
        @include btn-default;
        @include btn-xs;
        &:hover{
          color: $black-color;
          background-color: $white-color;
          border: 1px solid $black-color;
          cursor: not-allowed;
        }
      }
    }
    .active{
      filter:alpha(opacity=100);  
      opacity: 1;
      button{
        &:hover{
          color: $blue-color;
          background-color: $white-color;
          border: 1px solid $blue-color;
          cursor: pointer;
        }
      }
    }
    .none{
      display: none
    }
  }
}
.list-none{
  text-align: center;
  padding: 40px 0;
}