.no-padding-left {
  padding-left: 0px;
}
.list-container {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
  .list-item-center {
    height: 50px;
    line-height: 50px;
  }
  .info-img-container {
    width: 50px;
    float: left;
    margin-right: 10px;
    .img-container {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .info-content {
    margin-left: 120px;
    overflow: hidden;
    .info-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}