@import "~layouts/CoreLayout/CoreLayout.scss";
$border-color:#dddddd;
$text-color:#020202;
.row-radio{position:relative; display: inline-block; vertical-align: -3px; margin-right: 4px;  }
i.icon-radio{display:none;font-size:18px;color:#cdd4dc;}
i.icon-radio1V,i.icon-radioV{ font-size: 23px!important;}
i.icon-radio1{display:inline-block;font-size:18px;color:#cdd4dc;}
i.icon-publish{font-size:18px!important;}
input[type="checkbox"],input[type="radio"]{position:absolute;top:-2px;left:-9px;width:20px;opacity:0;height:28px;cursor:pointer; z-index: 1;}
input[type="checkbox"]:checked + span i.icon-radio,input[type="radio"]:checked + span i.icon-radio{display: inline-block; color: #2692fb;}
input[type="checkbox"]:checked + span i.icon-radio1,input[type="radio"]:checked + span i.icon-radio1{display: none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.form-row{
    width: $sub-container-width;
    padding: $default-margin-top - 12px 93px $default-margin-bottom + 5px 80px; 
    @include clx;
    overflow: hidden;
    background: $white-color;
    &:not(:first-child){
        padding-top: 0;
    }
    label{ 
        width: $default-width - 22px; 
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        padding-left: $default-padding-left - 29px; 
        margin-right: 31px; 
        line-height: $text-line-height - 10px; 
        @include float-left; 
        text-align: right;
        position: relative;
        i{
            position: absolute;
            top: 1px;
            left: 657px;
        }
    }
    .labelH{
      height:30px;
    }
    .row-right{
        margin: 0;
        position: relative;
        @include float-left; 
        input[type="text"]{
            width: 574px; 
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding: 0 30px 0 $default-padding-left - 31px;
            outline: none;
        }
        input[type="text"]::selection{
            background: #ace4fe;
        }
        textarea{
            width: 574px; 
            height: $default-height + 40px; 
            border: 1px solid $border-color; 
            resize: none;
            outline: none;
            padding: 10px;
            line-height: 24px;
            font-size: 16px;
            color: #000;
        }
        select{
             width: 199px; 
             height: $default-height - 72px; 
             font-size: $text-font-size - 7px;  
             padding: 0 $default-padding-left - 32px; 
             outline: none;
             appearance:none;
             -moz-appearance:none;
             -webkit-appearance:none;
             background: url(../../../../Home/assets/arrD.png) no-repeat 178px center;
             background-size: 12px 6px;
             cursor: pointer;
             border:1px solid $border-color;
        }
        p{
            font-size: $text-font-size - 7px; 
            color: $gray9-color; 
            line-height: $text-line-height - 16px;
        }
        .icon-miashu{
            vertical-align: -2px;
            margin-right: 2px;
        }
        .right-info{
            width: 533px;
            display: inline-block;
            span{
                float: right;
            }
        }
        input[type="checkbox"]{
            margin-right:5px;
            vertical-align: middle;
        }
        .row-sizeB{
            float: none;
            margin:14px 0;
            span{
                display: inline-block;
            }
        }
        span{
            display: block;
            position: relative;
            cursor: pointer;
            input[type="button"]{
                width: 199px; 
                height: $default-height - 67px; 
                line-height: $text-line-height - 10px; 
                text-align: center; 
                font-size: $text-font-size - 6px; 
                color: $black-color; 
                display: block; 
                border: 1px solid $border-color; 
                border-radius: 2px; 
                background: $white-color; 
                position: relative; 
                margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                cursor: pointer;
            }
            input[type="file"]{
                width: 199px; 
                height: $default-height - 67px; 
                position: absolute; 
                left: 0; 
                top: 0; 
                opacity: 0; 
                filter: alpha(opacity=0); 
                cursor: pointer;
            }
        }
        &>span{
            cursor: default!important;
        }
        .right-upload{
            input[type="button"]{
                margin:0 10px 0 0;
                display: inline-block;
            }
        }
        img{
            width: $default-width;
            height: $default-height;
            margin-right:$default-margin-right - 35px;
        }
        ul{
            overflow: hidden;
        }
        li{
            width: $default-width - 26px;
            height: $default-height - 71px;
            line-height: 25px;
            font-size: $text-font-size - 7px;
            color: $graya-color;
            text-align: center;
            border: 1px solid $border-color;
            border-radius: 2px;
            float: left;
            margin: 0px 20px 20px 0;
            cursor: pointer;
            &.active,&:hover{
                background-color: #7dbefd;
                color: $white-color;
                border-color: #7dbefd;
            }
        }
        .label-message{
            margin-top: -20px;
        }
        /*第二步应用文件样式start*/
        
        .file-name{
            width:$default-width + 100px;
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            margin-right: $default-margin-right - 30px;
            float: left;
        }
        .file-btn{
            width: $default-width - 52px;
            height: $default-height - 71px; 
            line-height:$text-line-height - 11px;
            font-size: $text-font-size - 5px;
            border: 1px solid $border-color; 
            text-align: center;
            cursor: pointer;
            float: left;
            background: #efefef;
        }
        
        /*第二步应用文件样式end*/
    }
    .row-right.max-width{
        width: 574px;
    }
}
.form-rowM{
    margin-top: -45px;
}
.form-btn{
    width: $sub-container-width;
    background: $white-color;
    padding: 0 93px 0 80px;
    height: 110px;
    text-align: center;
    div{
        border-top: 1px solid #ededed;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #2692fb;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: $text-line-height - 5px;
            margin-top: 31px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
        .previous{
            background: $white-color;
            border: 1px solid $gray6-color ;
            color: $black-color;
            line-height: 29px;
        }        
    }
} 
/*弹窗*/
     .popup-title {
        padding: 20px;
        font-size: 16px;
        font-weight: normal;
        line-height: 12px;
        border-bottom: 1px solid #e7e7e7;
        .icon-turnoff {
          float: right;
        }
      }
     
      .popup-box {
        width: 800px;
        background: #fff;
        border-radius: 6px;
      .popup-search {
        margin: 0 10px 14px;
      }
      .popup-search input {
        padding: 0 10px 0 26px;
        width: 380px;
        height: 34px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        background: url(../../../../Home/assets/sousuo.png) no-repeat 6px center;
        background-size: 18px 18px;
      }
      .list-title{
        margin: 10px 10px 0;
        height: 36px;
        font-size: 16px;
        color: #666;
        line-height: 36px;
        background: #eee;
        border-top: 1px solid #e7e7e7;
        overflow: hidden;
      }
      .list-title li{
        float: left;
        text-align: center;
        border-right: 1px solid #fff;
      }
      .list-title li:last-of-type{
        border-right: none;
      }
      .w116,.w320,.w78,.w140,.w104{
        float: left;
      }
      .w116{ width: 116px;}
      .w320{ width: 320px;}
      .w78{ width: 78px;}
      .w140{ width: 140px;}
      .w104{ width: 104px;}
      .listContent{
        margin: 0 10px;
        max-height: 288px;
        overflow-x: hidden;
        border: 1px solid #E7E7E7;
      }
      .list-box{
        height:288px;
      }
      .list-container{
        padding: 6px 0;
        overflow: hidden;
        border-bottom: 1px solid #E7E7E7;
      }
      .list-container:last-of-type{
        border-bottom: none;
      }
      .info-img{
        display: block;
        width: 90px;
        height: 90px;
        background: #eee;
      }
      .info-content {
        line-height: 20px;
      }
      .info-name {
        display: inline-block;
        font-size: 16px;
        color: #000;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .info-introduce {
        display: inline-block;
        font-size: 14px;
        color: #999;
        max-height: 70px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .info-price,.info-status {
        font-size: 14px;
        text-align: center;
        line-height: 90px;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: elipsis;
        overflow: hidden;
      }
      .info-btn {
        margin-top: 10px;
        text-align: center;
      }
      .info-btn .btn-cancel{
        width: 84px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        color: #333;
        background: white;
      }
      .info-btn button{
        width: 84px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        color: #fff;
        background: #2692fb;
      }
      .null-box{
        height: 32px;
      }
      .popup-save{
        position: absolute;
        right: 36px;
        bottom: 12px;
        width: 90px;
        height: 32px;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        background: #2692fb;
      }
      }