.title {
	color: #999;
	font-size: 12px;
	line-height: 30px;
}
.list {
	display: flex;
	.item {
		flex: 1;
		display: inline-block;
		text-align: center;
		.img {
			width: 103px;
			height: 90px;
			display: block;
			cursor: pointer;
			margin: 40px auto 30px;
			&-small{
				background: url("../../../../../../images/small.png") no-repeat center center;
				background-size: auto 100%;
			}
			&-middle{
				background: url("../../../../../../images/middle.png") no-repeat center center;
				background-size: 100% auto;
			}
			&-large{
				background: url("../../../../../../images/large.png") no-repeat center center;
				background-size: 100%;
			}
		}
		.size-text {
			font-size: 12px;
			.screen {
				display: block;
			}
			.advice {
				color: #999;
				margin-top: 6px;
				display: block;
			}
		}
		.radioBtn {
			margin-top: 12px;
		}
	}
}