@import "../../../layouts/CoreLayout/CoreLayout";
.selectBox{
  margin:0 110px;
  @include float-left;
  label{
      img{
        display: block;
        height:255px;
        width:220px;
        border-radius: 15%;
        background: #666;
      }
      img.active{
        background: blue;
      }
      input{
        margin: 20px 48%;
        display: block;
      }
  }
}
 