@import 'src/styles/v/base.scss';
.tool {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 32px 14px 84px;
    &:first-of-type {
        .img {
            background: url("../../images/file.png") no-repeat;
            background-size: 100% 100%;
        }
    }
    &:nth-of-type(2) {
        .img {
            background: url("../../images/check.png") no-repeat;
            background-size: 100% 100%;
        }
    }
    &:nth-of-type(3) {
        .img {
            background: url("../../images/account.png") no-repeat;
            background-size: 100% 100%;
        }
    }
    .detail {
        display: flex;
        align-items: flex-start;
        .img {
            width: 52px;
            height: 52px;
            margin-right: 30px;
        }
        .main {
            width: 632px;
            .name {
                color: #000;
                font-size: 20px;
                line-height: 24px;
                @include word-break;
            }
            .text {
                font-size: 12px;
                color: #666;
                margin-top: 8px;
                line-height: 18px;
                @include word-break;
            }
        }
    }
    .tool-btn {
        margin-top: 8px;
        cursor: pointer;
        .btn-blue {
            font-size: 12px;
            padding: 10px 27px;
            display: block;
        }
    }
    .key {
      width: 642px;
      height: 0;
      margin-top: 20px;
      margin-left: 70px;
      transition: all .5s ease;
      overflow: hidden;
      &.active {
        height: 175px;
      }
    }
}
