@import 'src/styles/v/var.scss';
.content {
  .header-tool {
    border-bottom: 1px solid $site-border-gray;
    i{
        color: $site-blue;
        margin-right: 10px;
        font-size: 18px;
    }
  }
  .tool {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 32px 14px 84px;
    &:first-of-type {
      .img {
        background: url("../../images/file.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    &:nth-of-type(2) {
      .img {
        background: url("../../images/check.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    &:nth-of-type(3) {
      .img {
        background: url("../../images/account.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .detail {
      display: flex;
      align-items: flex-start;
      .img {
        width: 52px;
        height: 52px;
        margin-right: 30px;
      }
      .main{
          width: 632px;
          .name {
            font-size: 20px;
            color: #000000;
            @include word-break;
          }
          .text {
            font-size: 12px;
            color: #666;
            margin-top: 8px;
            line-height: 18px;
            @include word-break;
          }
      }
    }
    .btn {
        margin-top: 8px;
        cursor: pointer;
      a{
        padding: 11px 27px;
        border-radius: 4px;
        background: #2692fb;
        display: block;
        color: #fff;
        font-size: 12px;
        &:hover {
          background: #2a89dd;
        }
      }
    }
    .key {
      width: 648px;
      border: 1px solid #ccc;
      margin: 4px 0 0 82px;
      display: none;
    }
  }
}
