@import 'src/styles/v/base.scss';
.contentWrap{
    .title{
      color: #333;
      height: 60px;
      font-size: 0;
      line-height: 60px;
      padding-left: 5px;
      i{
          color: #929292;
          font-size: 16px;
          margin-right: 2px;
          vertical-align: -1px;
      }
      .name{
          font-size: 16px;
      }
    }
}
