@import 'src/styles/v/base.scss';
.site-table {
    color: #666;    
    margin-top: 10px;
    td {
        text-align: center;
        &.imgWrap {
            width: 122px;
            img {
                width: 100px;
                height: 100px;
                display: block;
                margin: auto;
                overflow: hidden;
                border-radius: 8px;
            }
        }
        &.appInfo {
            width: 200px;
            text-align: left;
            .name {
                color: #000;
                width: 152px;
                display: inline-block;
                vertical-align: middle;
                @include text-overflow;
            }
            & > i {
                display: inline-block;
                vertical-align: middle;
            }
            .desc {
                width: 200px;
                max-height: 35px;
                font-size: 12px;
                line-height: 1.5;
                margin-top: 10px;
                text-align: justify;
                @include multiple-text-overflow;
            }
            .link {
                width: 200px;
                color: #666;
                font-size: 12px;
                width: 200px;
                margin-top: 10px;
                display: block;
                @include text-overflow;
                i {
                    color: #b3b3b3;
                    font-size: 13px;
                    vertical-align: -1px;
                }
            }
        }
        &.day {
            &>span {
                width: 90px;
                font-size: 12px;
                display: block;
                @include text-overflow;
                & > i {
                    font-style: normal;
                    color: #000;
                }
            }
            .yes {
                margin-top: 8px;
            }
        }
        &.actions {
            .btn-default {
                color: #666;
                width: 85px;
                height: 30px;
                display: block;
                font-size: 12px;
                margin: 0 auto;
                line-height: 28px;
            }
        }
    }
}