.root {
  padding: 10px;
}
.title {
  padding: 0 15px;
  height: 71px;
  line-height: 71px;
  font-size: 16px;
  color: #000;
  i {
    color: #2692fb;
    margin-right: 10px;
    font-size: 18px;
  }
}
.table {
  border: 1px solid #eee;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  
  th {
    height: 50px;
    background: #eee;
    border-right: 1px solid #dedede;
    color: #666;
    font-weight: normal;
    &:last-child {
      border-right: 0;
    }
  }
  td {
    padding: 5px;
    border: 1px solid #dedede;
    &.imgWrap {
      width: 122px;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        vertical-align: middle;
      }
    }
    &.appInfo {
      width: 200px;
      .textOverflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name {
        color: #000;
        display: block;
        width: 200px;
      }
      & > i {
        margin: 5px 0;
      }
      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 35px;
        font-size: 12px;
        line-height: 1.5;
        color: #666666;
        text-align: justify;
      }
      .link {
        font-size: 12px;
        color: #999;
        margin-top: 10px;
        display: block;
        cursor: pointer;
        i {
          font-size: 13px;
        }
      }
    }
    &.common {
      &>span {
        font-size: 12px;
        color: #666;
        display: block;
        width: 90px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        & > i {
          font-style: normal;
        }
      }
      .yes{
          margin-top: 6px;
      }
    }
    &.actions {
      text-align: center;
      .btn {
        width: 85px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        font-size: 14px;
        color: #666;
        &:hover {
          background: #2692fb;
          color: #fff;
          border-color: #2692fb;
        }
      }
    }
  }
}
