.message-info{
    color: #fc5c63;
    font-size: 13px;
    margin-top: 10px;
    font-style: normal;
}
.message-info-gray{
  margin: 0 0 10px 0!important;
  color: #999!important;
  margin: 0;
}