@import './var.scss';
button {
  outline: none;
}
@mixin btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
	line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
	@include btn;
  border-color: $site-border-gray;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $site-blue;
    border-color: $site-blue;
    color: #fff!important;
  }
}

.btn-primary {
  color: #fff;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  background: $site-blue;
  border: 1px solid $site-blue;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $site-blue-hover;
    border-color: $site-blue-hover;
    color: #fff;
  }
}

