@import './var.scss';
button {
  outline: none;
}
@mixin btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
	line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
	@include btn;
	color: #666;
	background: #fff;
  border-color: #d7d7d7;
  transition: all 0.2s ease-in-out;
  &:active,
  &:focus,
  &:hover {
    background: #2692fb;
    border-color: #2692fb;
    color: #fff!important;
  }
}

.btn-primary {
	@include btn;
	color: #fff;
  background: #2692fb;
  border-color: #2692fb;
  transition: all 0.2s ease-in-out;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background: #2a89dd;
    border-color: #2a89dd;
  }
}
.btn-success{
	@include btn;
	color: #fff;
	background: #5cb85c;
	border-color: #5cb85c;
	&:active,
  &:focus,
	&:hover{
		color: #fff;
		background: #449d44;
		border-color: #449d44;
	}
}
.btn-warning{
	@include btn;
	color: #fff;
	background: #f0ad4e;
	border-color: #f0ad4e;
	&:active,
  &:focus,
	&:hover{
		color: #fff;
		background: #ec971f;
		border-color: #ec971f;
	}
}
.btn-danger{
	@include btn;
	color: #fff;
	background: #d9534f;
	border-color: #d9534f;
	&:active,
  &:focus,
	&:hover{
		color: #fff;
		background: #c9302c;
		border-color: #c9302c;
	}
}
