@import './v/var.scss';
.content {
	margin-top: 10px;
	margin-left: 220px;
	padding: 10px;
	background: #fff;
	color: #333;
	&-header {
		color: #000;
		height: 70px;
		font-size: 16px;
		line-height: 70px;
		padding-left: 17px;
		border-bottom: 1px solid $site-border-gray;
		i {
			color: $site-blue;
			margin-right: 10px;
			font-size: 18px;
			vertical-align: middle;
		}
	}
}
.tabs-item {
	color: #666;
	font-size: 16px;
	padding: 0 15px;
	margin: 0 10px;
	cursor: pointer;
	display: inline-block;
	&:hover,
	&.active {
		color: #000;
		border-bottom: 2px solid $site-blue;
	}
}
