@import './var.scss';
.core-layout__viewport {
	margin-top: 77px;
	.container{
	  width: 1100px;
	  margin: 0 auto;
	  overflow: hidden;
	  box-sizing: content-box;
	}
}
.content {
	margin-top: 10px;
	margin-left: 220px;
	padding: 10px;
	background: #fff;
	&-header {
		color: #000;
		height: 70px;
		font-size: 16px;
		line-height: 70px;
		padding-left: 17px;
		border-bottom: 1px solid $site-border-gray;
		i {
			color: $site-blue;
			margin-right: 10px;
			font-size: 18px;
			vertical-align: middle;
		}
	}
}
.tabs {
	&-titles {
		border-bottom: 1px solid $site-border-gray;
		.tabs-item {
			color: #666;
			font-size: 16px;
			padding: 0 15px;
			margin: 0 10px;
			cursor: pointer;
			display: inline-block;
			&:hover,
			&.active {
				color: #000;
				border-bottom: 2px solid $site-blue;
			}
		}
	}
}
.sub-container-banner-apps{
  width: 100%;
  height: 276px;
  background: url("http://timg.ffan.com/convert/resize/url_T1llWTByYX1RCvBVdK/tfs/6f934fc1a81e7d4efdd7931fa2109261.png") no-repeat;
  background-size: 100%;
}
.sub-container-banner-widgets{
  width: 100%;
  height: 276px;
  background: url("http://timg.ffan.com/convert/resize/url_T1z3JTBKJQ1RCvBVdK/tfs/4b79d13052d069a00a1e41dd0a1d5ad6.png") no-repeat;
  background-size: 100%;
}
.sub-container-banner-hardware{
  width: 100%;
  height: 276px;
  background: url("http://timg.ffan.com/convert/resize/url_T1pBhTBTKQ1RCvBVdK/tfs/0ea0cea168acc2db825b9b6ac1857a36.png") no-repeat;
  background-size: 100%;
}