@import './v/var.scss';
.content {
	margin-top: 10px;
	margin-left: 220px;
	padding: 10px;
	background: #fff;
	color: #333;
	&-header {
		color: #000;
		height: 70px;
		font-size: 16px;
		line-height: 70px;
		padding-left: 17px;
		border-bottom: 1px solid $site-border-gray;
		i {
			color: $site-blue;
			margin-right: 10px;
			font-size: 18px;
			vertical-align: middle;
		}
	}
}
.tabs-item {
	height: 50px;
	line-height: 50px;
}
.tabs {
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
	display: inline-block;
	&:hover,
	&.active {
		border-bottom: 2px solid $site-blue;
	}
}
.form-group {
	display: flex;
	flex-wrap: nowrap;
	max-width: 580px;
	margin: 0 auto 45px;
	.control-label {
		width: 68px;
		height: 30px;
		line-height: 30px;
		margin-right: 34px;
		text-align: right;
		&:before {
			content: "*";
			color: $site-red;
			display: inline-block;
			margin-right: 2px;
			line-height: 1;
		}
	}
	.form-item {
		flex: 1;
		.item-control {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}
	}
}
