@import './v/var.scss';
.content {
    margin-top: 10px;
    margin-left: 226px;
    padding: 10px;
    background: #fff;
    color: #333;
    &-header {
        color: #000;
        height: 70px;
        font-size: 16px;
        line-height: 70px;
        padding-left: 17px;
        border-bottom: 1px solid $site-border-gray;
        i {
            color: $site-blue;
            margin-right: 10px;
            font-size: 18px;
            vertical-align: middle;
        }
    }
}
.tabs {
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    &:hover,
    &.active {
        border-bottom: 2px solid $site-blue;
    }
}
.sub-container{
  color: #333;
  margin-top: 10px;
  margin-left: 226px;
  &-banner{
      width: 100%;
      height: 276px;
  }
}
.banner-apps{
  background: url(../../routes/Home/assets/sub-container-banner1.png) no-repeat;
  background-size: 100%;
}
.banner-widgets{
  background: url(../../routes/Home/assets/widgetsBanner.png) no-repeat;
  background-size: 100%;
}
.banner-hardware{
  background: url(../../routes/Home/assets/banner3.png) no-repeat;
  background-size: 100%;
}