@import 'src/styles/v/base.scss';
.form-group {
	display: flex;
	flex-wrap: nowrap;
	max-width: 612px;
	margin: 0 auto 45px;
	.label {
		width: 100px;
		height: 30px;
		line-height: 30px;
		margin-right: 34px;
		text-align: right;
		&:before {
      content: "";
			
		}
	}
	.required {
		&:before {
      content: "*";
			color: $site-red;
			display: inline-block;
			margin-right: 2px;
			line-height: 1;
		}
	}
	.form-item {
		flex: 1;
		.site-title{
			color: #999;
			font-size: 12px;
			line-height: 30px;
			&-none{
				display: none;
			}
		}
		.input-affix-wrapper {
			width: 94%;
			display: inline-block;
			position: relative;
			&>i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
			}
			.form-input {
				height: 30px;
				width: 100%;
				padding-right: 30px;
				&::selection{
					background: #ace4fe;
				}
			}
		}
		
		&-msg {
			height: 24px;
			display: block;
			font-size: 12px;
			line-height: 24px;
			&.error {
				color: $site-red;
			}
		}
	}
}
.form-actions {
	width: 100%;
	padding-top: 32px;
	border-top: 1px solid $site-border-gray;
	text-align: center;
}