@import './v/var.scss';
.defaultBtn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $site-border-gray;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $site-blue;
    border-color: $site-blue;
    color: #fff!important;
  }
}

.primaryBtn {
  color: #fff;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  background: $site-blue;
  border: 1px solid $site-blue;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $site-blue-hover;
    border-color: $site-blue-hover;
    color: #fff;
  }
}
@mixin effect{
	border: 1px solid $site-border-gray;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: all 0.2s ease-in-out;
  &:focus {
    border-color: #2692fb;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(38, 146, 251, .6);
  }
}
input[type="text"]{
	padding-left: 8px;
  outline: none;
  @include effect;
}
textarea {
	padding: 8px;
  resize: none;
  @include effect;
}
