.icon-rnpng,
.icon-hpng,
.icon-apkpng {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 16px;
}
.icon-rnpng{
  background: url(../../images/rn.png) no-repeat;
  background-size: 100% 100%;   
}
.icon-hpng{
  background: url(../../images/h5.png) no-repeat;
  background-size: 100% 100%;      
}
.icon-apkpng{
  background: url(../../images/apk.png) no-repeat;
  background-size: 100% 100%;   
}