.icon-rnpng,
.icon-hpng,
.icon-apkpng {
  display: inline-block;
  vertical-align: middle;
  width: 49px;
  height: 20px;
}
.icon-rnpng{
  background: url(../../images/rn.png) no-repeat;
  background-size: 100% 100%;   
}
.icon-hpng{
  background: url(../../images/h5.png) no-repeat;
  background-size: 100% 100%;      
}
.icon-apkpng{
  background: url(../../images/apk.png) no-repeat;
  background-size: 100% 100%;   
}
.icon-fanhui{
  margin-right: 8px;
  font-size: 14px;
}