.icon-rnpng,
.icon-hpng,
.icon-apkpng {
  display: inline-block;
  vertical-align: middle;
  width: 49px;
  height: 20px;
}

.icon-rnpng {
  background: url(../../images/rn.png) no-repeat;
  background-size: 100% 100%;
}

.icon-hpng {
  background: url(../../images/h5.png) no-repeat;
  background-size: 100% 100%;
}

.icon-apkpng {
  background: url(../../images/apk.png) no-repeat;
  background-size: 100% 100%;
}

.icon-fanhui {
  margin-right: 8px;
  font-size: 14px;
}

.row-radio {
  position: relative;
  text-align: center;
}

i.icon-radio {
  display: none;
  font-size: 23px;
  color: #cdd4dc;
}

i.icon-radio1 {
  display: inline-block;
  font-size: 23px;
  color: #cdd4dc;
}

.input-radio {
  position: absolute;
  top: -2px;
	left: -3px;
	width: 20px;
	height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.input-radio:checked+ span i.icon-radio {
  display: inline-block;
  color: #2692fb;
}

.input-radio:checked+ span i.icon-radio1 {
  display: none;
}