/*将要废弃 start*/
.row-radio {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	.input-radio {
		position: absolute;
		left: 0;
		top: 0;
		width: 23px;
		height: 26px;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
	}
	.radio-item {
		display: block;
		i.icon-radio,
		i.icon-checkbox1 {
			display: none;
			font-size: 23px;
			color: #cdd4dc;
		}
		i.icon-radio1,
		i.icon-checkbox {
			display: inline-block;
			font-size: 23px;
			color: #cdd4dc;
		}
	}
	.input-radio:checked+ span i.icon-radio,
	.input-radio:checked+ span i.icon-checkbox1 {
		display: inline-block;
		color: #2692fb;
	}
	.input-radio:checked+ span i.icon-radio1,
	.input-radio:checked+ span i.icon-checkbox {
		display: none;
	}
}
/*将要废弃 end*/

.checkbox-item {
  display: inline-block;
  cursor: pointer;
  padding-top: 5px;
  & > label {
    display: inline-block;
    vertical-align: middle;
  }
  & > i {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
  }

  .icon-radio, .icon-checkbox
  {
    color: #2692fb;
  }
  .icon-radio1,.icon-checkbox1
  {
    color: #cdd4dc;
  }
}