.row-radio {
	margin-right: 4px;
	position: relative;
	display: inline-block;
	.input-radio {
		position: absolute;
		top: -2px;
		left: -3px;
		width: 20px;
		height: 28px;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
	}
	i.icon-radio,
	i.icon-checkbox1 {
		display: none;
		font-size: 23px;
		color: #cdd4dc;
	}
	i.icon-radio1,
	i.icon-checkbox {
		display: inline-block;
		font-size: 23px;
		color: #cdd4dc;
	}
	.input-radio:checked+ span i.icon-radio,
	.input-radio:checked+ span i.icon-checkbox1 {
		display: inline-block;
		color: #2692fb;
	}
	.input-radio:checked+ span i.icon-radio1,
	.input-radio:checked+ span i.icon-checkbox {
		display: none;
	}
}