.row-radio {
	margin-right: 4px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.input-radio {
		position: absolute;
		left: 0;
		top: 0;
		width: 23px;
		height: 26px;
		opacity: 0;
		cursor: pointer;
		z-index: 1;
	}
	.radio-item {
		display: block;
		i.icon-radio,
		i.icon-checkbox1 {
			display: none;
			font-size: 23px;
			color: #cdd4dc;
		}
		i.icon-radio1,
		i.icon-checkbox {
			display: inline-block;
			font-size: 23px;
			color: #cdd4dc;
		}
	}
	.input-radio:checked+ span i.icon-radio,
	.input-radio:checked+ span i.icon-checkbox1 {
		display: inline-block;
		color: #2692fb;
	}
	.input-radio:checked+ span i.icon-radio1,
	.input-radio:checked+ span i.icon-checkbox {
		display: none;
	}
}
.checked-wrapper {
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	.checked-input {
		display: none;
	}
	.checked-item {
		display: block;
		& > i{
			display: none;
			font-size: 23px;
		}
		& > i.icon-radio.active,
		& > i.icon-checkbox1.active
		{
			display: block;
			color: #2692fb;
		}
		& > i.icon-radio1.active,
		& > i.icon-checkbox.active
		{
			display: block;
			color: #cdd4dc;
		}
	}
}