$site-blue: #2692fb;
$site-border-gray: #d7d7d7;
$site-black: #333;
$site-content-width: 1100px;

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon-rnpng,
.icon-hpng,
.icon-apkpng {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 16px;
}
.icon-rnpng{
  background: url(../../images/rn.png) no-repeat;
  background-size: 100% 100%;   
}
.icon-hpng{
  background: url(../../images/h5.png) no-repeat;
  background-size: 100% 100%;      
}
.icon-apkpng{
  background: url(../../images/apk.png) no-repeat;
  background-size: 100% 100%;   
}
@mixin word-break{
    word-break: break-all;
    word-wrap: break-word;
}

@mixin multiple-text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  @include word-break;
}

.content{
    margin-top: 10px;
    margin-left: 220px;
    padding: 10px;
    background: #fff;
    color: #333;
}
.content-header{
  padding: 20px;
  font-size: 16px;
  padding-left: 17px;
  color: #000;
}