$lightblue-color: #2692fb;  //主题蓝
$white-color: #ffffff;
$navsecond-bg: #f6f8f9;     //背景、分割线、border、input
$black-color: #000000;
$darkgray-color: #333333;
$gray-color: #666666;
$lightgray-color: #eeeeee;

$btn-big-height: 38px;

.width110{
  width: 110px;
}

.btn{
  display: inline-block;
  width: 100%;
  height: $btn-big-height;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
//蓝色的按钮 
.bg-btn-blue {
  color: $white-color;
  background-color: $lightblue-color;
  &:hover {
    color: $white-color;
    background-color: #1885ee;
  }
  &:focus {
    color: $white-color;
  }
}
//边框按钮
.border-btn-black{
  color: $black-color;
  border: 1px solid $black-color;
  background: none;
  &:hover{
    color: $lightblue-color;
    border: 1px solid $lightblue-color;
  }
}
