@import '../layouts/CoreLayout/CoreLayout';

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  border: none;
}
.btn-lg{
  padding: 10px 16px;
  font-size: 20px;
  line-height: 24px;
}
.btn-sm{
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
}
.btn-xs{
  padding: 1px 5px;
  font-size: 12px;
  line-height: 18px;
}
.btn-default{
  color: $btn-black-color;
  background-color: $btn-white-color;
  border: 1px solid $btn-black-color;
  &:hover{
    color: $btn-blue-color;
    background: $navsecond-bg;
    border: 1px solid $btn-blue-color;
  }
}
.btn-primary{
  color: $btn-white-color;
  background-color: $btn-blue-color;
  &:hover {
    color: $btn-white-color;
    background-color: $btn-darkblue-color;
  }
}
