@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html, body {
  margin: 0;padding: 0;
  height: 100%;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, 
code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ul , li, ol, 
fieldset, form, label, legend,a,table {
  margin: 0;padding: 0;
  text-decoration:none; list-style:none;
}
*,*:before,*:after {
  box-sizing: inherit;
}
