@import '~normalize.css/normalize';
@font-face {font-family: "roboto";
  src: url('roboto/Roboto-Regular.eot'); /* IE9*/
  src: url('roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto/Roboto-Regular.woff') format('woff'), /* chrome, firefox */
  url('roboto/Roboto-Regular.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
html, body {
  margin: 0;padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei','roboto',sans-serif;
  background: #f1f1f3;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, 
code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ul , li, ol, 
fieldset, form, label, legend,a,table {
  margin: 0;padding: 0;
  text-decoration:none; list-style:none;
}
*,*:before,*:after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
i{ 
  display: inline-block;
}
a{
  color: #000;
  cursor: pointer;
}
a:active{
  color: inherit; 
}
hr{
  border: 1px solid #eeeeee;
}
select, input{
  font-family: "Microsoft Yahei","sans-serif";
}
