.float-left { float: left;}
.float-right { float: right;}
.fixed-top0{
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
}
.height-100{height:100%}
.display-block{ display: block;}
.display-inlineblock{ display: inline-block;}

.cContent-onenav{ padding: 10px 40px;}
.margin-bottom{ margin-bottom: 20px;}

.bg-white{
  background: #ffffff;
}
.bg-gray{
  background: #f6f8f9;
}

.container { padding: 0 15px;}
.row { argin: 0 -15px;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
  position: relative;
  float: left;
  min-height: 1px;
  padding: 0 15px;
}


.pb10{ padding-bottom: 10px;}

.container-full,.core-layout__viewport{
	height:100%;
}
