@import "../layouts/CoreLayout/CoreLayout";

.container{
  width: 1100px;
  margin: 0 auto;
}
.float-left { @include float-left;}
.float-right { @include float-right;}
.clx{ @include clx;}

.height-100{height:100%}
.display-block{ display: block;}
.display-inlineblock{ display: inline-block;}

.cContent-onenav{ padding: 10px 40px;}
.margin-bottom{ margin-bottom: 20px;}
.pt10{ padding-top: 10px;}
.pb10{ padding-bottom: 10px;}
.pt40{ padding: 40px 0 10px 0;}
.padding-top-70{ padding-top:70px;}
.p40{ padding: 40px;}

.bg-white{ background: $white-color;}
.bg-gray{ background: $grayf-color;}

.text-blue-color{ color: $blue-color;}
.text-red-color{ color:$red-color;}
.text-gray9-color{ color: $gray9-color;}
.text-black-color{ color: $black-color;}

.font-nowrap{ white-space:nowrap;}  //不换行
.font-hidden{
  text-overflow: ellipsis;
  overflow: hidden;
}

//list width
.w124,.w342,.w90,.114{ float: left;}
.w124{ width: 124px;}
.w342{ width: 342px;}
.w90{ width: 90px;}
.w114{ width: 114px;}
