@import "../layouts/CoreLayout/CoreLayout";

.container{
  width: 1100px;
  margin: 0 auto;
}
.float-left { @include float-left;}
.float-right { @include float-right;}
.clx{ 
  *zoom : 1;
  &:after { clear : both; display : block; height : 0; visibility : hidden; content : ""; }
}

.height-100{height:100%}
.display-block{ display: block;}
.display-inlineblock{ display: inline-block;}

.cContent-onenav{ padding: 10px 40px;}
.margin-bottom{ margin-bottom: 20px;}
.pt10{ padding-top: 10px;}
.pb10{ padding-bottom: 10px;}
.pt40{ padding: 40px 0 10px 0;}
.padding-top-70{ padding-top:70px;}
.p40{ padding: 40px;}

.bg-white{ background: $white-color;}
.bg-gray{ background: $grayf-color;}

.text-blue-color{ color: $blue-color;}
.text-red-color{ color:$red-color;}
.text-gray9-color{ color: $gray9-color;}
.text-black-color{ color: $black-color;}

//list width
.w124,.w332,.w90,.w100,.w112,.w190{ float: left;}
.w124{ width: 124px;}
.w332{ width: 332px;}
.w90{ width: 90px;}
.w190{width: 190px;}
.w100{ width: 100px;}
.w112{ width: 112px;}
