@import "../../layouts/CoreLayout/CoreLayout";

@mixin open-content-list{
  @include clx;
  li{
    float: left;
    position: relative;
    margin-bottom: 14px;
    padding-left: $default-padding-left - 32px;
    padding-right: $default-padding-right - 32px;
    width: $sub-container-width/3;
    text-align: center;
    div{
      background: $white-color;
      border-radius: 4px;
      overflow: hidden;
      &:hover{
        box-shadow: 0 0 8px rgba(187,187,187,0.9);
      }
    }
    p{
      font-size: $text-font-size - 2px;
      color: $black-color;
    }
    span{
      display: block;
      padding: 0 10px;
      font-size: $text-font-size - 8px;
      color: $gray6-color;
      line-height: $text-line-height - 16px;
    }
    span:nth-of-type(1){
      height:  $text-font-size + 2px;
    }
    span:nth-of-type(2){
      max-height:  $text-font-size*3 + 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    p:last-of-type{
      a{
        display: inline-block;
        width: $sub-list-width/3;
        text-align: center;
        font-size: $text-font-size - 4px;
        color: $gray9-color;
        line-height: $text-line-height - 4px;
        background: #dde1e7;
        @include border-right;
        border-color: $white-color;
      }
      a:last-of-type{
        border: none;
      }
      a:hover{
        color: $blue-color;
      }
    }
    img{
      margin: 20px 0;
      width: $default-width + 28px;
      height: $default-height - 4px;
      border-radius: 6px;
      overflow: hidden;
    }
  }
}
@mixin open-content-nav{
  @include clx;
  font-size: $text-font-size - 2px;
  line-height: $text-line-height + 20px;
  color: $black-color;
  form{
    @include float-right;
    font-size: $text-font-size - 6px;
    color: $gray9-color;
    p{
      @include float-left;
      padding: 0 4px;
    }
    select{
      display: inline-block;
      height: 30px;
    }
  }
}
@mixin open-list-price{
  display: block;
  margin-top: 8px;
  font-size: $text-font-size - 2px;
  color: $blue-color;
  line-height: $text-line-height;
  @include border-top;
  &:hover{
    font-weight: bold;
  }
}
@mixin sub-container-banner{
  width: 100%;
  height: $default-height + 176px;
}
/*Apps detail*/
.detail-container{
  padding: $default-padding-top - 20;
  @include clx;
  .detail-download{
    @include float-left;
    width: $default-width + 55;
    .appImg{
      width: $default-width + 55;
      height: $default-height + 55;
      border-radius: 16px;
    }
    .btn-download{
      display: block;
      margin-top: $default-margin-top - 15;
    }
  }
  .detail-info{
    @include float-right;
    width: $default-width + 530;
    .detail-tittle{
      font-size: $text-font-size - 4;
      color: $black-color;
      dd{
        margin-top: $default-margin-top - 26;
        font-size: $text-font-size - 8;
        color: $gray6-color;
        i{
          margin-right: $default-margin-right - 35; 
        }
      }
    }
    .app-title{
      margin-top: $default-margin-top - 10;
      font-size: $text-font-size - 4;
      color: $blue-color;
      span{
        color: $black-color;
      }
    }
    .app-text{
      margin-top: $default-margin-top - 25;
      font-size: $text-font-size - 6;
      color: $black-color;
    }
    .info-list{
      margin-top: $default-margin-top - 5;
      font-size: $text-font-size - 4;
      color: $black-color;
      dt{
        margin-bottom: $default-margin-top - 15;
      }
      .text-blue-color{
        color: $blue-color;
      }
    }
  }
  .Detail-downloadBtn,.Detail-appImg,.Detail-weatherImg{
    width: $default-width + 50px;
  }
  .Detail-downloadBtn{
    margin-top: 20px;
  }
  .Detail-appImg,.Detail-weatherImg,.Detail-hardwareImg{
    background: #eeeeee;
    overflow: hidden;
  }
  .Detail-appImg{
    height: $default-height + 50px;
    border-radius: 16px;
  }
  .Detail-weatherImg{
    height: $default-height - 20px;
    border: 1px solid #999999;
  }
  .Detail-hardwareImg{
    width: $default-width + 560px;
    height: $default-height + 210px;
  }
}
.detail-moreApps{
  margin-top: $default-margin-top - 20;
  padding: 0 $default-padding-left - 20;
  .moreApp-list{
    padding-bottom: $default-padding-bottom - 10;
    border-top: 1px solid $graya-color;
    h3{
      padding: $default-padding-top - 20 0;
      font-size: $text-font-size - 4;
    }
    .open-content-list{
      margin-top: $default-margin-top - 20;
      p{
        text-align:center;
      }
    }
  }
}
.hardware-price{
  p{
    font-size: $text-font-size + 4px;
    color: $gray9-color;
    line-height: $text-line-height;
    .text-red-color{
      font-size: $text-font-size + 26px;
    }
  }
  .pt{
    padding-top: $default-padding-top;
  }
  .Detail-downloadBtn{
    padding-top: $default-padding-top + 50px;
    width: 100%;
  }
}
.Detail-hardware{
  div{
    padding-top: $default-padding-top - 20px;
    @include border-bottom;
    a{
      float: left;
      padding: $default-padding-right - 20px;
      font-size: $text-font-size - 2px;
    }
    .hardware-hover{
      color: $blue-color;
      border-bottom: 2px solid $blue-color;
    }
  }
  dl{
    padding-top: $default-padding-top - 20px;
    padding-left: $default-padding-left - 20px;
    padding-right: $default-padding-right - 20px;
    line-height: $text-line-height;
  }
}
