@import "../../layouts/CoreLayout/CoreLayout";

@mixin sub-nav{
  @include float-left;
  width: 210px;
  height: 600px;   //暂时占位
  background: $white-color;
}
@mixin sub-container{
  @include float-right;
  margin-top: 16px;
  width: 876px;
  h2{
    @include clx;
    font-size: $text-font-size - 2px;
    line-height: $text-line-height + 20px;
    color: $black-color;
    form{
      @include float-right;
      font-size: $text-font-size - 6px;
      color: $gray9-color;
      p{
        @include float-left;
        padding: 0 4px;
      }
      select{
        display: inline-block;
        height: 28px;
      }
    }
  }
  ul{
//  @include clx;
    li{
//    float: left;
//    width: 100% / 3;
    }
  }
}
@mixin sub-container-banner{
  width: 100%;
  height: $default-height + 176px;
}
.Detail-container{
  .Detail-downloadBtn,.Detail-appImg,.Detail-weatherImg{
    width: $default-width + 50px;
  }
  .Detail-downloadBtn{
    margin-top: 20px;
  }
  .Detail-appImg,.Detail-weatherImg,.Detail-hardwareImg{
    background: #eeeeee;
    overflow: hidden;
  }
  .Detail-appImg{
    height: $default-height + 50px;
    border-radius: 16px;
  }
  .Detail-weatherImg{
    height: $default-height - 20px;
    border: 1px solid #999999;
  }
  .Detail-hardwareImg{
    width: $default-width + 560px;
    height: $default-height + 210px;
  }
  .Detail-detail{
    h3{
      font-size: $text-font-size + 6px;
      line-height: $text-line-height;
    }
    dl{
      padding-top: $default-padding-top - 30px;
      padding-bottom: $default-padding-bottom - 26px;
      dt {
        line-height: $text-line-height + 10px;
      }
      dd{
        line-height: $text-line-height - 12px;
        span{
          padding-right: $default-padding-right - 30px;
          font-weight: bold;
          vertical-align: text-bottom;
        }
      }
    }
  }
}
.hardware-price{
  p{
    font-size: $text-font-size + 4px;
    color: $gray9-color;
    line-height: $text-line-height;
    .text-red-color{
      font-size: $text-font-size + 26px;
    }
  }
  .pt{
    padding-top: $default-padding-top;
  }
  .Detail-downloadBtn{
    padding-top: $default-padding-top + 50px;
    width: 100%;
  }
}
.Detail-hardware{
  div{
    padding-top: $default-padding-top - 20px;
    @include border-bottom;
    a{
      float: left;
      padding: $default-padding-right - 20px;
      font-size: $text-font-size - 2px;
    }
    .hardware-hover{
      color: $blue-color;
      border-bottom: 2px solid $blue-color;
    }
  }
  dl{
    padding-top: $default-padding-top - 20px;
    padding-left: $default-padding-left - 20px;
    padding-right: $default-padding-right - 20px;
    line-height: $text-line-height;
  }
}
.Detail-moreApps{
  h3{
    font-size: $text-font-size - 4px;
    line-height: $text-line-height;
  }
  ul{
    padding-top: $default-padding-top - 20px;
    padding-bottom: $default-padding-bottom - 20px;
    li{
      .Detail-appBox{
        margin: 0 auto;
        width: $default-width - 18px;
        text-align: center;
        .Detail-appImg{
        width: $default-width - 18px;
        height: $default-height - 18px;
        border-radius: 6px;
        overflow: hidden;
        background: #eeeeee;
        }
        h5{
        font-size: $text-font-size - 4px;
        color: $black-color;
        padding-top: $default-padding-top - 26px;
        }
        p{
        font-size: $text-font-size - 4px;
        color: $gray6-color;
        line-height: $text-line-height - 10px;
        }
      }
    }
  }
}
