@import 'src/styles/v/base.scss';
.pageTitle {
	color: #000;
	height: 51px;
	line-height: 50px;
	padding-left: 25px;
	font-size: 16px;
	margin-bottom: 20px;
	border-bottom: 1px solid $site-border-gray;
}
.main {
	color: #333;
	font-size: 14px;
}
.tips {
	color: #fff;
	display: block;
	padding: 0 6px;
	height: 30px;
	line-height: 28px;
	margin: -10px 10px 40px;
	background: #78909c;
	border: 1px solid #546e7a;
	&>i {
		font-size: 13px;
		margin-right: 4px;
	}
}
.version-rule{
	color: #999;
  font-size: 12px;
  line-height: 24px;
	margin-left: 258px;
}
.text {
	font-size: 12px;
	color: #999;
	line-height: 22px;
	text-align: justify;
}
.text-con {
	cursor: pointer;
	display: inline-block;
	vertical-align: 1px;
}
.img-use {
	width: 300px;
	height: 182px;
	display: block;
}
.apply-radio {
	margin: 14px 0;
	.list {
		overflow: hidden;
		&.active {
			display: block;
		}
		.item {
			color: #666;
			margin: 8px;
			float: left;
			cursor: pointer;
			text-align: center;
			border-radius: 4px;
			transition: all 0.05s ease-in-out;
			position: relative;
			&:before{
				content:"";
				background: #fff;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				position: absolute;
				left: -7px;
				top: -7px;
			}
			&:hover{
				& > img{
					border-color: rgba(38,146,251,0.6);
				}
			}
			img {
				width: 98px;
				height: 98px;
				display: block;
				border-radius: 4px;
				border: 1px solid $site-border-gray;
			}
			.del {
				position: absolute;
				left: -7px;
				top: -7px;
				font-size: 20px;
				color: $site-red;
				cursor: pointer;
				z-index: 2;
			}
			.name{
				height: 24px;
				width: 100px;
				color: #666;
				display: block;
				line-height: 24px;
				@include text-overflow;
			}
		}
		.item-add{
			width: 100px;
			height: 100px;
			border: 1px solid $site-border-gray;
			&:before{
				display: none;
			}
			.add{
				display: block;
				line-height: 98px;
					& > i {
					color: #999;
				}
			}
			&:hover {
				color: #fff;
				.add{
					& > i{
					color: #fff;
					}
				}
				background: rgba(38,146,251,0.6);
				border-color: transparent;
			}
		}
	}
}
.saveBtn {
	width: 132px;
	height: 35px;
	line-height: 33px;
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}
