@import 'src/styles/v/base.scss';
.breadcrumb {
	color: #333;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	border-bottom: 1px solid $site-border-gray;
	.site:after {
		content: "/";
		margin: 0 4px;
	}
	.noNext:after {
		display: none;
	}
}
.pageTitle {
	color: #000;
	height: 51px;
	line-height: 50px;
	padding-left: 25px;
	font-size: 16px;
	border-bottom: 1px solid $site-border-gray;
}
.main {
	color: #333;
	font-size: 14px;
  padding-top: 10px;
  & > form {
    margin-top: 30px;
  }
}

.tips {
	color: #fff;
	display: block;
	padding: 0 6px;
	height: 30px;
	line-height: 28px;
	margin: 0 10px ;
	background: #78909c;
	border: 1px solid #546e7a;
	&>i {
		font-size: 13px;
		margin-right: 4px;
	}
}

.tabs {
  font-size: 16px;
  &-titles {
    border-bottom: 1px solid $site-border-gray;
    	.address{
    		color: #666;
    		display: block;
    		line-height: 48px;
    	}
  }
  
  &-content {
    color: #333;
    font-size: 14px;
  }
}

.text {
	font-size: 12px;
	color: #999;
	line-height: 22px;
	text-align: justify;
}
.text-con {
	cursor: pointer;
	display: inline-block;
	vertical-align: 1px;
}
.img-use {
	width: 300px;
	height: 182px;
	display: block;
}
.apply-radio {
	margin: 14px 0;
}
.saveBtn {
	width: 132px;
	height: 35px;
	line-height: 33px;
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}
