@import 'src/styles/v/base.scss';
.breadcrumb {
  color: #333;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  border-bottom: 1px solid $site-border-gray;
  .site:after {
    content: "/";
    margin: 0 4px;
  }
  .noNext:after {
    display: none;
  }
}

.pageTitle {
  color: #000;
  height: 51px;
  line-height: 50px;
  padding-left: 25px;
  font-size: 16px;
  margin-bottom: 20px;
  // border-bottom: 1px solid $site-border-gray;
}

.main {
  color: #333;
  font-size: 14px;
  padding: 10px 0 30px;
  &>form {
    margin-top: 30px;
  }
}

.tips {
  // color: #fff;
  display: block;
  padding: 0 6px;
  height: 30px;
  line-height: 28px;
  margin: 0 10px;
  // background: #78909c;
  // border: 1px solid #546e7a;
  background: #ffe4e2;
  border-color: #ffb9b4;
  color: #ff3a2c;
  &>i {
    font-size: 13px;
    margin-right: 4px;
  }
}
.rule-text {
  color: #999;
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
}
.tabs {
  font-size: 16px;
  .list {
    text-align: center;
    // border-bottom: 1px solid $site-border-gray;
    .item {
      color: #666;
      font-size: 16px;
      margin: 0 10px;
      cursor: pointer;
      display: inline-block;
      &>a {
        display: block;
        padding: 15px 0 5px;
        color: #666;
        border-bottom: 2px solid transparent;
        &:hover,
        &.active {
          color: #000;
          color: $site-blue;
          border-bottom: 2px solid $site-blue;
        }
      }
    }
    .address {
      color: #666;
      display: block;
    }
  }
  &-content {
    color: #333;
    font-size: 14px;
  }
}

.version-rule {
  color: #999;
  font-size: 12px;
  line-height: 24px;
  margin-left: 258px;
}

.text {
  font-size: 12px;
  color: #999;
  line-height: 22px;
  text-align: justify;
}

.text-con {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.img-use {
  width: 300px;
  height: 182px;
  display: block;
}

.checkboxList {
  .item {
    .relative-list {
      display: none;
      margin-top: 15px;
      &.active {
        display: block;
      }
      .item {
        width: 64px;
        margin-bottom: 15px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: top;
        color: #666;
        border-radius: 4px;
        position: relative;
        img {
          width: 64px;
          height: 64px;
          border-radius: 4px;
          border: 1px solid #dedede;
        }
        .delBtn {
          position: absolute;
          z-index: 1;
          display: block;
          text-align: center;
          left: -7px;
          top: -7px;
          font-size: 16px;
          color: #ff5628;
          cursor: pointer;
          background: transparent;
        }
        .name {
          display: block;
          max-width: 100%;
          color: #666;
          @include text-overflow;
        }
      }
      .addBtn {
        display: inline-block;
        vertical-align: top;
        color: #666;
        margin-right: 10px;
        border-radius: 4px;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        border: 1px solid #dedede;
        cursor: pointer;
        &:hover {
          color: #fff;
          .add {
            &>i {
              color: #fff;
            }
          }
          background: rgba(38, 146, 251, 0.6);
          border-color: transparent;
        }
      }
    }
  }
}

.saveBtn {
  width: 200px;
  padding: 10px 20px;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}


.example {
		width: 280px;
    margin: 20px 0;
		.content {
			background: #eee;
			padding: 3px;
			font-size: 12px;
			position: relative;
			.example-img {
				width: 94px;
				height: 94px;
				background: #FFFFFF;
				text-align: center;
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				position: relative;
				&:hover {
					background: rgba(0,0,0,0.6);
					.img {
						opacity: 0.3;
						&-hover {
							opacity: 1;
							display: block;
						}
					}
					.name {
						color: #fff;
					}
				}
				.img {
					width: 50px;
					height: 50px;
					display: block;
					margin: 11px auto 8px;
					background: url("http://timg.ffan.com/convert/resize/url_T1MDVTByhb1RCvBVdK/tfs/1.png") no-repeat;
					background-size: 100%;
					&-hover {
						position: absolute;
						left: 50%;
						top: 0;
						transform: translateX(-50%);
						background: url("http://timg.ffan.com/convert/resize/url_T12QJTBbhv1RCvBVdK/tfs/1.png") no-repeat;
						background-size: 100%;
						display: none;
					}
				}
				.name {
					display: block;
					color: $site-blue;
				}
			}
			.example-text {
				width: 180px;
				padding: 0 10px 0 15px;
				display: inline-block;
				vertical-align: top;
				.title {
					font-size: 12px;					
					margin: 6px 0;
					position: relative;
					&:before {
						content: "";
						width: 0;
						height: 0;
						font-size: 0;
						line-height: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: -10px;
						border-bottom: 4px solid transparent;
						border-top: 4px solid transparent;
						border-right: 4px solid #999;
					}
				}
				.con {
					line-height: 20px;
					color: #999;
					word-break: break-all;
				}
			}
		}
	}