.sl-custom-file{
  position:relative;
  display:inline-block;
  zoom:1;
  padding-top: 10px;
  cursor:pointer;
  overflow:hidden;
  vertical-align:middle;
}
.sl-custom-file .ui-input-file{
  position:absolute;
  right:0;
  top:0;
  _zoom:30;
  font-size:300px\9;
  height:100%;
  _height:auto;
  opacity:0;
  filter:alpha(opacity=0);
  -ms-filter:"alpha(opacity=0)";
  cursor:pointer;
}
.selectBox {
  display: inline-block;
  overflow: hidden;
  margin:0 80px;
  label{
    text-align: center;
    float:left;
     img{     
      display: block;
      height:255px;
      width:200px; 
      border-radius: 15%;
      background:#ccc;
    }
    img.active{
      background:blue；
    }
  }
 
 
}