@import 'src/styles/v/base.scss';

.item-tag {
	width: 94%;
  display: inline-block;
  vertical-align: top;
  margin-top: -14px;
  .tags {
    color: #666;
    padding: 10px 20px;
    min-width: 80px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 14px 18px 0 0;
    border: 1px solid $site-border-gray;
    transition: all 0.2s ease-in-out;
    position: relative;
    
    &:hover {
      border: 1px solid  $site-blue;
      color: $site-blue;
    }

    &.active{
      border: 1px solid  $site-blue;
      color: $site-blue;
      &::before {
        display: block;
        content: " ";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent #007bff transparent;
      }
      &::after {
        font-family: iconfont!important;
        font-size: 15px;
        font-weight: 700;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        display: block;
        content: "\E62A";
        position: absolute;
        color: #fff;
        bottom: 0px;
        right: 0;
        transform: translate(2px, 2px) rotate(3deg) scale(0.7);
        line-height: 1;
      }
    }


    
  }
}