@import 'src/styles/v/base.scss';

.upload-btn {
  width: 200px;
  height: 35px;
  display: block;
  overflow: hidden;
  text-align: center;
  line-height: 35px;
  border-radius: 2px;
  cursor: pointer;
  .text {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid $site-border-gray;
    &:hover {
      border-color: $site-blue;
      color: $site-blue;
    }
  }
  .upload-file {
    display: none;
  }
}

.item-rule {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  .rule-text {
    color: #999;
    font-size: 12px;
    line-height: 24px;
  }
  .form-info {
    margin-bottom: 3px;
  }
}
.img-item {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  &.active {
    height: auto;
  }
  .upload-img {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    border: 1px solid $site-border-gray;
  }
}