@import "../../../../../layouts/CoreLayout/CoreLayout";

.ccContentBtn{
  display: block;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.list-title {
  height: 48px;
  line-height: 48px;
  background: $bg-gray-color;
  border-top: $border-top;
}
.no-padding-left {
  padding-left: 0px;
}