@import 'src/styles/v/base.scss';
.statusBar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $site-border-gray;
    .navFilters {
        line-height: 66px;
        & > li {
            padding: 0 15px;
        }
    }
}