@import 'src/styles/v/base.scss';
.statusBar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $site-border-gray;
    .navFilters {
        line-height: 66px;
        border-bottom: 0;
        .tabs{
            padding: 0 15px;
            color: #666;
            &:hover,
            &.active{
                color: #000;
            }
        }
    }
}