.root {
  padding: 10px;
  
}

.table {
  border: 1px solid #eee;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  
  th {
    height: 50px;
    background: #eee;
    border: 1px solid #dedede;
    color: #666;
    font-weight: normal;
  }
  td {
    padding: 5px;
    border: 1px solid #dedede;
    text-align: center;
    &.imgWrap {
      width: 122px;
      text-align: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        vertical-align: middle;
      }
    }
    &.appInfo {
      width: 200px;
      text-align: left;
      .name {
        color: #000;
        display: block;
        margin-bottom: 10px;
        width: 200px;
      }
      .appId {
        font-size: 12px;
        margin-right: 10px;
      }
    }
    &.status{
        padding:5px 15px;
    }
    .vStatus{
        text-align: left;
        margin-top: 14px;
        &:first-child{
            margin-top: 0;
        }
        .version{
            display: block;
            margin-bottom: 2px;
            .round {
              display: inline-block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              margin: 0 5px;
              background: green;
            }
        }
        .text{
            display: block;
            padding-left: 18px;
        }
    }
    
    &.actions {
      text-align: center;
      .btn {
        width: 85px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: block;
        margin: 5px auto;
        cursor: pointer;
        font-size: 12px;
        color: #666;

        &:hover {
          background: #2692fb;
          color: #fff;
          border-color: #2692fb;
        }
      }
    }
  }
}

