@import 'src/styles/v/base.scss';
.main {
	padding: 20px 17px;
	.deprecated,
	.success,
	.fail {
		height: 28px;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 10px;
		padding: 0 15px;
		border: 1px solid $site-border-gray;
	}
	.deprecated,
	.fail {
		background: #ffe4e2;
		border-color: #ffb9b4;
		color: #ff3a2c;
	}
	.deprecated {
		margin: 0 10px;
	}
	.success {
		background: #e4efc9;
		border-color: #add49a;
		color: #519e54;
	}
	.desc {
		color: #666;
		font-size: 14px;
		line-height: 28px;
		border-bottom: 1px solid $site-border-gray;
		padding-bottom: 16px;
		.downlinks {
			color: $site-blue;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.account {
		.account-title {
			color: #000;
			font-size: 16px;
			padding: 20px 0;
		}
		.item {
			color: #666;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 10px;
			display: flex;
			align-items: flex-start;
			.key {
				width: 100px;
				text-align: right;
			}
			.value {
				flex: 1;
				@include word-break;
			}
		}
	}
	.applyForm {
		padding: 30px 0 0 12px;
		font-size: 14px;
		.formItem {
			margin-bottom: 10px;
			.phone-number,
			.code-number {
				color: #333;
				height: 30px;
				line-height: 28px;
				&::-webkit-input-placeholder {
					color: #afafaf;
				}
			}
			.phone-number {
				width: 213px;
			}
			.code-number {
				width: 124px;
			}
			.getCodeBtn {
				width: 84px;
				height: 30px;
				vertical-align: top;
				border-radius: 2px;
				color: $site-blue;
				background: #fff;
				margin-left: 5px;
				border: 1px solid $site-blue;
				outline: none;
				cursor: pointer;
			}
			.getCodeBtn[disabled] {
				color: #bbb;
				background-color: rgba(193,193,193,0.6);
				border-color: rgba(193,193,193,0.2);
				cursor: not-allowed;
			}
		}
		.action {
			width: 215px;
			font-size: 14px;
		}
	}
}