@import 'src/styles/v/base.scss';
.main {
    padding: 20px 17px;
    .success,
    .fail {
        height: 28px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
        padding-left: 12px;
        border: 1px solid $site-border-gray;
    }
    .fail {
        background: #ffe4e2;
        border-color: #ffb9b4;
        color: #ff3a2c;
    }
    .success {
        background: #e4efc9;
        border-color: #add49a;
        color: #519e54;
    }
    .desc {
        color: #666;
        font-size: 14px;
        line-height: 28px;
        border-bottom: 1px solid $site-border-gray;
        padding-bottom: 16px;
        .downlinks {
            color: #2692FB;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .account {
        & > .test-title {
            font-size: 16px;
            color: #000;
            padding: 35px 0 25px;
        }
        .item {
            font-size: 14px;
            color: #666;
            margin-bottom: 15px;
            & > label {
                display: inline-block;
                width: 100px;
                text-align: right;
            }
        }
    }
    .applyForm {
        padding: 30px 0 0 20px;
        .formAction,
        .formItem {
            margin-bottom: 10px;
            font-size: 14px;
        }
        input {
            height: 30px;
            line-height: 30px;
            border: 1px solid #313131;
            padding: 0 7px;
            color: #000;
            outline: none;
            border-color: #aaa;
            transition: all 0.5s ease;
            &:focus {
                border-color: #2692fb;
                box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
            }
            &::-webkit-input-placeholder {
                color: #999;
            }
        }
        .phone {
            width: 215px;
        }
        .code {
            width: 125px;
            vertical-align: top;
        }
        .getCodeBtn {
            vertical-align: top;
            width: 87px;
            height: 30px;
            border: 1px solid #2692FB;
            border-radius: 2px;
            text-align: center;
            color: #2692fb;
            background: #fff;
            margin-left: 5px;
            outline: none;
            cursor: pointer;
        }
        .getCodeBtn[disabled] {
            color: rgba(0, 0, 0, .25);
            background-color: #f7f7f7;
            border-color: #d9d9d9;
            cursor: not-allowed;
        }
    }
    .submit {
        width: 215px;
        padding: 5px;
        background: #2692FB;
        color: #fff;
        font-size: 14px;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        padding-left: 10px;
        outline: none;
        &:hover {
            background: #1389fb;
        }
    }
}