@import "../../../../layouts/CoreLayout/CoreLayout";
$bg-phone-width:354px;
$bg-phone-height:642px;
.myshop-content{
  padding-top: $default-padding-top + 70;
  .preview{
    width:$bg-phone-width;
    margin:0 auto;
    padding-top:$default-padding-top;
  }
  .bg-phone{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-($bg-phone-width/2);
    margin-top:-($bg-phone-height/2);
    width:$bg-phone-width;
    height:$bg-phone-height;
    background-image:url(../../../Home/assets/bg_phone.png);
  }
  .shop-info{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-(($bg-phone-width - 39)/2)+2;
    margin-top:-(($bg-phone-height - 175)/2)-13;
    width: $bg-phone-width - 41;
    height: $bg-phone-height - 175;
    background:#f6f5f5;
    overflow-y:scroll;
  }
  .temp-img{
    background-image:url(../../../Home/assets/temp.jpg);
    width: $bg-phone-width - 40;
    height: $bg-phone-height - 418;
  }
  .preview .btn{
    margin-top:40px;
    padding:10px 12px;
  }
  .cContent .navThird .sub-content ul li{
    border-bottom: 0;
    padding-left: 0px;
    height: auto;
    line-height: 40px;
    background: none;
    background-size: 6px;
    width: 46%;
    margin: 0 2%;
    float: left;
  }
  .cContent .navThird .sub-content{
    margin-top:10px;
  }
  .cContent .navThird .sub-content ul li img{
    background:#e5e5e5;
    border:1px solid #a6a6a6;
    width:100%;
  }
  .cContent .navThird .sub-content ul li span{
    display:block;
    color:#333;
    text-align:center;
  }
  .sub-banner{
    border:1px solid #333;
    margin:20px auto 0;
    background-image:url(http://10.1.114.102:3000/e1f0c7df48cf35551907130ac293d3d4.jpg);
    width:97%;
    height:115px;
  }
  .sub-info{
    padding:17px 0 88px;
    font-size:13px;
    color:#999;
  }
  .btn-more{
    display:block;
    padding:11px 16px;
    font-size:15px;
    color:#434343;
    border-top:1px solid #dbdddf;
    border-bottom:1px solid #dbdddf;
  }
  .nav-fixed{
    width: 16%;
    height: 100%;
    position: fixed;
    background: #fff;
  }
  .sub-nav-menu{
    height:95%;
    overflow-y:scroll;
  }
  .editor-right{}
}
