
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483948879578'); /* IE9*/
  src: url('iconfont.eot?t=1483948879578#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483948879578') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483948879578') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483948879578#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e600"; }

.icon-arrR:before { content: "\e612"; }

.icon-wechat:before { content: "\e66f"; }

.icon-heart:before { content: "\e65e"; }

.icon-add:before { content: "\e616"; }

.icon-dingwei:before { content: "\e60d"; }

.icon-shangjia:before { content: "\e626"; }

.icon-apps-sidebar7:before { content: "\e630"; }

.icon-lock:before { content: "\e60b"; }

.icon-leftjiao:before { content: "\e66d"; }

.icon-search:before { content: "\e665"; }

.icon-toolsbar:before { content: "\e602"; }

.icon-radio:before { content: "\e607"; }

.icon-laba:before { content: "\e64b"; }

.icon-success:before { content: "\e62a"; }

.icon-leftarrow:before { content: "\e62e"; }

.icon-team:before { content: "\e605"; }

.icon-apps-sidebar2:before { content: "\e63e"; }

.icon-create:before { content: "\e63f"; }

.icon-apps-sidebar0:before { content: "\e640"; }

.icon-apps-sidebar4:before { content: "\e641"; }

.icon-hot-control:before { content: "\e644"; }

.icon-toparrow:before { content: "\e645"; }

.icon-apps-sidebar3:before { content: "\e647"; }

.icon-finish:before { content: "\e648"; }

.icon-application:before { content: "\e649"; }

.icon-drop-down:before { content: "\e64a"; }

.icon-apps-sidebar6:before { content: "\e64c"; }

.icon-info:before { content: "\e64d"; }

.icon-star:before { content: "\e64e"; }

.icon-apps-sidebar1:before { content: "\e64f"; }

.icon-apps-sidebar5:before { content: "\e650"; }

.icon-file:before { content: "\e651"; }

.icon-uncollected:before { content: "\e652"; }

.icon-edit:before { content: "\e653"; }

.icon-access:before { content: "\e655"; }

.icon-pay:before { content: "\e656"; }

.icon-general:before { content: "\e657"; }

.icon-chart:before { content: "\e658"; }

.icon-consumption:before { content: "\e659"; }

.icon-shoppingcar:before { content: "\e65a"; }

.icon-vip:before { content: "\e65b"; }

.icon-radio1:before { content: "\e617"; }

.icon-goods:before { content: "\e65c"; }

.icon-text:before { content: "\e65d"; }

.icon-update:before { content: "\e65f"; }

.icon-readMore:before { content: "\e660"; }

.icon-puzzle:before { content: "\e661"; }

.icon-save:before { content: "\e662"; }

.icon-component:before { content: "\e666"; }

.icon-hardware:before { content: "\e667"; }

.icon-api:before { content: "\e668"; }

.icon-business:before { content: "\e669"; }

.icon-widgets-sidebar3:before { content: "\e663"; }

.icon-widgets-sidebar1:before { content: "\e664"; }

.icon-widgets-sidebar2:before { content: "\e66a"; }

.icon-widgets-sidebar4:before { content: "\e66b"; }

.icon-hardware-sidebar1:before { content: "\e66c"; }

.icon-hardware-sidebar2:before { content: "\e66e"; }

.icon-hardware-sidebar3:before { content: "\e670"; }

.icon-hardware-sidebar5:before { content: "\e671"; }

.icon-hardware-sidebar4:before { content: "\e672"; }

.icon-hardware-sidebar0:before { content: "\e618"; }

.icon-widgets-sidebar0:before { content: "\e619"; }

