
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482912340715'); /* IE9*/
  src: url('iconfont.eot?t=1482912340715#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482912340715') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482912340715') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482912340715#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e600"; }

.icon-arrR:before { content: "\e612"; }

.icon-add:before { content: "\e616"; }

.icon-business:before { content: "\e60c"; }

.icon-sidebar6:before { content: "\e630"; }

.icon-lock:before { content: "\e60b"; }

.icon-radio:before { content: "\e607"; }

.icon-laba:before { content: "\e64b"; }

.icon-success:before { content: "\e62a"; }

.icon-team:before { content: "\e605"; }

.icon-sidebar1:before { content: "\e63e"; }

.icon-create:before { content: "\e63f"; }

.icon-sidebar0:before { content: "\e640"; }

.icon-sidebar3:before { content: "\e641"; }

.icon-logo:before { content: "\e642"; }

.icon-hot-control:before { content: "\e644"; }

.icon-toparrow:before { content: "\e645"; }

.icon-sidebar2:before { content: "\e647"; }

.icon-finish:before { content: "\e648"; }

.icon-application:before { content: "\e649"; }

.icon-drop-down:before { content: "\e64a"; }

.icon-sidebar5:before { content: "\e64c"; }

.icon-info:before { content: "\e64d"; }

.icon-star:before { content: "\e64e"; }

.icon-sidebar7:before { content: "\e64f"; }

.icon-sidebar4:before { content: "\e650"; }

.icon-file:before { content: "\e651"; }

.icon-uncollected:before { content: "\e652"; }

.icon-edit:before { content: "\e653"; }

.icon-search:before { content: "\e654"; }

.icon-access:before { content: "\e655"; }

.icon-pay:before { content: "\e656"; }

.icon-general:before { content: "\e657"; }

.icon-chart:before { content: "\e658"; }

.icon-consumption:before { content: "\e659"; }

.icon-shoppingcar:before { content: "\e65a"; }

.icon-vip:before { content: "\e65b"; }

<<<<<<< HEAD
.icon-radio1:before { content: "\e617"; }

=======
>>>>>>> 9129af3a9b543e217fe4e4650b6b9990adc108f9
