@import '../layouts/CoreLayout/CoreLayout';

@mixin m-btn{
  display: inline-block;
  width: 90px;
  margin: 8px 5px;
  padding:7px 0;
  font-size: 14px;
  font-weight: 400;
  color:#fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background: #fff;
  border-radius: 4px;
  border: none;
  .iconfont{
    padding-right:2px;
    vertical-align:middle;
  }
}
.m-btn{
  @include m-btn;
}
.m-btn-block {
  display: block;
  width: 95%;
  margin:0 auto;
}
.m-btn-red{
  color: #fff;
  background: #fb4747;
  border: 2px solid #fb4747;
}
.m-btn-border-red{
  color: #fb4747;
  background: #fff;
  border: 2px solid #fb4747;
}
.m-btn-blue{
  color: #fff;
  background: #3fa7ff;
  border: 2px solid #3fa7ff;
}
.m-btn-border-blue{
  color: #3fa7ff;
  background: #fff;
  border: 2px solid #3fa7ff;
}
.m-btn-green{
  color: #fff;
  background: #54a4ff;
  border: 2px solid #54a4ff;
}
.m-btn-border-green{
  color: #54a4ff;
  background: #fff;
  border: 2px solid #54a4ff;
}
