i.icon-recommend{font-size:23px!important;}
.association{
  label.labelCheckbox{
      width: auto;
      margin: 0;
      padding: 0;
      float: none;
      position: inherit;
      cursor: pointer;
  }
  .active{
    display:block;
    .logo-box{
        width: 100px;
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
        margin: 7px;
        position: relative;
        img{
            width:100%;
            height: 100%;
            border-radius: 4px;
            margin-right: 0;
        }
        span{
            line-height: 100px;
            font-size: 16px;
            i{
                vertical-align: 2px;
            }
        }
        i.icon-del{
            position: absolute;
            font-size: 20px;
            color: #fc5c63;
            left: -7px;
            top: -7px;
            z-index: 2;
        }
    }
    .logo-box:not(:last-child){
        &:after{
            content: "";
            background: #fff;
            position: absolute;
            width:18px;
            height: 20px;
            border-radius: 50%;
            left: -7px;
            top: -7px;
            z-index: 1;
        }
    }
  }
  ul{
    display: none;
  }
}
