@import "~layouts/CoreLayout/CoreLayout.scss";

$i-color:#46db60;

.step-finish1{
  padding: 20px 0;
  width: $sub-container-width; 
  background: $white-color;
  .finish-btn{
    text-align: center;
    i{
      font-size: 74px;
      color: #46db60;
      vertical-align: middle;
      margin-right: 22px;
    }
    span{
      line-height: 130px;
    }
  }
  .finish-text-box{
    margin: 6px auto;
    width: 500px;
    font-size: 14px;
    p{
      padding-bottom: 10px;
      color: #666;
      line-height: 20px;
    }
  }
  .finish-return{
    display: block;
    margin: 20px 0;
    width: 132px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    text-align: center;
    background: #1a8fff;
    border-radius: 2px;
  }
}