@import "~layouts/CoreLayout/CoreLayout.scss";
$step_background:#eff3f3;
$step_rotate_background:#c2c6d0;
$branch_line_background:#bbbfca;

.step{
    background: $white-color; 
    padding: 0 $default-padding-left - 25px;
    .step-smallnav{
      margin-bottom: 10px;
      padding: 10px 0;
      font-size: 14px;
      color: #666;
      border-bottom: 1px solid #eee;
      i{
        font-size: 13px;
        vertical-align: middle;
      }
      .step-smallnav-arrow{
        padding: 0 4px;
      }
    }
    .step-tittle{
      padding: 14px 0;
      font-size: 16px;
      font-weight: bold;
    }
    .step-prompt{
      padding: 0 4px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      color: #fff;
      background: #78909c;
      border: 1px solid #546e7a;
      i{
        padding-right: 4px;
        font-size: 12px;
      }
    }
}
    // .branchBox{
    //     background: $step_background; 
    //     padding: $default-padding-top - 15px $default-padding-left + 12px  $default-padding-bottom - 28px; 
    //     @include clx;
    //     .branch{
    //         @include float-left; 
    //         text-align: center;
    //         span:first-child{
    //             width: $default-width - 33px; 
    //             height: $default-height - 33px; 
    //             display: block;
    //             border-radius: 50%; 
    //             background: $step_rotate_background; 
    //             box-shadow: 5px 5px 5px rgba(209,211,218,0.23) inset;
    //             font-size: $text-font-size + 15px; 
    //             color: $white-color; 
    //             line-height: $default-height - 33px; 
    //             text-align: center; 
    //             margin: 0 $default-padding-left - 13px $default-padding-bottom - 30px;
    //         }
    //         span:last-child{
    //             font-size: $text-font-size - 6px; 
    //             color: $gray6-color;
    //         }
    //     }
    //     .branch.active{
    //       span:first-child{
    //          background: -webkit-linear-gradient(#57acff,#2692fb);
    //       }
    //       span:last-child{
    //         color: $blue-color;
    //       }
    //     }
    //     .branchBox-line{
    //         width: $default-width + 80px; 
    //         height: $default-height - 98px; 
    //         background: $branch_line_background; 
    //         @include float-left;
    //         margin-top: $default-margin-top - 8px;
    //     }
    // }
