/*@import '../oneVariables.css';*/
.overlay-container{
  .modal {
    position: fixed;
    transform: translate3d(-50%, -50%, 0);
    top: 300%;
    left: 50%;
    .modalInner {
      display: block;
      width: 540px;
      background-color : white;
      border-radius: 10px;
      .modalText{
        width: 100%;
        padding: 20px;
        font-size: 30px;
        line-height: 1.5;

        .center  {
          text-align: center;
        }
      }
      .modalButtons {
        display: flex;
        .btn {
          flex: 1;
          height: 80px;
          line-height: 80px;
          text-align: center;
          font-size: 30px;
          color: #0894ec;
          border-top: 1px solid #cccccc;/*no*/
        }
        .btn:nth-child(2n){
          border-left: 1px solid #cccccc;/*no*/
        }
      }
    }
  }
  .modal.active {
    top: 45%;
  }
}








