.overlay-container {
  .modal {
    .modalInner {
      min-width: 540px;
      background-color: white;
      .modalHead {
        display: flex;
        padding: 0 15px;
        border-bottom: 1px solid #dedede;
        .popup-title {
          flex: 1;
          height: 50px;
          line-height: 50px;
        }
        .icon-turnoff {
          height: 50px;
          line-height: 50px;
          cursor: pointer;
          font-style: normal;
          right: 0;
          top: 0;
        }
      }
      .modalBody {
        padding: 15px;
      }
      .modalFoot {
        text-align: center;
        border-top: 1px solid #dedede;
        padding: 10px;
        .button {
          font-size: 14px;
          display: inline-block;
          padding: 7px 15px;
          text-align: center;
          color: #fff;
          background: #0894ec;
          border: 1px solid #0894ec;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background:#0688da;
          }
        }
      }
    }
  }
}
