.editor-container {
  overflow-y: auto;
  height: 420px;
  .item {
    padding: 10px 10px 0;
  }
  .label, input {
    display: block;
  }
  .sidebar-right-title {
    padding: 15px 7px;
    font-size: 16px;
    border-bottom: 1px solid #ededed;
  }
  .label {
    font-size: 15px;
    color: #000;
    padding: 2px 0 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
  }
  .desc{
    display: block;
    font-size: 13px;
    color: #c2c2c2;
    padding: 2px 4px;
    margin-top: 6px;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
  }
  input {
    padding: 6px 8px;
    margin-top: 5px;
    font-size: 15px;
    color: #c2c2c2;
    width: 180px;
    border: 1px solid #dedede;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
  }
}
.modal.preview-modal {
  border          : rgba(255, 255, 255, .4) 10px solid;
  background      : white;
  background-clip : padding-box;
  border-radius   : 10px;
  transition      : all 0.5s ease-in-out;
}

.ball-beat > div:nth-child(2n-1) {
  -webkit-animation-delay : -.35s !important;
  animation-delay         : -.35s !important;
}

.ball-beat > div {
  width             : 15px;
  height            : 15px;
  margin            : 2px;
  display           : inline-block;
  -webkit-animation : ball-beat .7s 0s infinite linear;
  animation         : ball-beat .7s 0s infinite linear;
}

.ball-beat > div,
.ball-scale-multiple > div {
  background-color : #333;
  border-radius    : 100%;
}

@-webkit-keyframes ball-beat {
  50% {
    opacity           : .2;
    -webkit-transform : scale(.75);
    transform         : scale(.75)
  }
  100% {
    opacity           : 1;
    -webkit-transform : scale(1);
    transform         : scale(1)
  }
}

@keyframes ball-beat {
  50% {
    opacity           : .2;
    -webkit-transform : scale(.75);
    transform         : scale(.75)
  }
  100% {
    opacity           : 1;
    -webkit-transform : scale(1);
    transform         : scale(1)
  }
}
