.editor-container {
  padding: 10px;
  .item {
    margin-bottom: 8px;
  }
  .label, input {
    display: block;
  }
  .label {
    font-size: 18px;
    font-weight: bold;
  }

  input {
    padding: 6px 8px;
    margin-top: 5px;
    font-size: 16px;
    width: 180px;
    border: 1px solid #dedede;
  }
}
.modal.preview-modal {
  border          : rgba(255, 255, 255, .4) 10px solid;
  background      : white;
  background-clip : padding-box;
  border-radius   : 10px;
  transition      : all 0.5s ease-in-out;
}

.ball-beat > div:nth-child(2n-1) {
  -webkit-animation-delay : -.35s !important;
  animation-delay         : -.35s !important;
}

.ball-beat > div {
  width             : 15px;
  height            : 15px;
  margin            : 2px;
  display           : inline-block;
  -webkit-animation : ball-beat .7s 0s infinite linear;
  animation         : ball-beat .7s 0s infinite linear;
}

.ball-beat > div,
.ball-scale-multiple > div {
  background-color : #333;
  border-radius    : 100%;
}

@-webkit-keyframes ball-beat {
  50% {
    opacity           : .2;
    -webkit-transform : scale(.75);
    transform         : scale(.75)
  }
  100% {
    opacity           : 1;
    -webkit-transform : scale(1);
    transform         : scale(1)
  }
}

@keyframes ball-beat {
  50% {
    opacity           : .2;
    -webkit-transform : scale(.75);
    transform         : scale(.75)
  }
  100% {
    opacity           : 1;
    -webkit-transform : scale(1);
    transform         : scale(1)
  }
}
