$border-color: rgb(238, 238, 238);
.table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-style: none;
  tr {
    display: flex;
    & > th, td {
      padding: 10px;
      &:first-child {
        flex: 4;
      }
      &:not(:first-child) {
        flex: 1;
      }
    }
    & > th {
      background-color: $border-color;
      margin-right: 1px;
      height: 50px;
      line-height: 30px;
      font-size: 16px;
      font-weight: normal;
      &:last-child {
        margin-right: 0;
      }
    }
    &:not(:first-child) {
      border-right: 2px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-left: 2px solid $border-color;
    }
    &:last-child {
      border-bottom-width: 2px;
    }

    td {
      overflow: hidden;
      box-sizing: border-box;
      &:first-child {
        img.pic {
          width: 100px;
          height: 100px;
          display: block;
          float: left;
          margin-right: 10px;
        }
        .info {
          float: left;
          line-height: 24px;
          font-size: 12px;
          width:174px;
          & > h4.name {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: normal;
          }
          .company {

          }
          .moreinfo {
            width:100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
          }
        }
      }
      &:not(:first-child){
        text-align: center;
        & > p{
          display: table;
          width: 100%;
          height: 100%;
          & > p {
            display: table-cell;
            vertical-align: middle;
            &.price{
              color:rgb(244,67,54)
            }
            &.already {

            }
            &.cancel {
              color:rgb(194,194,194)
            }
            &.wait {
              color:rgb(38,146,251)
            }
            &.none {
              color:rgb(255,82,82)
            }
          }
        }
        button {
          width:70px;
          height:30px;
          border:1px solid rgb(194,194,194);
          border-radius: 5px;
          background-color: #ffffff;
          font-size: 14px;
          margin: 9px 0;
          cursor: pointer;
        }
      }
    }
  }
}



