.item-tag {
	width: 94%;
  display: inline-block;
  vertical-align: top;
  margin-top: -14px;
  .tags {
    color: #999;
    width: 74px;
    height: 30px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 28px;
    text-align: center;
    margin: 14px 18px 0 0;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}