@import "../../layouts/CoreLayout/CoreLayout";

  .route--active {
  font-weight: bold;
  color: $blue-color;
  @include navselect-bottom;
  } 

.navbar-nav{
  .route--active {
  font-weight: bold;
  color: $blue-color;
  }   
}
//header new style begin
$border-bule-color:#2692FB;
$zindex:0;
$header-height:70px;
@mixin position-direction{
    top: 0;
    right: 0;
    left: 0;
}
@mixin absolute{
  position:absolute;
}
@mixin fixed{
  position:fixed;
}
.header-wrapper {
  z-index: $zindex + 1;
  @include fixed;
  @include position-direction;
  .header-bg {
    z-index: $zindex - 1;
    @include absolute;
    @include position-direction;
    background: $white-color;
    border-top: 2px solid $border-bule-color;
    height: $header-height + 7;
  }
  .g-header {
    height: $header-height + 7;
    h1 {
      @include float-left;
      font-size: 26px;
    }
  }
}

.g-header {
  h1{
    @include float-left;
    font-size: 26px;
    a{
      color: $blue-color;
      padding-right:16px;
      i {
        display: inline-block;
        margin-right: 6px;
        width: 36px;
        height: 36px;
        background: url("../../routes/Home/assets/nav_logo.png") no-repeat;
        background-size: 100%;
        vertical-align: sub;
      }
    }
  }
}
//二级导航
.nav-second{
  background: $grayf-color;
  .navs-nav{
    height: $default-height - 46px;
    font-size: $text-font-size - 4px;
    line-height: $default-height - 46px;
    li{
    @include float-left;
    padding: 0 20px;
    margin: 0 0 0 ;
    background-image: none;
    }
  }
}
//三级导航
.cContent{
  padding-top: 20px;
  min-height: 800px;
  .navThird{
    padding: 0;
    min-height: 800px;
    background: $white-color;
    .navThirdHover{/*选中样式*/
      color: $white-color;
      background: $blue-color url(../../routes/Home/assets/more_into_white.png) no-repeat 10px center;
      background-size: 6px;
    }
    ul{
      height: $default-height - 60px;
      font-size: $text-font-size - 4px;
      line-height: $default-height - 60px;
      li{
        @include border-bottom;
        padding-left: $default-padding-left - 30px;
        height: $default-height - 60px;
        line-height: $default-height - 60px;
        background: url(../../routes/Home/assets/more_into_gray.png) no-repeat 10px center;
        background-size: 6px;
        ul{
          li{
            border-bottom: none;
            background-image: none;
          }
        }
      }
    }
  }
  .ccContent{
    padding: 0 10px;
    min-height: 800px;
    background: $white-color;
    dt{
      padding-top: 30px;
      font-size: 20px;
      line-height: 50px;
    }
    dd{
      font-size: 16px;
      line-height: 40px;
      div{
        height: 20px;
      }
    }
  }

}
.border-top-bule{border-top:2px solid #2692fb;}
.container>.navbar-header,.container>.navbar-collapse {
  margin-right:-15px;
  margin-left:-15px
}
.collapse {
  display: none;
  visibility: hidden;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-brand {
  float: left;
  height: $default-height - 40px;
  padding: 11px 15px;
  font-size: 18px;
}
.nav>li {
  position: relative;
  display: block;
}
.navbar-nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 500;
}
.navbar-right {
    float: right!important;
    font-size: $text-font-size - 6px;
    color: $blue-color;
    span{
      padding:0 5px 0 10px;
      cursor: pointer;
      line-height: 70px;
    }
  }
  .logined{
    padding-top:13px;
    .navbar-right{
      font-size: $text-font-size - 4px;
      color: #999; /*需要在corelayout里添加*/
    }
    span{
      img{
        width: 44px; /*需要在corelayout里添加*/
        height: 44px; /*需要在corelayout里添加*/
        vertical-align: top;
      }
    }
  }
  .nav-list{
    .navbar-right{
      font-size: $text-font-size + 4px;
      a{
        position: relative;
        float: left;
        display: block;
        padding:0 24px;
        line-height: 68px;
        color:$black-color;
      }
      .route--active{
        color:$blue-color;
      }
    }
  }
@media (min-width:768px) {
  .container>.navbar-header,.container>.navbar-collapse {
    margin-right:0;
    margin-left:0
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-brand {
    margin-left: -15px;
  }
  .navbar-collapse.collapse {
    display:block!important;
    height:auto!important;
    padding-bottom:0;
    overflow:visible!important;
    visibility:visible!important
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li {
    float: left;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-right {
    span{
      line-height: 70px;
    }
  }
}






