@import "../../layouts/CoreLayout/CoreLayout";

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.border {
  border: 1px solid red;
}



//header new style begin
$border-bule-color:#2692FB;
$zindex:0;
$header-height:70px;
@mixin position-direction{
    top: 0;
    right: 0;
    left: 0;
}
@mixin absolute{
  position:absolute;
}
@mixin fixed{
  position:fixed;
}
.header-wrapper {
  z-index: 2;
  @include fixed;
  @include position-direction;
  .header-bg {
    z-index: $zindex - 1;
    @include absolute;
    @include position-direction;
    background: $white-color;
    border-top: 2px solid $blue-color;
    height: 77px;
    border-bottom: 1px solid $graya-color;
  }
  .g-header {
    overflow: hidden;
    height: 77px;
    .title {
      display: flex;
      height: 100%;
      align-items: center;
      .logo {
        float: left;
        margin-right: 20px;
      }

      .small-title{
        float: left;
        padding-left: 20px;
        border-left: 1px solid #cacaca;
        font-size: 16px;
        & > a {
          color: $gray6-color;
        }
      }
  
      .icon, .text {
        display: inline-block;
        vertical-align: middle;
      }

      .text {
        color: $blue-color;
        font-size: 26px;
      }

      .icon {
        margin-right: $default-margin-right - 34;
        width: $default-width - 57;
        height: $default-height - 56;
        background: url("../../routes/Home/assets/nav_logo.png") no-repeat;
        background-size: 100%;
      }

     
    }

    .nav {
      display: inline-block;
      .nav-list {
        & > a {
          display: inline-block;
          margin-left: 15px;
          height: 77px;
          line-height: 77px;
          padding: 0 10px;
          font-size: 16px;
          color: $black-color;
          &.active {
            color: $blue-color;
            @include navselect-bottom;
          }
        }
      }
    }
    
    
    .search {
      display: inline-block;
      margin: 0 28px;
      padding: 2px 4px;
      background: $graye-color;
      border-radius: 14px;
      .icon-search{
        font-size: 20px;
        color: #8a8a8a;
        vertical-align: middle;
      }
      input{
        width: $default-width - 5;
        padding-left: $default-padding-left - 36; 
        font-family:"Microsoft Yahei","sans-serif";
        font-size: $text-font-size - 6;
        line-height:22px;
        color: $black-color;
        vertical-align: middle;
        background: $graye-color;
        border:0;
        outline: none;
        &::-webkit-input-placeholder{
          font-size: $text-font-size - 6;
          font-family: 'Microsoft Yahei';
          color: $gray9-color;
        }
      }
    }
  }
}
