@import "../../layouts/CoreLayout/CoreLayout";
.route--active {
  font-weight: bold;
  color: $lightblue-color;
  @include navselect-bottom;
}

.header {
  margin: 0 auto;
  width: $view-width;
  height: $header-height;
  h1{
    @include float-left;
    font-size: 26px;
    line-height: $header-height;
    color: $lightblue-color;
    i {
      display: inline-block;
      margin-right: 6px;
      width: 36px;
      height: 36px;
      background: url("../../routes/Home/assets/nav_logo.png") no-repeat;
      background-size: 100%;
      vertical-align: sub;
    }
  }
  div{
    position: relative;
    @include float-right;
    font-size: 20px;
    line-height: $header-height - 2;
    a{
      display: inline-block;
      margin: 0 20px;
    }
  }
}
//二级导航
.nav-second{
  background: $navsecond-bg;
  height: 1000px;
  .navs-nav{
    margin: $view-margin;
    padding-left: $navsecond-padding-left;
    width: $view-width;
    height: $navsecond-height;
    line-height: $navsecond-height;
    li{
    @include float-left;
    padding: 0 20px;
    margin: 0 0 0 ;
    background-image: none;
    }
  }
}
//三级导航
.cContent{
  margin: $view-margin;
  width: $view-width;
  .navThird{
    @include float-left;
    width: $navThird-width;
    background: $white-color;
    ul{
      padding-left: $navThirdli-padding-left;
      font-size: $navThirdOne-font-size;
      li{
        height: $navThirdLi-height;
        line-height: $navThirdLi-height;
        ul{

        }
      }
    }
  }
  .ccContent{
    @include float-right;
    width: $ccContent-width;
    background: $white-color;
  }

}

