@import 'src/styles/v/base.scss';

.breadcrumb {
  color: #333;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  border-bottom: 1px solid $site-border-gray;
  .site:after {
    content: "/";
    margin: 0 4px;
  }
}
.pageTitle {
  color: #000;
  height: 51px;
  line-height: 50px;
	padding-left: 25px;
  font-size: 16px;
  border-bottom: 1px solid $site-border-gray;
}
.main {
  color: #333;
  font-size: 14px;
}
.tips {
  color: #fff;
  display: block;
  padding: 0 6px;
  height: 30px;
  line-height: 28px;
  margin: 10px 10px 40px;
  background: #78909c;
  border: 1px solid #546e7a;
  &>i {
    font-size: 13px;
    margin-right: 4px;
  }
}

.helpMsg {
	display: inline-block;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  .cont {
    position: absolute;
    left: 18px;
    top: 0;
    width: 120px;
    padding: 5px;
    color: #666;
    line-height: 18px;
    font-size: 12px;
    background: #e1e1e1;
  }
}
.text{
	font-size: 12px;
	color: #999;
	line-height: 24px;
	text-align: justify;
}
.text-con{
	display: inline-block;
	vertical-align: super;
}

.img-use{
	width: 300px;
	height: 182px;
	display: block;
}
.saveBtn {
  width: 132px;
  height: 35px;
  line-height: 33px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}