@import 'src/styles/v/base.scss';

.form-group {
	display: flex;
	flex-wrap: nowrap;
	max-width: 580px;
	margin: 0 auto 45px;
	.label {
		width: 68px;
		height: 30px;
		line-height: 30px;
		margin-right: 34px;
		text-align: right;
		&:before {
			content: "*";
			color: $site-red;
			display: inline-block;
			margin-right: 2px;
			line-height: 1;
		}
	}
	.label-no{
		&:before{
			content: ""
		}
	}
	.form-item {
		flex: 1;
		.item-wrapper {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}
    .input-affix-wrapper {
      flex: 1;
      position: relative;
      &>i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
      }
      .form-input {
        height: 30px;
        width: 100%;
        padding: 0 30px 0 10px;
        border-radius: 0;
      }
    }
    &-msg {
      height: 24px;
      display: block;
      font-size: 12px;
      line-height: 24px;
      &.error {
        color: $site-red;
      }
    }
	}
}
.form-actions {
  width: 100%;
  padding-top: 32px;
  border-top: 1px solid $site-border-gray;
  text-align: center;
}