@import 'src/styles/v/base.scss';
.main-container {
	.current-location {
		color: #333;
		height: 42px;
		font-size: 14px;
		line-height: 42px;
		border-bottom: 1px solid $site-border-gray;
		.site:after {
			content: "/";
			margin: 0 4px;
		}
	}
	.tabs-item {
		height: 52px;
		border-bottom: 1px solid $site-border-gray;
		.tabs {
			color: #000;
			&-border {
				&:hover,
				&.active {
					border-bottom: 0;
				}
			}
			&-status {
				display: block;
			}
		}
	}
	.tabs-margin {
		margin-bottom: 28px;
	}
	.tabs-content {
		color: #333;
		font-size: 14px;
		.basic-info {
			color: #fff;
			display: block;
			padding: 0 6px;
			height: 30px;
			line-height: 30px;
			margin: 10px 10px 40px;
			background: #78909c;
			border: 1px solid #546e7a;
			&>i {
				font-size: 13px;
				margin-right: 4px;
			}
		}
		.form-group {
			.form-item {
				.item-control {
					.item-iconfont {
						flex: 1;
						position: relative;
						&>i {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							&:first-of-type {
								left: 8px;
							}
							&:last-of-type {
								right: 8px;
							}
						}
						.form-control {
							height: 30px;
							width: 100%;
							padding: 0 30px;
							border-radius: 0;
						}
					}
					.item-rule {
						display: flex;
						align-items: flex-end;
						margin-bottom: 20px;
						.rule-text {
							color: #999;
							font-size: 12px;
							line-height: 24px;
						}
						.form-info {
							margin-bottom: 3px;
						}
					}
					.upload-btn {
						width: 200px;
						height: 35px;
						display: block;
						overflow: hidden;
						text-align: center;
						line-height: 35px;
						border-radius: 2px;
						cursor: pointer;
						.text {
							width: 100%;
							height: 100%;
							border-radius: 2px;
							border: 1px solid $site-border-gray;
							&:hover {
								border-color: $site-blue;
								color: $site-blue;
							}
						}
						.upload-file {
							display: none;
						}
					}
					.item-textarea {
						width: 100%;
						min-height: 140px;
						resize: none;
						border-radius: 0;
						padding: 10px;
						line-height: 24px;
						border: 1px solid $site-border-gray;
					}
					.item-tag {
						display: flex;
						flex-wrap: wrap;
						margin-top: -20px;
						.tags {
							color: #999;
							width: 74px;
							height: 30px;
							font-size: 12px;
							border-radius: 2px;
							line-height: 28px;
							text-align: center;
							margin: 20px 20px 0 0;
							&:nth-child(5n) {
								margin-right: 0;
							}
						}
					}
					.form-info {
						margin-left: 10px;
						position: relative;
						cursor: pointer;
						.info-content {
							position: absolute;
							left: 18px;
							top: 0;
							width: 120px;
							padding: 5px;
							color: #666;
							line-height: 18px;
							font-size: 12px;
							background: #e1e1e1;
						}
					}
				}
				.item-upload {
					flex-direction: column;
					align-items: flex-start;
				}
				.item-summary {
					align-items: flex-start;
				}
				.has-error {
					height: 24px;
					display: block;
					font-size: 12px;
					line-height: 24px;
					color: $site-red;
				}
				.img-item {
					height: 0;
					overflow: hidden;
					display: flex;
					flex-wrap: wrap;
					margin-top: 24px;
					&.active {
						height: auto;
					}
					.upload-img {
						width: 100px;
						height: 100px;
						margin: 0 10px 10px 0;
						border: 1px solid $site-border-gray;
					}
				}
			}
		}
		.form-btn {
			width: 100%;
			padding-top: 32px;
			border-top: 1px solid $site-border-gray;
			display: flex;
			justify-content: center;
			.btn-primary {
				width: 132px;
				height: 35px;
				line-height: 33px;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
.publish-text {
	font-size: 12px;
	color: #999;
	line-height: 24px;
}
.img-use {
	width: 300px;
	height: 182px;
	display: block;
}
.use-item{
	display: block;
	.item-img{
		width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 7px;
    position: relative;
    text-align: center;
    border: 1px solid $site-border-gray;
	}
}
.apply-radio {
	margin: 14px 0;
	display: flex;
	flex-direction: column;
	.row-radio {
		position: relative;
		margin-right: 4px;
	}
	.text {
		line-height: 23px;
	}
}