@import 'src/styles/v/base.scss';
.devInfo {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #eee;
    .title {
        color: #666;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        padding-left: 22px;
        background: #eee;
    }
    .main {
        margin: 0 40px;
        font-size: 14px;
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid #eee;
        &:last-of-type {
            border-bottom: 0;
        }
        .name {
            width: 165px;
            line-height: 50px;
        }
        .text {
            flex: 1;
            padding: 12px 0;
            line-height: 24px;
            @include word-break;
        }
    }
}
