@import 'src/styles/v/var.scss';
.devInfo{
    width: 97.7%;
    margin: 10px;
    border: 1px solid $site-border-gray;
    .title{
        height: 50px;
        line-height: 50px;
        background: #eee;
        font-size: 16px;
        color: #666;
        padding-left: 22px;
    }
    .main{
        margin: 0 40px;
        display: flex;
        flex-wrap: nowrap;
        &:nth-of-type(1){
            border-bottom: 1px solid $site-border-gray;
        }
        .name{
            width: 165px;
            line-height: 50px;
        }
        .text{
            flex: 1;
            line-height: 22px;
            @include word-break;
            padding: 12px 0;
        }
    }
}
