@import "../../../../layouts/CoreLayout/CoreLayout";

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.border {
  border: 1px solid red;
}
.bg-white{
  background:#fff;
}
.custom-tooltip {
  background: rgba(0,0,0, .6);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  position: relative;
  
}
.custom-tooltip::after {
  display: inline-block;
  position: absolute;
  right: -20px;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #f00;
}

.report-container{
  width:755px;
  margin:0 auto;
  padding-top:10px;
  .tab{
    border:2px solid #2692fb;
    border-radius:4px;
    overflow:hidden;
    li{
      float:left;
      width:150px;
      padding:8px 0;
      font-size:14px;
      color:#2692fb;
      text-align:center;
      border-right:2px solid #2692fb;
      cursor:pointer;
      overflow:hidden;
      &:last-child{
        border-right:0;
      }
    }
    & > .active{
      color:#fff;
      background:#2692fb;
    }
  }
  .numTitle{
    display:inline-block;
    width:755px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    margin-top:15px;
    padding:0 10px;
    font-size:16px;
    color:#000;
  }
  .chart{
    margin-top:10px;
    .title{
      padding:12px 15px;
      font-size:14px;
      color:#000;
    }
  }
  .analysis-container{
    padding-left: 60px;
    overflow:hidden;
    .analysis-panel{
      float:left;
      width:190px;
      margin:0 20px;
      overflow:hidden;
    }
    .ana-head{
      color:#000;
      .ana-title{
        display:inline-block;
        width:210px;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        font-size:12px;
        color: #666;
      }
      .desc{
        display:inline-block;
        width:210px;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        margin:4px 0 10px;
        font-size:12px;
      }
    }
  }
}