.panel {
  margin-top: 16px;
  width: 874px;
  padding: 24px 12px;
  .title {
    padding: 0 15px;
    height: 71px;
    line-height: 71px;
    font-size: 16px;
    color: #000;
    i {
      color: #2692fb;
      margin-right: 10px;
      font-size: 18px;
    }
  }
  .table {
    border: 1px solid #eeeeee;
    font-size: 16px;
    border-collapse: collapse;
    th {
      height: 50px;
      background: #eeeeee;
      border-right: 1px solid #fff;
      color: #666666;
      &:last-child {
        border-right: 0;
      }
    }
    td {
      &.imgWrap {
        width: 122px;
        text-align: center;
        img {
          width: 100px;
          height: 100px;
          border-radius: 8px;
          vertical-align: middle;
        }
      }
      &.appInfo {
        width: 242px;
        padding: 16px 13px;
        .name {
          color: #000;
          display: block;
          margin-bottom: 10px;
        }
        .desc {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 35px;
          font-size: 12px;
          line-height: 1.5;
          color: #666666;
          text-align: justify;
        }
        .link {
          font-size: 12px;
          color: #999;
          margin-top: 10px;
          display: block;
          cursor: pointer;
          i {
            font-size: 13px;
          }
        }
      }
      &.common {
        width: 92px;
        &>span {
          display: flex;
          color: #aaaaaa;
          text-align: center;
          align-items: center;
          justify-content: center;
          .num {
            display: inline-block;
            text-align: left;
            // vertical-align: top;
            width: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000000;
            font-style: normal;
          }
        }
      }
      &.actions {
        text-align: center;
        width: 111px;
        .btn {
          width: 85px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #999999;
          border-radius: 4px;
          display: block;
          margin: 0 auto;
          cursor: pointer;
          font-size: 14px;
          color: #000;
          &:hover {
            background: #2692fb;
            color: #fff;
            border-color: #2692fb;
          }
        }
      }
    }
  }
}
