/*Apps detail*/
.detail-container {
	padding: 17px 30px;
	overflow: hidden;
	.detail-returnnav {
		cursor: pointer;
		margin-bottom: 24px;
		height: 34px;
		line-height: 34px;
		border: 1px solid #e9e9e9;
		p {
			padding-left: 25px;
			font-size: 14px;
			color: #666666;
			background: url("../../../Home/assets/navreturn_img.png") no-repeat 70px center;
			background-size: 11px 34px;
		}
	}
	.detail-hardwareimg {
		float: left;
		margin-right: 30px;
		.appImg {
			width: 300px;
			height: 300px;
			border: 1px solid #ededed;
		}
		.widgetImg {
			height: 80px;
		}
		.detail-start {
			display: block;
			margin: 10px 0;
			cursor: pointer;
			font-size: 14px;
			color: #333;
			&:hover {
				color: #2692fb;
				i {
					color: #2692fb;
				}
			}
		}
		.icon-uncollected2 {
			font-size: 18px;
			color: #aaa;
		}
	}
	.detail-hardwareinfo {
		overflow: hidden;
		.detail-tittle1 {
			dt {
				font-size: 18px;
				color: #333;
				font-weight: bold;
			}
			dd {
				padding-top: 10px;
				font-size: 14px;
				color: #666;
			}
			.user-img {
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 5px;
		    border-radius: 50%;
		    overflow: hidden;
		    background: url("http://timg.ffan.com/convert/resize/url_T1vBZTB4hg1RCvBVdK/tfs/e88df818fcd6331c0c0c681b363fa9ea.png") no-repeat;
		    background-size: 100% 100%;
		    vertical-align: middle;
			}
		}
		.detail-title {
			padding-top: 18px;
			font-size: 14px;
			color: #666;
			i {
				font-style: normal;
			}
			.detail-title-dot {
				margin-right: 5px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: #999;
				vertical-align: middle;
			}
		}
	}
	.detail-introduce {
		padding: 4px 0 0 9px;
		font-size: 14px;
		line-height: 24px;
		color: #333;
	}
	.detail-genre,
	.detail-label,
	.detail-sold {
		margin-left: 6px;
		color: #333;
	}
	.detail-label {
		i {
			margin-right: 7px;
			padding: 1px 2px;
			border: 1px solid #c2c2c2;
		}
	}
	.detail-price {
		margin-left: 6px;
		font-size: 22px;
		color: #eb4f4e;
		font-weight: bold;
		i {
			font-size: 11px;
		}
	}
}
.detail-table-box {
	margin: 10px 30px 0;
	.detail-table-nav {
		padding: 0 13px;
		overflow: hidden;
		font-size: 16px;
		color: #666;
		line-height: 54px;
		border-bottom: 1px solid #9a9a9a;
		li {
			float: left;
			margin-right: 43px;
			text-align: center;
			span {
				display: block;
				width: 87px;
				color: #666;
				cursor: pointer;
			}
			.active {
				display: inline-block;
				color: #333;
				border-bottom: 2px solid #1c8fff;
			}
		}
	}
	.detail-table-content {
		padding: 25px;
	}
	.detail-title {
		font-size: 14px;
		color: #333;
	}
	.detail-info {
		overflow: hidden;
		li {
			padding-top: 10px;
			float: left;
			width: 33%;
			p {
				padding: 6px 0;
				font-size: 14px;
				color: #666;
			}
		}
		.w62 {
			padding-right: 10px;
			width: 62px;
		}
		.w200 {
			width: 200px;
			color: #333;
		}
	}
	.detail-info-text1 {
		padding: 10px 0 8px;
		font-size: 15px;
		color: #666;
	}
	.detail-info-text2 {
		font-size: 15px;
		color: #333;
		line-height: 24px;
	}
	.line {
		border-bottom: 1px solid #999;
		margin: 20px 0;
	}
	.detail-introduce-img {
		display: block;
		margin: 20px auto;
		max-width: 640px;
		background: #eee;
		border-color: none;
	}
	.detail-title-evaluate {
		padding-left: 12px;
		height: 45px;
		line-height: 45px;
		font-size: 14px;
		color: #333;
		background: #f7f7f7;
	}
	.detail-evaluate {
		padding: 20px 12px;
		font-size: 14px;
		overflow: hidden;
		dl {
			float: left;
			width: 170px;
			dt {
				color: #666;
			}
			dd {
				font-size: 60px;
				color: #f44336;
			}
		}
		ul {
			overflow: hidden;
			color: #333;
			li {
				float: left;
				margin: 0 16px 16px 0;
				padding: 6px 12px;
				border: 1px solid #c2c2c2;
				border-radius: 4px;
			}
		}
	}
	.detail-evaluate-nav {
		height: 45px;
		line-height: 45px;
		font-size: 14px;
		color: #333;
		overflow: hidden;
		background: #f7f7f7;
		border: 1px solid #dbdbdb;
		li {
			float: left;
			padding-left: 20px;
			width: 140px;
		}
		.row-radio {
			position: relative;
			float: left;
			padding-right: 4px;
			text-align: center;
		}
		i.icon-radio2 {
			display: none;
			font-size: 18px;
			color: #2692fb;
		}
		i.icon-radio1 {
			display: inline-block;
			font-size: 18px;
			color: #cdd4dc;
		}
		input[type="radio"] {
			position: absolute;
			left: 0;
			width: 120px;
			height: 45px;
			opacity: 0;
			cursor: pointer;
			z-index: 1;
		}
		input[type="radio"]:checked + span i.icon-radio2 {
			display: inline-block;
		}
		input[type="radio"]:checked + span i.icon-radio1 {
			display: none;
		}
	}
	.detail-evaluate-contaier {
		padding: 22px 0;
		border-bottom: 1px solid #c2c2c2;
		overflow: hidden;
		.detail-evaluate-user {
			float: left;
			margin-right: 20px;
			width: 97px;
			text-align: center;
			dt {
				img {
					width: 40px;
					height: 40px;
					background: #eee;
				}
			}
		}
		.detail-evaluate-name {
			margin-top: 6px;
			font-size: 14px;
			color: #333;
		}
		.detail-evaluate-star {
			color: #999;
			i {
				font-size: 12px;
			}
			.icon-star {
				color: #2692fb;
			}
		}
		.detail-evaluate-text {
			overflow: hidden;
			dt {
				margin-bottom: 10px;
				font-size: 16px;
				color: #333;
				display: -webkit-box;
				line-height: 24px;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			dd {
				font-size: 14px;
				color: #999;
			}
		}
	}
}
