@import "../../../../layouts/CoreLayout/CoreLayout";

/*Apps detail*/
.detail-container{
  padding:16px 20px;
  @include clx;
  .detail-returnnav{
    margin-bottom: 24px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e9e9e9;
    p{
      padding-left: 25px;
      font-size: 14px;
      color: #666666;
      background: url(../../../Home/assets/navreturn_img.png) no-repeat 70px center;
      background-size: 11px 34px;
    }
  }
  .detail-img{
    @include float-left;
    .appImg{
      width: 300px;
      height: 300px;
      border: 1px solid #ededed;
    }
    .widgetImg{
      height: 80px;
    }
    .detail-start{
      display: block;
      margin: 10px 0;
      cursor: pointer;
      font-size: 14px;
      color: $black-color;
      &:hover{
        color: $blue-color;
        i{
        color: $blue-color;
        }
      }
    }
    .icon-uncollected2{
      font-size: 18px;
      color: #aaa;
    }
  }
  .detail-info{
    width: 490px;
    @include float-right;
  }
  .detail-tittle{
    dt{
      font-size: 18px;
      color: $black-color;
      font-weight: bold;
    }
    dd{
      padding-top: 10px;
      font-size: 14px;
      color: $gray6-color;
    }
    .user-img{
      display: inline-block;
      width: 18px;
      height: 18px;
    }
    .user-txt{
      padding-left: 14px;   
    }
  }
  .detail-title{
    padding-top: 18px;
    font-size: 14px;
    color: $gray6-color;
    i{
      font-style: normal;
    }
    .detail-title-dot{
      margin-right: 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #999;
      vertical-align: middle;
    }
  }
  .detail-introduce{
    padding-top: 4px;
    font-size: 14px;
    line-height: 24px;
    color: $black-color;
  }
  .detail-genre,.detail-label,.detail-sold{
    color: $black-color;
  }
  .detail-label{
    i{
      margin-right: 7px;
      padding: 1px 2px;
      border: 1px solid #c2c2c2;
    }
  }
  .detail-price{
    font-size: 22px;
    color: #eb4f4e;
    font-weight: bold;
    i{
      font-size: 11px;
    }
  }
}
.detail-table-box{
    margin-top: 10px;
  .detail-table-nav{
    margin: 0 14px;
    padding: 0 13px;
    @include clx;
    font-size: 16px;
    color: $gray6-color;
    line-height: 54px;
    border-bottom: 1px solid #9a9a9a;
    li{
      float: left;
      margin-right: 43px;
      text-align: center;
      span{
        display: block;
        width: 87px;
        color: $gray6-color;
        cursor: pointer;
      }
      .active{
        display: inline-block;
        color: $black-color;
        border-bottom: 2px solid #1c8fff;
      }
    }
  }
  .detail-table-content{
    padding: 25px;
  }
  .detail-title{
    font-size: 14px;
    color: $black-color;
  }
  .detail-info{
    @include clx;
    li{
      padding-top: 10px;
      float: left;
      width: 33%;
      p{
        padding: 6px 0;
        font-size: 14px;
        color: $gray6-color;
      }
    }
    .w62{
      padding-right: 10px;
      width: 62px;
    }
    .w200{
      width: 200px;
      color: $black-color;
    }
  }
  .detail-info-text1{
    padding: 10px 0 8px;
    font-size: 15px;
    color: $gray6-color;
  }
  .detail-info-text2{
    font-size: 15px;
    color: $black-color;
    line-height: 24px;
  }
  .line{
    border-bottom: 1px solid #999;
    margin: 20px 0;
  }
  .detail-introduce-img{
    margin: 20px 0 16px;
    width: 100%;
    height: 250px;
    background: $graye-color;
    border-color: none;
  }
  .detail-title-evaluate{
    padding-left: 12px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: $black-color;
    background: #f7f7f7;
  }
  .detail-evaluate{
    padding: 20px 12px;
    font-size: 14px;
    @include clx;
    dl{
      float: left;
      width: 170px;
      dt{
        color: $gray6-color;
      }
      dd{
        font-size: 60px;
        color: #f44336;
      }
    }
    ul{
      float: left;
      width: 630px;
      color: $black-color;
      li{
        float: left;
        margin: 0 16px 16px 0;
        padding: 6px 12px;
        border: 1px solid #c2c2c2;
        border-radius: 4px;
      }
    }
  }
  .detail-evaluate-nav{
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: $black-color;
    overflow: hidden;
    background: #f7f7f7;
    border: 1px solid #dbdbdb;
    li{
      float: left;
      padding: 0 20px 0 30px;
    }
    .row-radio{
      position: relative;
      float: left;
      padding-right: 4px;
      text-align: center;
    }
    i.icon-radio2{display:none;font-size:18px;color:#2692fb;}
    i.icon-radio1{display:inline-block;font-size:18px;color:#cdd4dc;}
    input[type="radio"]{position:absolute;left:0;width:22px;height:45px;opacity:0;cursor:pointer; z-index: 1;}
    input[type="radio"]:checked + span i.icon-radio2{display:inline-block;}
    input[type="radio"]:checked + span i.icon-radio1{display:none;}
  }
  .detail-evaluate-contaier{
    padding: 22px 0;
    border-bottom: 1px solid #c2c2c2;
    @include clx;
    .detail-evaluate-user{
      float: left;
      margin-right: 20px;
      width: 97px;
      text-align: center;
      dt{
        img{
          width: 40px;
          height: 40px;
          background: #eee;
        }
      }
    }
    .detail-evaluate-name{
      margin-top: 6px ;
      font-size: 14px;
      color: $black-color; 
    }
    .detail-evaluate-star{
      color: $gray9-color;
      i{
        font-size: 12px;
      }
      .icon-star{
        color: #2692fb;
      }
    }
    .detail-evaluate-text{
      float: left;
      width: 707px;
      dt{
        margin-bottom: 10px;
        font-size: 16px;
        color: $black-color;
        display: -webkit-box;
        line-height: 24px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      dd{
        font-size: 14px;
        color: $gray9-color;
      }
    }
  }
  
  
}

