@import "../../../../layouts/CoreLayout/CoreLayout";

/*Apps detail*/
.detail-container{
  padding:28px 40px 0;
  @include clx;
  .detail-download{
    @include float-left;
    width: 145px;
    .appImg{
      width: 145px;
      height: 145px;
      border-radius: 14px;
    }
    .widgetImg{
      width: 155px;
      height: 80px;
    }
    .btn-download{
      display: block;
      margin-top:22px;
    }
    .btn{
      padding:11px;
    }
  }
  .detail-info{
    @include float-right;
    width: 620px;
    .detail-tittle{
      font-size: 24px;
      color: $black-color;
      dd{
        margin-top: 8px;
        font-size: 12px;
        color: $gray6-color;
        i{
          margin-right: $default-margin-right - 35; 
        }
      }
    }
    .app-text{
      margin-top:4px;
      font-size:14px;
      line-height:23px;
      color:$black-color;
      word-wrap:break-word;
    }
    .infomation-list{
      margin-top:4px;
      font-size:15px;
      color:$gray9-color;
      td{
        padding:3px 0;
        &:last-child{
          padding-left:20px;
          color:$black-color;
        }
      }
      .tag{
        color:$blue-color;
      }
    }
    .info-list{
      margin-top: $default-margin-top - 5;
      font-size: $text-font-size - 4;
      color: $black-color;
      dt{
        margin-bottom: $default-margin-top - 15;
      }
      .text-blue-color{
        color: $blue-color;
      }
    }
  }
}
.app-title{
  margin-top:30px;
  font-size:19px;
  color: $black-color;
}
.table-info.hardware-info{
  padding:0 40px 50px;
  font-size:15px;
  .detail-table{
    margin-top:10px;
    .title,.text{
      padding: 5px 0;
      vertical-align:top;
    }
    .title{
      width:125px;
      padding-right:20px;
      color:$gray9-color;
    }
    .text{
      color:$black-color;
      word-break:break-all;
      width:752px;
      .tag{
        padding-right:10px;
      }
      .img-block{
        position:relative;
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 30px;
        width:270px;
        height:160px;
        border:1px solid #eff3f3;
        border-radius:5px;
        .img-text{
          position:absolute;
          top:50%;
          margin-top:-9px;
          width:100%;
          font-size:15px;
          color:#eff3f3;
          text-align:center;
        }
        .img{
          position: absolute;
          top:0;
          z-index:2;
          width:270px;
          height:160px;
          border-radius:5px;
          border:0;
        } 
      }
    }
  }  
}
