/*@import '../../components/variables.css';*/

.overlay {
  position : absolute;
  top      : 0;
  left     : 0;
  right: 0;
  bottom: 0;
  z-index  : 300;
}

.backdrop {
  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  background-color : rgba(0, 0, 0, .3);
  transition       : opacity .35s ease-in-out;
  opacity          : 0;
}
.active .backdrop {
  opacity : 1;
}

