/*@import '../../components/variables.css';*/

.overlay-container {
  position         : absolute;
  background-color : transparent;
  top              : 0;
  left             : 0;
  right            : 0;
  bottom           : 0;
  z-index          : 300;
  .backdrop {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-color : rgba(0, 0, 0, .3);
    transition       : opacity 0.5s ease-in-out;
    box-shadow       : inset 0 0 1px rgba(0, 0, 0, .3);
    opacity          : 0;
  }
}

.overlay-container.active {
  .backdrop {
    opacity : 1;
  }
}
