@import "../../layouts/CoreLayout/CoreLayout";

.sidebar{
  position: fixed;
  top: 77px;
  bottom: 0;
  z-index:3;
  width: $default-width + 110;
  padding :0 $default-padding-left - 30;
  background: $white-color;
}
.create-btn{
  display: block;
  margin: $default-margin-top - 2 auto $default-margin-bottom - 6;
  width: 150px;
  border: 1px solid $blue-color;
  font-size: 15px;
  color: $blue-color;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
  .icon-create{
    padding-right: 2px;
  }
  &:hover{
    color: $white-color;
    background: $blue-color;
    cursor: pointer;
  }
}
.help-menu,.tag-list{
  li{

    height: 36px;
    font-size: 15px;
    i{
      font-size: 15px;
      padding-right: $default-padding-right - 34;
      color: $gray6-color;
    }
    a{
      display: block;
      padding-left: $default-padding-left - 30;
      height: 34px;
      line-height: 34px;
    }
    a:hover{
      color: $blue-color;
      border-bottom: 1px solid $blue-color;
      cursor: pointer;
      i{
        color: $blue-color;
      }
    }
    .active{
      color: $white-color;
      background: $blue-color;
      border-radius: 2px;
      &:hover{
        color: $white-color;
        background: $blue-color;
        border-radius: 2px;
        i{
          color: $white-color;
        }
      }
      i{
        color: $white-color;
      }
    }
  }
}
.help-menu{
  border-top: 1px solid $graye-color;
  li{
    height: 42px;
    padding:5px 0;
    border-bottom: 1px solid $graye-color;
    a{
      height: 32px;
      line-height: 32px;
    }
  }
  
}
.tag-list{
  position: absolute;
  bottom: 0;
  left: 10px;
  top: 186px;
  width: 200px;
  margin-top: 30px;
  font-size: 16px;
  overflow-y: auto;
  padding-right: 10px;
}
