//@import "../../layouts/CoreLayout/CoreLayout";

.sidebar{
  position: fixed;
  top: 77px;
  bottom: 0;
  z-index:3;
  width: 210px;
  padding :0 10px;
  background: #fff;
}
.create-btn{
  display: block;
  margin: 38px auto 34px;
  width: 150px;
  border: 1px solid #2692fb;
  font-size: 15px;
  color: #2692fb;
  text-align: center;
  line-height: 28px;
  border-radius: 2px;
  .icon-create{
    padding-right: 2px;
  }
  &:hover{
    color: #fff;
    background: #2692fb;
    cursor: pointer;
  }
}
.help-menu,.tag-list{
  li{

    height: 36px;
    font-size: 15px;
    i{
      font-size: 15px;
      padding-right: 7px;
      color: #666;
    }
    a{
      display: block;
      padding-left: 10px;
      height: 34px;
      line-height: 34px;
    }
    a:hover{
      color: #2692fb;
      border-bottom: 1px solid #2692fb;
      cursor: pointer;
      i{
        color: #2692fb;
      }
    }
    .active{
      color: #fff;
      background: #2692fb;
      border-radius: 2px;
      &:hover{
        color: #fff;
        background: #2692fb;
        border-radius: 2px;
        i{
          color: #fff;
        }
      }
      i{
        color: #fff;
      }
    }
  }
}
.help-menu{
  border-top: 1px solid #eee;
  li{
    height: 42px;
    padding:5px 0;
    border-bottom: 1px solid #eee;
    a{
      height: 32px;
      line-height: 32px;
    }
  }
  
}
.tag-list{
  position: absolute;
  bottom: 0;
  left: 10px;
  top: 186px;
  width: 200px;
  margin-top: 30px;
  font-size: 15px;
  overflow-y: auto;
  padding-right: 10px;
}
