@import "../../layouts/CoreLayout/CoreLayout";

.sidebar{
  position: fixed;
  top: 77px;
  bottom: 0;
  width: $default-width + 110;
  padding :0 $default-padding-left - 30;
  background: $white-color;
}
.create-btn{
  display: block;
  margin: $default-margin-top - 2 auto $default-margin-bottom - 6;
  width: $default-width + 30;
  border: 1px solid $blue-color;
  font-size: $text-font-size - 4;
  color: $blue-color;
  text-align: center;
  line-height: $text-line-height - 10;
  border-radius: 2px;
  .icon-label{
    padding-right: $default-padding-right - 36;
  }
  &:hover{
    color: $white-color;
    background: $blue-color;
  }
}
.help-menu,.tag-list{
  li{
    height: $default-height - 58;
    line-height: $text-line-height + 22;
    font-size: $text-font-size - 4;
    i{
      padding-right: $default-padding-right - 34;
    }
    a{
      display: block;
      padding-left: $default-padding-left - 30;
      height: $default-height - 70;
      line-height: $text-line-height - 10;
    }
    a:hover{
      color: $white-color;
      background: $blue-color;
      border-radius: 2px;
    }
    .active{
      color: $blue-color;
      border-bottom: 1px solid $blue-color;
      &:hover{
        color: $blue-color;
        background: none;
      }
    }
  }
}
.help-menu{
  li{
    border-top: 1px solid $graye-color;
    border-bottom: 1px solid $graye-color;
    a{
      margin-top: $default-margin-top - 35;
    }
  }
  li:last-of-type{
    border-top: none;
  }
}
.tag-list{
  margin-top: $default-margin-top - 10;
}
