@import "../../layouts/CoreLayout/CoreLayout";

.tab-container {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 140px;
  z-index: 1;
  li {
    float: left;
    margin: 0 20px;
    width: 160px;
    color: $text-gray6-color;
    text-align: center;
    &.active {
      color: $text-blue-color;
      div{
        background: $bg-blue-color;
      }
    }
  }
  .tabc-oneprogress{
    margin: 10px auto;
    margin-top: 24px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: $text-white-color;
    font-size: $text-font-size + 20px;
    border-radius: 50%;
    text-align: center;
    background: #c2c6d0;
  }  
}
.tab-container::before,.tab-container::after{
  content: "";
  position: absolute;
  top: 40%;
  width: 110px;
  border: 1px solid $border-color;
  z-index: -1;
}
.tab-container::before{
  left: 24%;
}
.tab-container::after{
  right: 24%;
}
.btn-container {
  text-align: center;
  .btn-width {
    width: 200px;
    margin-right: 20px;
    display: inline-block;
    .link-btn-a {
      display: inline-block;
      color: #fff;
      width: 100%;
      height: 100%;
    }
  }
}