.tab-container {
  margin: 0 auto;
  width: 720px;
  height: 146px;
  background: #f6f8f9;
  li {
    float: left;
    margin: 0 20px;
    width: 200px;
    text-align: center;
    &.active {
      color: dodgerblue;
    }
  }
  .tabc-oneprogress{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: -webkit-linear-gradient(#2692fb, #2692fb);;
  
  }  
}
.btn-container {
  margin: 0 auto;
  min-width: 100px;
  max-width: 250px;
  button {
    margin-right: 20px;
  }
}