.tab-container {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 60px;
  li {
    float: left;
    &.active {
      color: dodgerblue;
    }
  }  
}
.btn-container {
  margin: 0 auto;
  min-width: 100px;
  max-width: 250px;
  button {
    margin-right: 20px;
  }
}