@import 'src/styles/v/var.scss';
.searchWrap {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-right: 6px;
  .input {
    vertical-align: middle;
    padding: 4px 24px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
    border: 1px solid $site-border-gray;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition : border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition      : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition         : border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
          border-color       : #2692fb;
          outline            : 0;
          -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(38, 146, 251, .6);
          box-shadow         : inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(38, 146, 251, .6);
    }
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:first-child {
      left: 7px;
    }
    &:last-child {
      right: 7px;
    }
  }
}
