.container {
  width:875px;
  border-radius: 5px;
  .title {
    font-size:14px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 25px;
  }
  .body {
    width:100%;
    display: flex;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    .left {
      flex:1;
      .img{
        width: 150px;
        height: 150px;
        margin:0 auto 10px;
        position: relative;
        .pic{
          width:100%;
          height:100%;
          display: block;
        }
        .upload{
          width:100%;
          height:30px;
          position: absolute;
          bottom:0;
          left: 0;
          background-color: rgb(246,246,246);
          box-sizing: border-box;
          border:1px solid #cccccc;
          border-radius: 2px;
          input{
            visibility: hidden;
          }
        }
      }
      p.tip{
        font-size:12px;
        color: rgb(153,153,153);
        text-align: center;
        margin-bottom: 24px;
      }
    }
    .right {
      flex: 1;
    }
    span.label{
      width:80px;
      line-height: 30px;
      font-size:16px;
      color:rgb(102,102,102);
      display: block;
      float: left;
      text-align: right;
    }
    p.text-1{
      height:30px;
      margin-bottom: 20px;
      input {
        outline: none;
        border:1px solid #ccc;
        border-radius: 5px;
        height:100%;
        width:310px;
        visibility: visible;
        padding:9px;
        box-sizing: border-box;
        display: block;
        float: left;
      }
    }
    p.text-2{
      width:390px;
      height:30px;
      margin-bottom: 20px;
      display: flex;
      select {
        outline: none;
        flex:1;
        height: 100%;
        border:1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    p.textarea-1 {
      overflow: hidden;
      margin-bottom: 20px;
      textarea {
        width:310px;
        height:78px;
        border:1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
  .footer {
    width:190px;
    margin:0 auto;
    overflow: hidden;
    button{
      cursor: pointer;
      outline: none;
      width:85px;
      height:30px;
      font-size:14px;
      line-height: 30px;
      text-align: center;
      border-radius: 5px;
      padding: 0;
      &.cancel {
        border:1px solid #ccc;
        float: left;
      }
      &.sure {
        background-color: rgb(38,146,251);
        color: #ffffff;
        float: right;
        border:none;
      }
    }
  }
}
