@import 'src/styles/v/var';

.root {
  overflow: hidden;
  border-top: 1px solid #eee;
}
.item {
  & > a {
    display: block;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    &:hover {
      border-color: $site-blue;
      color: $site-blue;
    }
    &.active {
      border-radius: 2px;
      border-color: $site-blue;
      color: #fff;
      background: $site-blue;
    }
    & > i {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
} 
