$white-color: #ffffff;
$blue-color: #2692fb;
$bluedark-color: #208df7;  //btn:hover
$red-color: #fc5c63;
$black-color: #000000;
$grayf-color: #f6f8f9;
$graye-color: #eeeeee;
$gray3-color: #333333;
$gray6-color: #666666;
$gray9-color: #999999;
//form-color 
  $form-success-color: #3c763d;
  $form-warning-color: #8a6d3b;
  $form-error-color: #a94442;
//text-size
  $text-font-size: 20px;
//font-line-height
  $text-line-height: 40px;
//padding
  $default-padding-top: 40px;
  $default-padding-bottom: 40px;
  $default-padding-left: 40px;
  $default-padding-right: 40px;
//宽高
  $default-width: 100px;
  $default-height: 100px;
//float
@mixin float-left { float: left;}
@mixin float-right { float: right;}
//border
@mixin border-bottom{ border-bottom: 1px solid $graye-color;}
@mixin border-top{ border-top: 1px solid $graye-color;}
@mixin border-right{ border-right: 1px solid $graye-color;}
@mixin navselect-bottom{
  border-bottom: 2px solid $blue-color;
  background: url(../../routes/Home/assets/sanjiao.png) no-repeat bottom center;
}
.core-layout__viewport {
    padding-top: 70px;
}
