//text-size
  $text-font-size: 18px;
  $homefhSize: 22px;
  $homefpSize: 14px;
//font-line-height
$text-line-height: 40px;
//text-line-heigh
  $text-line-height: 40px;
//text-color
  $text-white-color: #ffffff;
  $text-blue-color: #2692fb;
  $text-red-color: #fc5c63;
  $text-bggray-color: #f6f8f9;
  $text-black-color: #000000;
  $text-gray3-color: #333333;
  $text-gray6-color: #666666;
  $text-gray9-color: #999999;
  
//bg-color
  $bg-white-color: #ffffff;
  $bg-gray-color: #f6f8f9;
  $bg-blue-color: #2692fb;
//btn-color
  $btn-white-color: #ffffff;
  $btn-blue-color: #2692fb;
  $btn-darkblue-color: #177fe4;
  $btn-bggray-color: #f6f8f9;
  $btn-black-color: #000000;
//border-color
  $border-gray-color: #eeeeee;
  $border-blue-color: #2692fb;
//form-color 
  $form-success-color: #3c763d;
  $form-warning-color: #8a6d3b;
  $form-error-color: #a94442;
//padding
  $default-padding-top: 40px;
  $default-padding-bottom: 40px;
  $default-padding-left: 40px;
  $default-padding-right: 40px;
//img-size
  $img-width: 100px;
  $img-height: 100px;
//宽高
$view-width: 1100px;
$view-margin: 0 auto;
$header-height: 60px;
$navsecond-height: 50px;
  $navsecond-padding-left: 190px;
  $navsecond-font-size: 16px;
$navThird-width: 200px;
  $navThirdLi-height:40px;
  $navThirdli-padding-left: 20px;
$ccContent-width: 890px;
$reminder-height: 40px;
//float
@mixin float-left { float: left;}
@mixin float-right { float: right;}
//line
$border-top: 1px solid $border-gray-color;
@mixin line-bottom{ border-bottom: 1px solid $border-gray-color;}
@mixin line-top{ border-bottom: 1px solid $border-gray-color;}
@mixin line-right{ border-right: 1px solid $border-gray-color;}
@mixin navselect-bottom{
  border-bottom: 2px solid $btn-blue-color;
  background: url(../../routes/Home/assets/sanjiao.png) no-repeat bottom center;
}
.core-layout__viewport {
    padding-top: 70px;
}
