@import 'src/styles/v/base.scss';
.content {
  width: 760px;
  background: #fff;
 
  .tableWrapper {
    margin-top: 10px;
    height: 340px;
    overflow: auto;
    border: 1px solid #dedede;
    .table {
      tr {
        border-bottom: 1px solid #eee;
      }
      td {
        text-align: center;
        &.imgWrap {
          width: 100px;
          img {
            width: 80px;
            height: 80px;
            display: block;
            margin: auto;
            overflow: hidden;
            border-radius: 5px;
          }
        }
        &.appInfo {
          width: 300px;
          text-align: left;
          .name {
            color: #000;
            width: 240px;
            display: inline-block;
            vertical-align: middle;
            @include text-overflow;
          }
          &>i {
            display: inline-block;
            vertical-align: middle;
          }
          .desc {
            color: #666;
            width: 290px;
            max-height: 35px;
            font-size: 12px;
            line-height: 1.5;
            margin-top: 10px;
            text-align: justify;
            @include multiple-text-overflow;
          }
          .link {
            color: #999;
            font-size: 12px;
            width: 290px;
            margin-top: 10px;
            display: block;
            @include text-overflow;
            &>i {
              color: #b3b3b3;
              font-size: 13px;
              vertical-align: -1px;
            }
          }
        }
        &.price {
          width: 88px;
          .name {
            font-size: 14px;
          }
        }
        .vStatus {
          margin-top: 8px;
          font-size: 14px;
          &:first-child {
            margin-top: 0;
          }
          .version,
          .text {
            display: inline-block;
            vertical-align: middle;
          }
          .version {
            margin-right: 10px;
          }
          .round {
            width: 8px;
            height: 8px;
            margin: 0 5px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }
        }
        &.actions {
          width: 112px;
          .tableBtn {
            color: #666;
            width: 85px;
            height: 30px;
            display: block;
            font-size: 12px;
            margin: 5px auto;
            line-height: 28px;
          }
        }
      }
    }
  }
}
