@import "../../../../layouts/CoreLayout/CoreLayout";

.sub-container{
  @include sub-container;
}
.user-img{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
  background: url(../../../Home/assets/nav_logo.png) no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.open-list-start{
  position: absolute;
  top: 6px;
  right: 36px;
  i{
    position: absolute;
    font-size: $text-font-size + 2px;
  }
}
.icon-uncollected{
  background: $white-color;
  &:hover{
    opacity: 0;
  }
}
.icon-start-hover{
  color: #2692fb;
}
