@import 'src/styles/v/var';

:global {
  .header-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: #fff;
    overflow: hidden;
    .bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      border-top: 2px solid $site-blue;
      border-bottom: 1px solid #aaa;
    }
  }

  .site-header {
    height: 100%;
    width: $site-content-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-title {
    .home-link,
    .small {
      display: inline-block;
      vertical-align: middle;
    }
    .site-logo,
    .text {
      display: inline-block;
      vertical-align: middle;
    }
    .site-logo {
      height: 45px;
      width: 45px;
      background: url(../../routes/Home/assets/nav_logo.png) no-repeat;
      background-size: 100%;
    }
    .text {
      color: $site-blue;
      font-size: 26px;
      margin: 0 10px;
      padding-right: 10px;
      border-right: 1px solid $site-border-gray;
    }
    .small {
      font-size: 16px;
    }
  }

  .nav-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .site-nav {
    height: 100%;
    display: flex;
    &>li {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 20px;
      &>a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        position: relative;
        border-bottom: 2px solid transparent;
        .triangle {
          display: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          transform: translateX(-50%);
          border: 4px solid transparent;
          border-bottom-color: #2692fb;
        }
        &:hover,
        &.active {
          color: $site-blue;
          border-bottom-color: #2692fb;
          .triangle {
            display: block;
          }
        }
      }
    }
  }
}
.search {
  width: 120px;
  input {
    border-radius: 15px;
    background: #efefef;
  }
}