@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
$border-color:#dddddd;
$text-color:#020202;
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.form-row{
    width: $sub-container-width;
    padding: $default-margin-top - 12px 93px $default-margin-bottom + 5px 80px;
    @include clx;
    overflow: hidden;
    background: $white-color;
    &:not(:first-child){
        padding-top: 0;
    }
    label{ 
        width: $default-width - 22px; 
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        padding-left: $default-padding-left - 29px; 
        margin-right: 31px; 
        line-height: $text-line-height - 10px; 
        @include float-left; 
        text-align: right;
        position: relative;
        i{
            position: absolute;
            top: 1px;
            left: 657px;
        }
    }
    .labelH{
      height:30px;
    }
    .row-right{
        margin: 0;
        @include float-left; 
        input[type="text"]{
            width: 574px; 
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding: 0 30px 0 $default-padding-left - 31px;
            outline: none;
        }
        input[type="text"]::selection{
            background: #ace4fe;
        }
        textarea{
            width: 574px; 
            height: $default-height + 40px; 
            border: 1px solid $border-color; 
            resize: none;
            outline: none;
            padding: $default-padding-left - 30px;
            line-height: 24px;
            font-size: 16px;
            color: #000;
        }
        select{
             width: 199px; 
             height: $default-height - 72px; 
             font-size: $text-font-size - 7px;  
             padding: 0 $default-padding-left - 32px; 
             outline: none;
             appearance:none;
             -moz-appearance:none;
             -webkit-appearance:none;
             background: url(../../../../Home/assets/arrD.png) no-repeat 178px center;
             background-size: 12px 6px;
             cursor: pointer;
             border:1px solid $border-color;
        }
        p{
            font-size: $text-font-size - 7px; 
            color: $gray9-color; 
            line-height: $text-line-height - 16px;
        }
        span{
            display: block;
            position: relative;
            cursor: pointer;
            input[type="button"]{
                width: 199px; 
                height: $default-height - 67px; 
                line-height: $text-line-height - 10px; 
                text-align: center; 
                font-size: $text-font-size - 6px; 
                color: $black-color; 
                display: block; 
                border: 1px solid $border-color; 
                border-radius: 2px; 
                background: $white-color; 
                position: relative; 
                margin: $default-margin-top - 20px 0 $default-margin-bottom - 17px;
                cursor: pointer;
            }
            input[type="file"]{
                width: 199px; 
                height: $default-height - 67px; 
                position: absolute; 
                left: 0; 
                top: 0; 
                opacity: 0; 
                filter: alpha(opacity=0); 
                cursor: pointer;
            }
        }
        img{
            width: $default-width;
            height: $default-height;
            margin-right:$default-margin-right - 35px;
        }
        ul{
            overflow: hidden;
        }
        li{
            width: $default-width - 26px;
            height: $default-height - 71px;
            line-height: 25px;
            font-size: $text-font-size - 7px;
            color: $graya-color;
            text-align: center;
            border: 1px solid $border-color;
            border-radius: 2px;
            float: left;
            margin: 0 $default-margin-right - 20px $default-margin-bottom - 20px 0;
            cursor: pointer;
            &.active,&:hover{
                background-color: dodgerblue;
                color: $white-color;
                border-color: dodgerblue;
            }
        }
        .label-message{
            margin-top: -20px;
        }
        .downLoad{
            width:223px;
            height: 47px;
            line-height: 47px;
            text-align: center;
            color: #a0a0a0;
            border: 1px solid #a0a0a0;
            margin-right:22px;
            font-size: 16px;
            border-radius: 4px;
            margin: 0 10px 0 0;
            float: left; 
            &:hover{
                color: #1a8ffe;
                border-color: #1a8ffe;
            }
            i{
                vertical-align: middle;
                font-size: 26px;
                margin-right:4px;
            }
        }
        
        /*第二步应用文件样式start*/
        
        .file-name{
            width:$default-width + 100px;
            height: $default-height - 71px; 
            font-size: $text-font-size - 5px; 
            color: $text-color; 
            border: 1px solid $border-color; 
            padding-left: $default-padding-left - 31px;
            outline: none;
            margin-right: $default-margin-right - 30px;
            float: left;
        }
        .file-btn{
            width: $default-width - 52px;
            height: $default-height - 71px; 
            line-height:$text-line-height - 11px;
            font-size: $text-font-size - 5px;
            border: 1px solid $border-color; 
            text-align: center;
            cursor: pointer;
            float: left;
            background: #efefef;
        }
        /*第二步应用文件样式end*/
    }
    .row-right.max-width{
        width: 574px;
    }
}
.form-btn{
    width: $sub-container-width;
    background: $white-color;
    padding: 0 93px 0 80px;
    height: 110px;
    text-align: center;
    div{
        border-top: 1px solid #ededed;
        button{
            width: $default-width + 32px;
            height: $default-width - 65px;
            background: #2692fb;
            border-radius: 2px;
            border: 0;
            font-size: $text-font-size - 7px;
            color: $white-color;
            line-height: $text-line-height - 5px;
            margin-top: 31px;
            margin-right: $default-margin-right - 30px;
            display: inline-block;
            cursor: pointer;
        }
         button:last-child{
            margin-right: 0;
        }
        .previous{
            background: $white-color;
            border: 1px solid $gray6-color ;
            color: $black-color;
            line-height: 29px;
        } 
    }
} 
.form-btn div .row-btn{
    margin-right: 10px;
}
.row-select{
    margin-right:10px;
}
.floatL{
  float:left;
}