@import "../../../../../layouts/CoreLayout/CoreLayout.scss";
$step_background:#eff3f3;
$step_rotate_background:#c2c6d0;
$branch_line_background:#bbbfca;

.step{
    width: $sub-container-width;
    background: $white-color; 
    padding: 0 $default-padding-left - 25px;
    h2{
        font-size: $text-font-size - 4px; 
        color: $black-color; 
        height: $default-height - 51px; 
        line-height: $default-height - 51px; 
        padding-left: $default-padding-left - 29px;
    }
    .branchBox{
        background: $step_background; 
        padding: $default-padding-top - 15px $default-padding-left + 12px  $default-padding-bottom - 28px; 
        @include clx;
        .branch{
            @include float-left; 
            text-align: center;
            span:first-child{
                width: $default-width - 33px; 
                height: $default-height - 33px; 
                display: block;
                border-radius: 50%; 
                background: $step_rotate_background; 
                box-shadow: 5px 5px 5px rgba(209,211,218,0.23) inset;
                font-size: $text-font-size + 15px; 
                color: $white-color; 
                line-height: $default-height - 33px; 
                text-align: center; 
                margin: 0 $default-padding-left - 13px $default-padding-bottom - 30px;
            }
            span:last-child{
                font-size: $text-font-size - 6px; 
                color: $gray6-color;
            }
        }
        .branch.active{
          span:first-child{
           background: -moz-linear-gradient(top,#57acff,$blue-color); 
           background: -webkit-gradient(linear,top,from( #57acff),to($blue-color));
           background: -webkit-linear-gradient(top, #57acff,$blue-color);
           background: -o-linear-gradient(top, #57acff,$blue-color);
          }
          span:last-child{
            color: $blue-color;
          }
        }
        .branchBox-line{
            width: $default-width + 80px; 
            height: $default-height - 98px; 
            background: $branch_line_background; 
            @include float-left;
            margin-top: $default-margin-top - 8px;
        }
    }
}
