@import "~layouts/CoreLayout/CoreLayout";
@import "~styles/_base.scss";
.list-page{
  margin: 20px 0 10px;
  overflow: hidden;
  span{
    display:inline-block;
    margin:5px 2px;
  }
  .page-num{
    padding:3px 8px;
    font-size:14px;
    color: #333;
    background:#fff;
    border:1px solid #dfdfdf;
    border-radius:2px;
    &:hover{
      color:#fff;
      background:#2692fb;
      border-color:#2692fb;
    }
  }
  .page-num.active{
    color:#fff;
    background:#2692fb;
    border-color:#2692fb;
  }
  .page-num.curr{
    color:#fff;
    background:#2692fb;
    border-color:#2692fb; 
  }
  select{
    margin:0 6px;
    height: 24px;
    color: #333;
    border-color: #dfdfdf;
  }
  .page-selectbox{
    padding-left: 14px;
  }
  .page-select{
    width: 60px;
  }
  .num-select{
    width: 78px;
  }
  .fr{
    float: right;
  }
}